
$md: 1280px;
$sm: 1023px;
$xs: 767px;

.en,
.ttl-en {
  font-family: "Josefin Sans", serif;
}

@mixin md { //max 1280px
  @media (max-width: ($md)) {
    @content;
  }
}
@mixin sm { //max 1023px
  @media (max-width: ($sm)) {
    @content;
  }
}
@mixin xs { //max 767px
  @media (max-width: ($xs)) {
    @content;
  }
}

