@use "_var";

//Page Privacy
#privacy{
  picture{
    display: block;
  }
  p, h3{
    font-size: 18px;
    font-weight: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: left;
    color: #2a4852;
  }
  a:hover{
    opacity: .8;
  }
  .h12{
    height: 12px;
  }
  .privacy-banner{
    position: relative;
    picture{
      height: 417px;
    }
    picture img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .ttl{
      font-size: 40px;
      line-height: 1.5;
      width: calc(100% - 160px);
      max-width: 1120px;
      height: fit-content;
      position: absolute;
      bottom: 127.6px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .privacy-content{
    .inner{
      width: calc(100% - 40px);
      max-width: 960px;
      padding:78px 0 142px 0;
      .heading-entry{
        .heading-block span{
          text-align: center;
          display: block;
        }
        .sub-ttl{
          font-weight: 600;
          font-size: 40px;
          text-align: center;
        }
      }

      .privacy-list{
        margin-top:56.7px;
        .privacy-item{
          h3{
            margin-bottom: 16px;
          }

          .text{
            padding-left:18px;
          }
          a{
            color:#3737de;
          }
          .logo{
            margin-top:22px;
            width: 103px;
          }
          margin-bottom: 44px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }


}

@include var.xs{
  #privacy{
    .privacy-banner{
      picture{
        height: 415px;
      }
      .ttl{
        font-size: 36px;
        width: calc(100% - 10px);
        max-width: 1120px;
        bottom: 113px;
      }
    }

    .privacy-content{
      .inner{
        width: calc(100% - 34px);
        padding: 45px 0 237px 0;
        .privacy-list {
          margin-top: 30px;
          .privacy-item{
            margin-bottom: 36px;
            .text{
              padding-left: 23px;
            }
            a{
              line-break: anywhere;
            }
          }
        }
      }
    }
  }
}


#contact-form{
  .contact-header{
    padding-top: 80px;
    padding-bottom: 36px;

    .header-entry{
      text-align: center;

      .sub-ttl{
        font-size: 40px;
        line-height: 53px;
        color: #173C49;
        margin-bottom: 14px;

        @include var.xs{
          max-width: 300px;
          margin: 0 auto 50px;
          line-height: 46px;

        }

      }

      .text{
        color: #2A4852;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
      }

    }
  }
}

.contactForm{
  background: #F3F3F3;
  padding-top: 45px;
  padding-bottom: 60px;

  &.confirm_download_seminar_movie{
    padding-top: 0;
  }

  &.confirm_download{
    padding-top: 0;
  }

  @include var.xs{
    .inner{
      padding: 0 25px;
    }
  }

  .table-contact{
    max-width: 576px;
    margin: auto;
  }

  .title-check{
    font-size: 18px;
    line-height: 28px;
    color: #2A4852;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .all-radio{
    max-width: 370px;
    margin: auto;

    .wpcf7-radio{
      display: flex;
      flex-direction: column;
    }

    input{
      display: none;

      &:checked ~ .wpcf7-list-item-label:after{
        opacity: 1;
      }
    }

    .wpcf7-list-item-label{
      position: relative;
      font-size: 18px;
      line-height: 28px;
      color: #2A4852;
      font-weight: 400;
      padding-left: 42px;
      display: block;
      margin-bottom: 20px;

      @include var.xs{
        font-size: 16px;
        line-height: 24px;
        padding-left: 34px;
      }

      &:before{
        content: "";
        position: absolute;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        border: 1px solid #2A4852;
        background: #fff;
        top: 0px;
        left: 0;

        @include var.xs{
          width: 22px;
          height: 22px;
        }

      }

      &:after{
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        background: #2A4852;
        top: 5.5px;
        left: 5.5px;
        border-radius: 50%;
        opacity: 0;
        transition: .2s;

        @include var.xs{
          width: 13px;
          height: 13px;
          top: 5px;
          left: 5px;
        }

      }

    }

    .wpcf7-list-item{
      margin: 0;
    }

  }

  .title-input{
    font-size: 18px;
    line-height: 28px;
    color: #2A4852;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 6px;
    margin-bottom: 4px;
  }

  li{
    margin-bottom: 32px;

    input{
      border: 1px solid #2A4852;
      height: 40px;
      background: #fff;
      border-radius: 10px;
      font-size: 18px;
      color: #2A4852;
      font-weight: 400;
      padding: 5px 15px;

      &::placeholder{
        color: rgba(42,72,82,.36);
      }

    }

    textarea{
      border: 1px solid #2A4852;
      font-size: 18px;
      color: #2A4852;
      font-weight: 400;
      padding: 10px 15px;
      line-height: 28px;
      background: #fff;
      border-radius: 10px;
      height: 220px;
      font-family: hiragino-kaku-gothic-pron, sans-serif;

      &::placeholder{
        color: rgba(42,72,82,.36);
      }

    }

    .text-reque{
      font-size: 14px;
      line-height: 1;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 20px;
      background: #E48121;
      border-radius: 6px;
    }

    .value-input{
      font-size: 18px;
      line-height: 28px;
      color: #2a4852;
      font-weight: bold;
    }

  }

  .agree{
    text-align: center;
    margin-bottom: 15px;

    input{
      display: none;

      &:checked ~ .wpcf7-list-item-label:after{
        opacity: 1;
      }

    }

    .wpcf7-list-item{
      margin: 0;
    }

    .wpcf7-list-item-label{
      padding-left: 32px;
      position: relative;
      font-size: 16px;
      line-height: 26px;
      color: #2A4852;
      font-weight: 400;
      display: block;
      text-align: left;

      @include var.xs{
        line-height: 20px;
      }

      a{
        color: #2A4852;

        &:hover{
          text-decoration: underline;
        }
      }

      &:before{
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        border: 1px solid #2A4852;
        background: #fff;
        top: -4px;
        left: 0;
        box-sizing: border-box;
      }

      &:after{
        content: "";
        position: absolute;
        left: 8px;
        top: -2px;
        width: 7px;
        height: 14px;
        border: solid #2A4852;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        transition: .2s;
        opacity: 0;
      }

    }
  }

  .recaptcha-form{
    .cf7sr-g-recaptcha{
      >div{
        margin: auto;
      }
    }

    .wpcf7-not-valid-tip{
      text-align: center;
    }

  }

  .btn-contact{
    display: flex;
    justify-content: center;
    padding-top: 35px;

    .btn{
      position: relative;
      width: 100%;
      max-width: 365px;
    }

    .wpcf7-spinner{
      position: absolute;
      margin: 0;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }

    .wpcf7-submit{
      width: 100%;
      margin: auto;
      background: #1AA1D5;
      border-radius: 40px;
      height: 60px;
      color: #fff;
      font-size: 21px;
      line-height: 40px;
      font-weight: bold;
      border: 1px solid #1AA1D5;
      transition: .2s;
      cursor: pointer;
      padding: 0;

      &:hover{
        background: #fff;
        color: #1AA1D5;
      }

    }

    &.submit-back{

      input{
        width: 100%;
        margin: auto;
        background: #fff;
        border-radius: 40px;
        height: 60px;
        color: #1AA1D5;
        font-size: 21px;
        line-height: 40px;
        font-weight: bold;
        border: 1px solid #1AA1D5;
        transition: .2s;
        cursor: pointer;
        padding: 0;
        //display: block !important;

        &:hover{
          background: #1AA1D5;
          color: #fff;
        }

      }

    }

  }

  .wpcf7-response-output{
    font-size: 16px;
    line-height: 26px;
    color: #2a4852;
    font-weight: 400;
    border: 0;
  }

}

.contact-banner{
  background: #F3F3F3;
  margin-top: 65px;
  margin-bottom: 70px;
  padding: 55px 0;

  @include var.xs{
    margin-top: 63px;
    margin-bottom: 76px;
  }

  .info-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    row-gap: 20px;

    @include var.md{
      column-gap: 30px;
    }
  }

  .title{
    font-size: 18px;
    line-height: 26px;
    color: #2A4852;
    font-weight: 400;

    @include var.xs{
      font-size: 16px;
    }

  }

  .mid-content{
    .t1{
      font-size: 18px;
      line-height: 27px;
      color: #E48121;
      font-weight: bold;

      span{
        display: inline-block;
        position: relative;
        top: 2px;
        padding-left: 4px;
      }
    }

    .text{
      font-size: 16px;
      line-height: 24px;
      color: #2A4852;
      font-weight: 400;
    }
  }

  .tel-info{
    color: #E48121;
    font-size: 38px;
    line-height: 48px;
    font-weight: 400;
  }

}

.download-tabs{
  padding-top: 62px;
  padding-bottom: 50px;

  @include var.xs{
    padding-top: 35px;
    padding-bottom: 42px;
  }

  .tabs-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 40px;
    max-width: 1080px;
    margin: auto;

    @include var.sm{
      column-gap: 20px;
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      row-gap: 15px;
      max-width: 240px;
      margin: auto;
    }

    label{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border: 1px solid #2A4852;
      font-size: 18px;
      line-height: 28px;
      color: #2A4852;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 40px;
      transition: .3s;

      &:hover,
      &.is-active{
        background: #2A4852;
        color: #fff;
      }

      input{
        display: none;
      }

    }
  }
}


.article-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 50px;
  row-gap: 86px;

  @include var.sm{
    column-gap: 25px;
    row-gap: 65px;
  }

  @include var.xs{
    grid-template-columns: repeat(1,1fr);
    column-gap: 0px;
    row-gap: 70px;
    max-width: 400px;
    margin: auto;
  }

  .article-item{
    .link-post{
      display: block;
    }

    .image-post{
      position: relative;
      display: block;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #2A4852;
      overflow: hidden;
      margin-bottom: 30px;
      padding-bottom: 75.4%;

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

    }
  }

  .article-item-video{
    .img-video{
      position: relative;
      display: block;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #2a4852;
      overflow: hidden;
      margin-bottom: 30px;
      padding-bottom: 75.4%;
      cursor: pointer;

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

    }

    .title-video{
      font-size: 24px;
      line-height: 31px;
      color: #2a4852;
      font-weight: 700;
      transition: .3s;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-bottom: 20px;
      min-height: 62px;

      @include var.sm{
        font-size: 18px;
        line-height: 26px;
        min-height: 52px;
      }

      @include var.xs{
        font-size: 24px;
        line-height: 31px;
        min-height: auto;
        margin-bottom: 30px;
      }

    }

    .modal01{
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      z-index: -999;
      background: rgba(0,0,0,.45);

      &.is-open{
        visibility: visible;
        z-index: 9999;
      }

      .modal-content{
        width: calc(100% - 40px);
        max-width: 860px;
        margin: auto;
        position: relative;

        .close{
          position: absolute;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #fff;
          top: -10px;
          right: 0;
          font-size: 30px;
          line-height: 40px;
          cursor: pointer;
          padding-bottom: 5px;

          &:hover{
            opacity: .7;
          }

        }

      }

    }

    a{
      background: #e48121;
      border: 1px solid #e48121;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      font-weight: 700;
      height: 40px;
      border-radius: 40px;
      column-gap: 12px;
      transition: .3s;
      width: 100%;

      &:hover{
        background: #fff;
        color: #e48121;
      }

      @include var.sm{
        font-size: 14px;
      }

      @include var.xs{
        font-size: 18px;
      }

    }

  }

  .category{
    display: flex;
    gap: 8px;
    margin-bottom: 20px;

    a{
      font-size: 18px;
      line-height: 24px;
      color: #2A4852;
      font-weight: 400;
      display: flex;
      border: 1px solid #2A4852;
      height: 30px;
      border-radius: 8px;
      padding: 0 10px;
      align-items: center;
      transition: .3s;
      pointer-events: none;

      @include var.sm{
        font-size: 14px;
        height: 26px;
        line-height: 20px;
      }

      @include var.xs{
        font-size: 18px;
        height: 30px;
        line-height: 30px;
      }

      &:hover{
        background: #2A4852;
        color: #fff;
      }

    }
  }

  .title-post{
    margin-bottom: 12px;

    a{
      font-size: 24px;
      line-height: 31px;
      color: #2A4852;
      font-weight: bold;
      transition: .3s;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;

      @include var.sm{
        font-size: 18px;
        line-height: 26px;
      }

      @include var.xs{
        font-size: 24px;
        line-height: 31px;
      }

      &:hover{
        text-decoration: underline;
      }

    }
  }

  .excerpt{
    font-size: 16px;
    line-height: 28px;
    color: #2A4852;
    font-weight: 400;
    margin-bottom: 20px;

    @include var.sm{
      font-size: 14px;
      line-height: 24px;
    }

    @include var.xs{
      font-size: 16px;
      line-height: 28px;
    }

  }

  .link-page{
    max-width: 240px;
    margin: auto;

    .download-link{
      background: #E48121;
      border: 1px solid #E48121;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      font-weight: bold;
      height: 40px;
      border-radius: 40px;
      column-gap: 12px;
      transition: .3s;
      width: 100%;

      @include var.sm{
        font-size: 14px;
      }

      @include var.xs{
        font-size: 18px;
      }

      &:hover{
        background: #fff;
        color: #E48121;
      }

    }
  }

}


.recuitSupport-feature{
  padding-top: 114px;
  padding-bottom: 110px;
  background: #EDEDEE;

  .title-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 28px;
    line-height: 1.4;
    color: #173c49;
    font-weight: 600;
    background: #fff;
    border-radius: 30px;
    margin-bottom: 67px;
    letter-spacing: -1px;

    p{
      font-family: "Noto Sans JP", sans-serif;
    }

    @include var.xs{
      border-radius: 10px;
      height: 64px;
      font-size: min(5.87vw, 22px);
      margin-bottom: 30px;
    }
  }

  @include var.xs{
    padding-top: 75px;
    padding-bottom: 78px;
  }

  .inner{
    max-width: 1180px;

    @include var.xs{
      padding: 0 18px;
    }
  }

  .recuitSupport-top{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: min(5.85vw, 69px);
    max-width: 1046px;
    margin-right: auto;
    margin-left: auto;

    @include var.xs{
      margin-bottom: 55px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .left-content{
      width: min(35.09vw, 400px);

      @include var.xs{
        width: 100%;
        order: 2;
      }

      .t-box{
        text-align: center;
        margin-bottom: 15px;
        padding-right: 10px;

        @include var.xs{
          padding-right: 0;
          margin-bottom: 13px;
        }
      }

      .t1{
        font-size: min(2.97vw, 35px);
        line-height: 1.25;
        color: #2D799B;
        text-align: center;
        position: relative;
        margin-bottom: 9px;

        span{
          color: #E48121;

          &.required{
            position: relative;

            &:after{
              content: "※";
              position: absolute;
              font-size: 12px;
              line-height: 1;
              color: #2D799B;
              top: 6px;
              right: -8px;

              @include var.xs{
                font-size: 10px;
              }

            }
          }

        }

        @include var.xs{
          font-size: min(7.73vw, 29px);
          line-height: 1.3;
          margin-bottom: 6px;
        }

      }

      .image-logo{
        display: block;
        margin-bottom: 21px;
        overflow: hidden;

        img{
          width: 100%;
          max-width: 384px;
          transition: .3s;
        }
      }

      ul{
        li{
          font-size: min(1.36vw, 16px);
          line-height: 24px;
          color: #2D799B;
          text-align: center;
          border-bottom: 1px solid rgba(45,121,155,.27);
          display: flex;
          justify-content: center;
          align-items: center;
          height: min(4.24vw, 50px);

          span{
            font-size: 26px;
          }

          @include var.xs{
            font-size: 16px;
            height: 50px;

            span{
              font-size: 24px;
              line-height: 24px;
              position: relative;
              top: -2px;
            }
          }

          &:first-child{
            border-top: 1px solid rgba(45,121,155,.27);
          }
        }
      }

      .text-note{
        font-size: 12px;
        line-height: 1.16;
        color: #2D799B;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 400;
        margin-top: 17px;

        @include var.xs{
          padding-left: 23px;
        }
      }

      .ttl-box{
        background: #2D799B;
        text-align: center;
        font-size: min(1.53vw, 18px);
        line-height: 1.2;
        color: #FFFFFF;
        padding: min(0.59vw, 7px) min(2.54vw, 30px);
        display: inline-block;
        border-radius: min(0.85vw, 10px);
        position: relative;

        &:before{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 7px solid #2D799B;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
        }

        @include var.xs{
          font-size: 18px;
          border-radius: 10px;
          padding: 7px 30px;
        }

      }

      .link-page{
        display: flex;
        justify-content: center;
        column-gap: min(1.36vw, 16px);
        margin-top: min(2.63vw, 31px);

        @include var.xs{
          column-gap: min(3.73vw, 16px);
          margin-top: 21px;
        }

        a{
          display: inline-block;
          font-size: min(1.36vw, 16px);
          line-height: 1.625;
          color: #fff;
          background: #2D799B;
          border-radius: 50px;
          padding: 6px min(1.69vw, 20px) 6px min(2.12vw, 25px);
          transition: .3s;

          &:hover{
            opacity: .7;
          }

          svg{
            width: min(1.44vw, 17px);
            height: auto;
          }

          @include var.xs{
            height: 38px;
            font-size: min(4.27vw, 16px);
            line-height: 1.2;
            padding: 0 min(4.53vw, 17px) 0 min(6.67vw, 25px);
            align-items: center;
            display: flex;
            justify-content: center;
            column-gap: 6px;

            svg{
              width: min(4.53vw, 17px);
            }
          }

          &.btn-inquiry{
            background: #1AA1D5;
          }
        }
      }

    }

    .right-content{
      width: calc(100% - min(35.09vw, 400px));

      @include var.xs{
        width: 100%;
        order: 1;
      }
    }

    &:nth-child(1){
      .right-content{
        padding-left: 18px;
        margin-top: 21px;

        @include var.xs{
          padding-left: 0;
          margin-top: 0;
          margin-bottom: 16px;
        }

      }

      @include var.xs{
        .left-content{
          .image-logo{
            text-align: center;
            margin-bottom: 17px;
            img{
              max-width: 313px;
            }
          }
        }
      }

    }

    &:nth-child(2){
      max-width: 1062px;

      .right-content{
        padding-right: 53px;
        margin-top: 21px;

        @include var.xs{
          padding-right: 0;
          margin-top: 0;
          margin-left: -7px;
          margin-bottom: 28px;
        }
      }

      @include var.xs{
        .left-content{
          .t-box{
            margin-bottom: 18px;
          }

          .image-logo{
            position: relative;
            margin-right: -8px;
            padding-top: 3px;
            margin-bottom: 17px;

            img{
              max-width: 347px;
            }
          }
        }
      }

    }

  }

}

.compatible-countries{
  padding-top: 45px;

  @include var.xs{
    padding-top: 52px;
  }

  .title-box{
    margin-bottom: 44px;

    @include var.xs{
      margin-bottom: 34px;
    }
  }

  .countries-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto 33px;

    @include var.xs{
      max-width: 300px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: min(8.53vw, 32px);
      row-gap: min(5.33vw, 20px);
      margin-bottom: 20px;
    }

  }

  .countries-item{
    text-align: center;
  }

  picture{
    display: block;
    margin-bottom: 17px;

    @include var.xs{
      margin-bottom: 9px;
    }

  }

  .ttl{
    font-size: 16px;
    line-height: 1.4;
    color: #163B48;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;

    @include var.xs{
      font-size: min(3.73vw, 14px);
      line-height: 1;
      margin-left: -5px;
      margin-right: -5px;
      letter-spacing: -0.5px;
    }

  }

  .countries-bottom{
    position: relative;
    max-width: 940px;
    margin: auto;
    text-align: center;
    padding-top: 24px;

    @include var.xs{
      padding-top: 28px;
      max-width: 300px;
    }

    &:before{
      content: "";
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='942.084' height='10.35' viewBox='0 0 942.084 10.35'%3E%3Cpath id='Path_1120' data-name='Path 1120' d='M642.084,10.1h-461.3L171.041.353,161.3,10.1H-300' transform='translate(300 0)' fill='none' stroke='%23173c49' stroke-miterlimit='10' stroke-width='0.5'/%3E%3C/svg%3E%0A");
      width: 100%;
      height: 13px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      top: 0;

      @include var.xs{
        width: 300px;
        background-position: center;
        background-size: cover;
        height: 7.5px;
      }
    }

    p{
      font-size: 24px;
      line-height: 1.2;
      color: #163B48;
      font-weight: 500;
      font-family: "Noto Sans JP", sans-serif;

      @include var.xs{
        font-size: 17px;
      }

    }

  }

}

.service-sub-page{
  background: #F3F3F3;
  padding: 90px 0;

  @include var.xs{
    padding: 48px 0;
  }

  .inner{
    max-width: 1140px;

    @include var.xs{
      padding: 0 18px;
    }

  }

  .service-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    @include var.xs{
      max-width: 400px;
      margin: auto;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 30px;
    }

    img{
      width: 100%;
    }
  }

}


.recuitSupport-link{
  padding-top: 90px;

  @include var.xs{
    padding-top: 59px;
  }

  .title-box{
    margin-bottom: 30px;
    letter-spacing: 0;
  }

  .recuitSupportLink-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: min(2.11vw, 24px);
    row-gap: min(1.58vw, 18px);

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0;
      row-gap: 15px;
    }
  }

  .recuitSupport-item{
    background: #CFD0D0;

    &.specific-skills{
      background: #D5828C;
    }

    &.country-engineers{
      background: #189AA2;
    }

    a{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      align-items: center;
      height: 100%;
      min-height: min(11.67vw, 133px);
      max-height: min(11.67vw, 133px);
      transition: .3s;

      @include var.xs{
        min-height: 33.07vw;
        max-height: 33.07vw;
      }

      &:hover{
        img{
          transform: scale(1.15);
        }
      }

      p{
        font-size: min(2.11vw, 24px);
        line-height: 1.33;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 700;
        color: #fff;

        @include var.xs{
          font-size: min(5.87vw, 22px);
          line-height: 1.36;
        }
      }

      &.coming-soon{
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;

        .text{
          font-family: "Oswald", sans-serif;
          font-size: min(2.11vw, 24px);
          line-height: 1.4;
          font-weight: 300;
          color: #727171;

          @include var.xs{
            font-size: min(5.87vw, 22px);
          }
        }

      }

    }

    .image-item{
      position: relative;
      width: 46.8%;
      height: 100%;
      background: #cfd0d0;

      .image-logo{
        position: relative;
        display: flex;
        min-height: min(11.67vw, 133px);
        overflow: hidden;

        @include var.xs{
          min-height: 33.07vw;
          max-height: 33.07vw;
        }

        img{
          transition: .3s;
          width: 100%;
        }
      }
    }

    .info-item{
      width: 53.2%;
      padding-left: min(1.93vw, 22px);

      @include var.xs{
        padding-left: min(5.87vw, 22px);
      }

    }

    .category{
      position: absolute;
      min-width: min(7.72vw, 88px);
      height: min(2.28vw, 26px);
      display: flex;
      justify-content: center;
      align-items: center;
      background: #D5828C;
      padding: 0 min(0.88vw, 10px);
      font-size: min(1.14vw, 13px);
      color: #fff;
      font-family: "Noto Sans JP", sans-serif;
      font-weight: 500;
      top: 0;
      left: 0;
      z-index: 2;

      &.cat-02{
        background: #189AA2;
      }

      @include var.xs{
        font-size: min(3.2vw, 12px);
        height: min(6.4vw, 24px);
        min-width: min(21.87vw, 82px);
        padding: 0 10px;
      }

    }

  }


}


.recuitSupport-list{
  //margin-bottom: 90px;

  @include var.sm{
    padding-right: 0;
  }

  @include var.xs{
    margin-bottom: 0px;
  }

  .recuitSupport-item{
    background: #2D799B;
    border-radius: 37px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 45px 40px 50px 65px;
    color: #fff;
    max-width: 1140px;
    margin: 0 auto 58px;

    &:last-child{
      margin-bottom: 0;
    }

    @include var.sm{
      padding: 50px 30px;
      margin-bottom: 37px;
    }

    @include var.xs{
      padding: 0 0 22px;
      border-radius: 33px;
    }

    &:last-child{
      margin-bottom: 0;
    }

    .recuitSupport-content{
      width: 61.2%;
      padding-right: 50px;

      @include var.xs{
        width: 100%;
        margin-bottom: 17px;
        order: 2;
        padding: 0 14px;
      }

      .title{
        margin-bottom: 24px;

        @include var.xs{
          margin-bottom: 29px;
        }

        h2{
          font-size: 37px;
          line-height: 50px;
          font-weight: 700;

          @include var.sm{
            font-size: 30px;
          }

          @include var.xs{
            font-size: min(8.8vw, 33px);
            line-height: 1;
            text-align: center;
          }

        }

        picture{
          width: calc(100% - 100px);

          @include var.xs{
            width: calc(100% - 78px);
          }

        }

      }

      .number-ja{
        width: 82px;
        height: 82px;
        background: #E48121;
        border-radius: 50%;
        font-size: 35px;
        line-height: 40px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        @include var.xs{
          width: 60px;
          height: 60px;
          font-size: 24px;
          line-height: 36px;
        }

      }

      .info{
        p{
          font-size: 16px;
          line-height: 24px;
          max-width: 540px;
          font-weight: 300;
        }
      }


    }

    .link-page{
      margin-top: 40px;

      a{
        display: flex;
        width: 148px;
        height: 38px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background: #fff;
        border-radius: 40px;
        color: #187b9f;
        padding-left: 2px;

        &:hover{
          opacity: .7;
        }

        svg{
          position: relative;
          margin-left: 8px;
          top: -1px;
        }

      }
    }

    .image-content{
      width: 38.8%;
      border-radius: 37px;
      overflow: hidden;
      margin-top: 5px;

      picture{
        display: block;
        aspect-ratio: 401 / 251;
      }

      @include var.xs{
        width: 100%;
        order: 1;
        margin-top: 0;
        border-radius: 33px 33px 0 0;
        margin-bottom: 29px;
      }

    }

    .list-page{
      width: 100%;
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 14px;

      @include var.sm{
        grid-template-columns: repeat(4,1fr);
      }

      @include var.xs{
        grid-template-columns: repeat(2,1fr);
        margin-top: 0px;
        order: 3;
        padding: 0 20px;
        row-gap: 10px;
      }

      a{
        display: flex;
        width: 100%;
        height: 56px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background: #fff;
        border-radius: 40px;
        color: #187b9f;

        @include var.xs{
          height: 38px;
          font-size: min(4.27vw, 16px);
          line-height: 1.625;
        }

        &:hover{
          opacity: .7;
        }

        &:after{
          content: "";
          position: relative;
          top: -1px;
          margin-left: 8px;
          background-image: url("data:image/svg+xml,%3Csvg id='Group_513' data-name='Group 513' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16.72' height='15.726' viewBox='0 0 16.72 15.726'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_187' data-name='Rectangle 187' width='16.72' height='15.726' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_451' data-name='Group 451' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_184' data-name='Path 184' d='M18.28,58.669H10.342A1.342,1.342,0,0,1,9,57.327V49.389a1.342,1.342,0,0,1,1.342-1.342H18.28a1.342,1.342,0,0,1,1.342,1.342v7.938a1.342,1.342,0,0,1-1.342,1.342' transform='translate(-8.195 -43.748)' fill='%23fff'/%3E%3Cpath id='Path_185' data-name='Path 185' d='M10.085,51.28H2.147A2.15,2.15,0,0,1,0,49.132V41.194a2.15,2.15,0,0,1,2.147-2.147h7.938a2.15,2.15,0,0,1,2.147,2.147v7.938a2.15,2.15,0,0,1-2.147,2.147M2.147,40.657a.537.537,0,0,0-.537.537v7.938a.537.537,0,0,0,.537.537h7.938a.537.537,0,0,0,.537-.537V41.194a.537.537,0,0,0-.537-.537Z' transform='translate(0 -35.554)' fill='%232d799b'/%3E%3Cpath id='Path_186' data-name='Path 186' d='M60.171,10.414a.805.805,0,0,1-.538-1.4l8.236-7.4h-2.8a.805.805,0,0,1,0-1.61h4.9a.805.805,0,0,1,.538,1.4l-9.8,8.8a.8.8,0,0,1-.538.206' transform='translate(-54.054 0.001)' fill='%232d799b'/%3E%3Cpath id='Path_187' data-name='Path 187' d='M169.694,6.013a.805.805,0,0,1-.805-.805V.805a.805.805,0,1,1,1.61,0v4.4a.805.805,0,0,1-.805.805' transform='translate(-153.779)' fill='%232d799b'/%3E%3C/g%3E%3C/svg%3E%0A");
          width: 17px;
          height: 16px;
          background-repeat: no-repeat;
        }

      }
      .coming-soon{
        display: flex;
        width: 100%;
        height: 56px;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        background: rgba(24,91,121,.63);
        border-radius: 40px;
        color: #5D98B2;

        @include var.xs{
          height: 38px;
          font-size: 12px;
          line-height: 1.4;
        }

      }

    }

  }
}

.download-list{
  margin-bottom: 112px;

  @include var.xs{
    margin-bottom: 80px;

    .inner{
      padding: 0 24px;
    }
  }

}

.download-post{
  max-width: 1084px;
  margin: auto;
  display: none;

  &.is-active{
    display: block;
  }

}

.wp-pagenavi{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 10px;

  .current{
    width: 64px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid #2A4852;
    font-size: 12px;
    line-height: 26px;
    color: #fff;
    background: #2A4852;
  }

  a{
    width: 64px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 1px solid #2A4852;
    font-size: 12px;
    line-height: 26px;
    color: #2A4852;
    transition: .3s;

    &.nextpostslink{
      .page-txt{
        padding-bottom: 3px;
      }
    }

    &:hover{
      background: #2A4852;
      color: #fff;
    }

  }
}


.postBanner-top{
  padding-top: 203px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1280' height='652.281' viewBox='0 0 1280 652.281'%3E%3Cg id='Group_617' data-name='Group 617' transform='translate(0 1)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='1280' height='650' fill='%23bedee8' opacity='0.1'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,10.477l473.047,638.41H0Z' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,10.477,85.248,651.377l738.982.9Z' transform='translate(455.77 -1)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding-bottom: 35px;

  @include var.xs{
    padding-top: 190px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='895.646' height='575.512' viewBox='0 0 895.646 575.512'%3E%3Cg id='Group_617' data-name='Group 617' transform='translate(260.323)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='895.646' height='574.892' transform='translate(-260.323)' fill='%23bedee8'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,14.507l299.771,561H0Z' transform='translate(-260.323)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,14.481,247.517,574.892H824.23Z' transform='translate(-273.517)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  .slider-post{
    max-width: 900px;
    margin: auto;

    @include var.xs{
      max-width: 600px;
    }

  }

  .slick-list{
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    margin-bottom: 30px;
  }

  .article-item{
    .link-post{
      display: grid;
      grid-template-columns: repeat(2,1fr);

      @include var.xs{
        grid-template-columns: repeat(1,1fr);
      }

    }

    .image-post{
      display: flex;
      position: relative;
      padding-bottom: 75%;

      @include var.xs{

      }

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

    }

  }

  .cate-date{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    .date{
      font-size: 18px;
      line-height: 28px;
      color: #2A4852;
      font-weight: 400;

      @include var.sm{
        font-size: 14px;
        line-height: 26px;
      }

      @include var.xs{
        font-size: 15px;
        line-height: 20px;
      }

    }

  }

  .title-post{
    font-size: 32px;
    line-height: 42px;
    color: #2A4852;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    @include var.sm{
      font-size: 24px;
      line-height: 32px;
    }

    @include var.xs{
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 8px;
    }

  }

  .excerpt{
    font-size: 16px;
    line-height: 26px;
    color: #2A4852;
    font-weight: 400;

    @include var.sm{
      font-size: 14px;
      line-height: 24px;
    }

    @include var.xs{
      font-size: 13px;
      line-height: 20px;
    }

  }

  .category{
    display: flex;
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #E48121;
      border-radius: 8px;
      height: 30px;
      padding: 0 10px;
      font-size: 18px;
      color: #fff;
      font-weight: 400;

      @include var.sm{
        font-size: 14px;
        height: 26px;
      }

      @include var.xs{
        font-size: 15px;
        line-height: 18px;
        height: 24px;
      }

    }
  }

  .post-info{
    padding: 45px 50px 30px 28px;

    @include var.sm{
      padding: 30px 30px 20px 20px;
    }

    @include var.xs{
      padding: 12px 20px;
    }

  }

  .slick-dots{
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;

    li{
      width: 12px;
      height: 12px;
      background: #2A4852;
      border-radius: 50%;
      transition: .3s;
      cursor: pointer;

      &.slick-active,
      &:hover{
        background: #E48121;
      }

      button{
        font-size: 0;
      }

    }
  }


}

.download-form{
  .title{
    font-size: 18px;
    line-height: 28px;
    color: #2A4852;
    font-weight: 400;
    text-align: center;
    margin-bottom: 65px;
    padding-top: 80px;
  }
}


.header-entry{
  text-align: center;
  margin-bottom: 70px;

  .sub-ttl{
    font-size: 40px;
    line-height: 53px;
    color: #173C49;

    @include var.xs{
      margin: 0 auto 50px;
      line-height: 46px;
    }

  }

  .text{
    color: #2A4852;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

}

#seminar-archive{
  .header-entry{
    margin-bottom: 56px;
  }

  .contact-header{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1280' height='884.597' viewBox='0 0 1280 884.597'%3E%3Cg id='Group_1182' data-name='Group 1182' transform='translate(0 45.315)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='1280' height='882' transform='translate(0 -44)' fill='%23bedee8' opacity='0.1'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,14.227,693.922,881.2H0Z' transform='translate(0 -44.315)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,14.208,85.248,883.37,824.23,884.6Z' transform='translate(455.77 -45.315)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: top center;
    padding-top: 230px;

    @include var.xs{
      padding-top: 150px;
      background-image:url("../images/homepage_bg_main_sp.png")
    }
  }
}


.download-form-header{
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;

  .dl-inner{
    max-width: 775px;
    margin: auto;
    padding: 0 20px;
  }

  .selected-list-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 80px;

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0;
      row-gap: 20px;
    }

    .image-post{
      position: relative;
      border: 1px solid #2A4852;
      border-radius: 20px;
      overflow: hidden;
    }

    .category{
      display: flex;
      margin-bottom: 16px;

      span{
        display: flex;
        height: 30px;
        font-size: 18px;
        line-height: 26px;
        color: #2A4852;
        border-radius: 8px;
        border: 1px solid #2A4852;
        font-weight: 400;
        padding: 0 10px;
      }
    }

    .title-post{
      font-size: 24px;
      line-height: 31px;
      color: #2A4852;
      font-weight: bold;
      margin-bottom: 16px;
    }

    .excerpt{
      font-size: 16px;
      line-height: 28px;
      color: #2A4852;
      font-weight: 400;
    }

  }

}

.seminar-main{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 160px;
  padding-top: 110px;

  @include var.sm{
    padding-top: 80px;
  }

}

.sidebar-seminar{
  width: 240px;

  @include var.xs{
    width: 100%;
    order: 1;
    margin-bottom: 60px;
  }

  .sidebar-title{
    font-size: 28px;
    line-height: 36px;
    color: #2A4852;
    font-weight: bold;
    margin-bottom: 30px;

    @include var.sm{
      font-size: 20px;
    }

    @include var.xs{
      text-align: center;
      font-size: 28px;
    }

  }

  .sub-listMenu{
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @include var.xs{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 10px;
      max-width: 400px;
      margin: auto;
    }

    .is-active{
      a{
        background: #2A4852;
        color: #fff;
      }
    }

    a{
      font-size: 18px;
      line-height: 26px;
      color: #2A4852;
      font-weight: bold;
      display: flex;
      height: 40px;
      border: 1px solid #2A4852;
      border-radius: 40px;
      align-items: center;
      justify-content: center;
      transition: .3s;

      @include var.xs{
        font-size: 14px;
        line-height: 20px;
      }

      &:hover{
        background: #2A4852;
        color: #fff;
      }

    }
  }

}

.all-seminar{
  width: calc(100% - 240px);
  padding-right: 73px;

  @include var.sm{
    padding-right: 40px;
  }

  @include var.xs{
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    order: 2;
  }

  .seminar-main-title{
    font-size: 28px;
    line-height: 36px;
    color: #2A4852;
    font-weight: bold;
    margin-bottom: 30px;

    @include var.sm{
      font-size: 20px;
    }

    @include var.xs{
      font-size: 28px;
      text-align: center;
      max-width: 400px;
      margin: 0 auto 30px;
    }

  }

  .list-columns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 40px;

    @include var.sm{
      grid-template-columns: repeat(2,1fr);
    }

    @include var.xs{
      grid-template-columns: repeat(2,1fr);
    }

    @media (max-width: 550px) {
      grid-template-columns: repeat(1,1fr);
    }

  }

  .info-item{
    .date-time{
      display: flex;
      flex-direction: column;
      font-size: 15px;
      line-height: 24px;
      color: #173c49;
      font-weight: 500;
      margin-bottom: 12px;
    }
  }

  .item-link{
    display: block;
    margin-bottom: 10px;
  }

  .item-column{
    .img-post{
      position: relative;
      padding-bottom: 56%;
      overflow: hidden;

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    .title{
      font-size: 16px;
      line-height: 28px;
      color: #173C49;
      font-weight: bold;
      margin-bottom: 15px;
      transition: .3s;

      &:hover{
        text-decoration: underline;
      }

    }

    .list-tag-column{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      a{
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border: 1px solid #2A4852;
        color: #2A4852;
        font-weight: 400;
        border-radius: 8px;
        height: 30px;
        transition: .3s;

        &:hover{
          background: #2A4852;
          color: #fff;
        }

      }

    }

  }

}

.seminar-special{
  padding-bottom: 35px;

  &.slick-no-action{
    padding-bottom: 60px;
  }

  .title-special{
    font-size: 40px;
    line-height: 53px;
    color: #173c49;
    text-align: center;
    margin-bottom: 40px;
  }

  .slick-dots{
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 15px;
    margin-top: 20px;

    li{
      width: 12px;
      height: 12px;
      background: #2A4852;
      border-radius: 50%;
      transition: .3s;
      cursor: pointer;

      &.slick-active,
      &:hover{
        background: #E48121;
      }
    }

    button{
      display: none;
    }

  }

  .list-columns{
    max-width: 940px;
    margin: auto;
    padding: 0 20px;

    @include var.sm{
      max-width: 680px;
    }

    @include var.xs{
      max-width: calc(100% - 80px);
    }

    .draggable{
      overflow: visible !important;
    }

    .item-column{
      margin: 0 10px;
      padding: 10px 0;

      @include var.xs{
        margin: 0 8px;
      }

    }

    .col-content{
      display: grid;
      grid-template-columns: 49% 51%;
      border-radius: 20px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0 2px 4px rgba(0,0,0,.16);

      @include var.xs{
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .info-item{
      padding: 32px 27px 70px;
      min-height: 370px;
      position: relative;

      @include var.xs{
        padding: 25px 22px 70px;
      }
    }

    @include var.xs{
      grid-template-columns: repeat(2,1fr);
      padding: 0 0px;
      row-gap: 40px;
    }

    @media (max-width: 550px) {
      grid-template-columns: repeat(1,1fr);
    }

    .box-title{
      display: flex;
      margin-bottom: 20px;
    }

    .img-post{
      position: relative;

      a{
        display: block;
        position: relative;
        height: 100%;
        overflow: hidden;

        @include var.xs{
          padding-bottom: 54%;
        }

      }

      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    }

    .title{
      font-size: 20px;
      line-height: 1.5;
      color: #173C49;
      font-weight: bold;
      //overflow: hidden;
      //text-overflow: ellipsis;
      //display: -webkit-box;
      //-webkit-line-clamp: 2;
      //line-clamp: 2;
      //-webkit-box-orient: vertical;
      margin-bottom: 20px;

      &:hover{
        text-decoration: underline;
      }

      @include var.sm{
        font-size: 18px;
      }

    }

    .title-seminar{
      font-size: 16px;
      line-height: 24px;
      padding: 6px 15px;
      background: #E48121;
      border-radius: 10px;
      color: #fff;
      display: inline-block;

      @include var.sm{
        font-size: 14px;
        line-height: 20px;
      }

    }

    .list-tag-column{
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 10px;

      a{
        font-size: 16px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        border: 1px solid #2a4852;
        color: #2a4852;
        font-weight: 400;
        border-radius: 8px;
        height: 26px;

        @include var.xs{
          font-size: 16px;
          height: 24px;
        }
      }

    }

    .date-time{
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      font-size: 16px;
      line-height: 1.5;
      color: #2a4852;
      font-weight: 400;
      margin-bottom: 16px;

      @include var.sm{
        font-size: 14px;
      }

    }

    .link-page{
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 30px;

      @include var.xs{
        bottom: 25px;
      }

      a{
        background: #e48121;
        border: 1px solid #e48121;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        font-weight: 700;
        height: 40px;
        border-radius: 40px;
        column-gap: 12px;
        transition: .3s;
        width: 100%;
        max-width: 240px;
        margin: auto;

        &.disable-url{
          background: #c3c4c7;
          pointer-events: none;
          border-color: #c3c4c7;

          span{
            display: none;
          }
        }

        &:hover{
          background: #fff;
          color: #e48121;
        }

      }
    }

  }
}

#single-seminar{
  .link-contact{
    padding-top: 30px;
    padding-bottom: 45px;

    button{
      background: #e48121;
      border: 1px solid #e48121;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      font-weight: 700;
      height: 40px;
      border-radius: 40px;
      column-gap: 12px;
      transition: .3s;
      width: 100%;
      max-width: 240px;
      margin: auto;

      &:hover{
        background: #fff;
        color: #e48121;
      }

    }
  }
}


.qa-main{
  display: flex;
  flex-wrap: wrap;
  padding-top: 35px;
  padding-bottom: 115px;

  @include var.xs{
    padding-bottom: 80px;
  }

  .title-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;

    .cate{
      font-size: 40px;
      line-height: 50px;
      font-weight: bold;
      color: #000;

      @include var.sm{
        font-size: 28px;
        line-height: 40px;
      }

    }

    .list-cat{
      .item-cate{
        border: 1px solid #2A4852;
        width: 240px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        font-size: 18px;
        line-height: 28px;
        color: #2A4852;

        @include var.sm{
          width: auto;
          padding: 0 15px;
          font-size: 16px;
        }

      }
    }

    .time{
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
    }

  }

  .single-qa{
    width: calc(100% - 240px);
    padding-right: 73px;
    font-size: 18px;
    line-height: 38px;

    @include var.sm{
      padding-right: 40px;
    }

    @include var.xs{
      width: 100%;
      padding-right: 0;
      margin-bottom: 60px;
    }
  }

  .qa-sidebar{
    width: 240px;

    @include var.xs{
      width: 100%;
    }

    .title-seminar{
      font-size: 28px;
      line-height: 36px;
      color: #2a4852;
      font-weight: 700;
      margin-bottom: 30px;
    }

    .sub-listMenu{
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @include var.xs{
        max-width: 240px;
        margin: auto;
      }

      .is-active {
        a{
          background: #2a4852;
          color: #fff;
        }
      }
    }

    .sub-itemMenu{
      a{
        font-size: 18px;
        line-height: 26px;
        color: #2a4852;
        font-weight: 700;
        display: flex;
        height: 40px;
        border: 1px solid #2a4852;
        border-radius: 40px;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &:hover{
          background: #2a4852;
          color: #fff;
        }

      }
    }

  }

}


.qa_detail_single{
  .single-title{
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-weight: bold;
    display: flex;
    column-gap: 10px;
    margin-bottom: 75px;

    .qa_label{
      font-size: 24px;
      line-height: 36px;
      color: #0D22E4;
      font-weight: bold;
    }
  }

  .dt-single{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 10px;

    .qa_label{
      font-size: 24px;
      line-height: 36px;
      color: #FF0000;
      font-weight: bold;
      width: 26px;
    }

    p{
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      color: #000;
      width: calc(100% - 36px);
    }
  }

}


.views-other{
  background: #F3F3F3;
  padding: 80px;
  margin-bottom: 170px;

  @include var.sm{
    padding: 80px 40px;
  }

  @include var.xs{
    padding: 40px 20px;
    margin-bottom: 100px;
  }

  h3{
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    color: #000;
    margin-bottom: 40px;
  }

  .ul-followedposts{
    li{
      border-bottom: 3px solid #FFFFFF;
      padding-bottom: 15px;
      margin-bottom: 15px;

      &:last-child{
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    a{
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      display: block;

      &:hover{
        text-decoration: underline;
      }
    }
  }

}


.page-not-found{
  text-align: center;
  padding: 200px 0;
  font-family: "Montserrat", sans-serif;

  @include var.xs{
    padding: 180px 0 120px;
  }

  h2{
    font-size: min(15.63vw, 200px);
    line-height: 1;
    font-weight: 900;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 40px;
    background-image: url("data:image/svg+xml,%3Csvg id='Group_495' data-name='Group 495' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1280' height='1606.05' viewBox='0 0 1280 1606.05'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_204' data-name='Rectangle 204' width='1280' height='1606.05' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_203' data-name='Rectangle 203' width='1280' height='1606.051' transform='translate(0 -0.001)' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_201' data-name='Rectangle 201' width='1161.57' height='1606.05' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_494' data-name='Group 494' clip-path='url(%23clip-path)'%3E%3Cg id='Group_493' data-name='Group 493'%3E%3Cg id='Group_492' data-name='Group 492' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_199' data-name='Path 199' d='M0,0V1574.544s39.992-39.007,350.746-39.007,424.036,68.839,655.77,70.466S1280,1566.519,1280,1564.03V0Z' fill='%23bedee8'/%3E%3Cg id='Group_488' data-name='Group 488' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'%3E%3Cg id='Group_487' data-name='Group 487'%3E%3Cg id='Group_486' data-name='Group 486' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_200' data-name='Path 200' d='M1006.516,1606c65.923.463,116.465-2.534,155.051-7.115L224.026,0H0V1574.544s39.992-39.007,350.746-39.007,424.036,68.839,655.77,70.466' fill='%23bedee8'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_491' data-name='Group 491' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'%3E%3Cg id='Group_490' data-name='Group 490'%3E%3Cg id='Group_489' data-name='Group 489' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_201' data-name='Path 201' d='M1009.742,0,0,1431.367v143.177s39.992-39.007,350.746-39.007,424.036,68.839,655.77,70.466S1280,1566.519,1280,1564.03V0Z' fill='%23bedee8'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;

    @include var.xs{
      font-size: min(23.47vw, 180px);
      margin-bottom: 20px;
    }

  }

  h4{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;

    @include var.xs{
      font-size: 20px;
    }

  }

  .text{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 0px;

    @include var.xs{
      font-size: 14px;
    }

  }

  a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: #1aa1d5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    height: 60px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px #1aa1d5;
    box-shadow: 0px 4px 15px -5px #1aa1d5;
    margin: auto;
    transition: .3s;

    &:hover{
      opacity: .7;
    }

  }

}


.step-maetra{
  padding: 80px 0 110px;

  @include var.xs{
    padding: 60px 0 50px;
  }

  @include var.xs{
    picture{
      display: block;
      text-align: center;
      margin-top: 20px;
    }

    img{
      max-width: min(80vw, 300px);
      margin: auto;
      width: 100%;
    }
  }

}


