@use "_var";
@use "components/header";
@use "components/footer";
@use "components/top";
@use "components/job-support";
@use "components/service-cloud";
@use "components/life-support";
@use "common";
@use "components/qa-page";