.montserratsb {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight:600;
}
#driver {
    color: black;
}

#driver .h1-page {
    text-align: center;
    margin-bottom: 20px;
    line-height: 47px;
    font-weight: 700;
}
#driver .span-small {
    font-size: 70px;
}
#driver .samll-h1 {
    color: #FFF000;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
    font-size: 80px;
    letter-spacing: 1px;
    display: block;
}
#driver .big-h1 {
    color: #FFF000;
    font-size: 82px;
    letter-spacing: 2px;
    display: block;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
}
#driver .note-title {
    color: white;
    font-weight: 700;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
    font-size: 62px;
    text-align: center;
    letter-spacing: 4px;

}
#driver .banner-page {
    background-image: url(../../images/driver/drive_bg_pc.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 120px 0px 35px;
    height: auto;
}
#driver .banner-page .title-main {
    margin-bottom: 20px;
}
#driver .list-car {
    background-image: url(../../images/driver/drive_bgt_pc.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 50px 30px 50px 0px;
}




#driver .list-car .title-car {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


#driver .list-car .item-car.one {
    width: 36%
}
#driver .list-car .item-car.two {
    width: 35%
}
#driver .list-car .item-car.three {
    width: 29%
}

#driver .list-car .text-title-car {
    text-align: center;
    color: black;
    background: #FFF000;
    padding: 2px 5px;
    font-size: 26px;
    letter-spacing: 1px;
    display: inline-block;
    margin: auto;
    font-weight: 700;
    border-radius: 5px;
}



#driver .list-car .title-car::after {
    position: absolute;
    content: "";
    background-image: url(../../images/driver/driver_arow.png); 
    width: 15px;
    height: 24px;
    left: calc(50% - 7.5px);
    bottom: -23px;
}
#driver .list-car .img-banner {
    display: block;
    margin-top:50px;
}
#driver .list-car .img-banner.three {
margin-top:60px;
}
#driver .list-car .img-banner.two {
margin-top: 35px;
}
#driver  .box-notify {
    position: relative;
    padding: 50px 0px 30px;
    text-align: center;
    z-index: 99;
}


#driver  .box-notify .title-notify {
    background: #FFF000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #0066F6;
    font-weight: 700;
    padding: 2px 45px;
    top: -33px;
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    letter-spacing: 2px;
}



#driver  .box-notify::after {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0px;
    top:0px
}

#driver  .box-notify .content-notify {
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}

#driver .mobi {
    display: none;
}
/* box-way */




#driver .box-way {
    background: #0066F6;
    padding: 3px 0px 52px;
}
#driver .box-way  .box-boder {
width: 304px;
height: 304px;
display: flex;
justify-content: center;
align-items: center;
background: white;
border-radius: 50%;
}
#driver .box-way .box-title-way .img-title {
width: 300px;
height: 300px;
border-radius: 50%;
position: relative;
z-index: 99;
overflow: hidden;
}



#driver .box-way .box-title-way .img-title img {
width: 100%;
height: 100%;
object-fit: cover;
}

#driver .box-way .box-title-way .title-box-content{
    width: calc(100% - 304px);
    padding-left: 15px;
    color: white;
}

#driver .box-way .box-title-way .text-flex {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    letter-spacing: 3px;
}
#driver .box-way .box-title-way .text-main{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 40px;
    letter-spacing: 1px;
}
#driver .box-way .box-title-way .text-main.two {
    margin-bottom: 0px;
}
#driver .box-title-way {
    margin-bottom: 40px;
}
/* list-box-way */

#driver .box-list-way {
    background: #CBE0FD;
    border-radius: 10px;
    padding: 15px 40px;
} 
#driver .box-list-way .title-list {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}

#driver .box-list-way .title-list .text-line {
    position: relative;
    font-size: 68px;
    color: #394E75;
    font-weight: 700;  
    z-index: 99;
    text-align: center;
}
#driver .box-list-way .title-list .text-line.destop {
    display: inline-block
}


#driver .box-list-way .title-list .note-way {
    position: relative;
    font-size: 30px;
    color: #394E75;
    font-weight: 700;  
    text-align: center;
    margin-top: 8px;

}
#driver .box-list-way .title-list .text-line::after {
    position: absolute;
    content: "";
    background:#FFF000;
    height: 10px;
    width: 100%;
    left: 0px;
    bottom: 7px;
    z-index: -1;
}

#driver .list-way .item-way {
    width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 22px;
}
#driver .list-way {
    padding: 0px 0px 0px 50px;
}
#driver .list-way .item-way .img-way {
    width: 120px;
    padding-top: 25px;
}
#driver .list-way .item-way .dl-way {
    width: calc(100% - 140px);
}
#driver .list-way .item-way .dt-way {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2px;
}

#driver .list-way .item-way .dd-way {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
} 
#driver .list-way .item-way .dd-way strong {
    font-weight:500;
}
/* block-price */ 

#driver  .block-price {
    background: rgba(0, 102, 246, 0.44);
    padding: 42px 0px 23px;
}
#driver  .block-price .title-price {
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    color:#394E75;
}
#driver  .block-price .item-price {
    background: #FFF000;
    border-radius: 14px;
    position: relative;
    padding: 15px 5px 25px 28%;
    margin-bottom: 35px;
    max-width: 1200px;
}
#driver  .block-price .item-price .img-price {
    position: absolute;
}
#driver  .block-price .item-price .img-price.one {
left: -70px;
top: -5px;
max-width: 33%;
}
#driver  .block-price .item-price .img-price.two {
left: -85px;
top: 5px;
max-width: 35%;
}
#driver  .block-price .item-price .img-price.three {
left: -60px;
top: 10px;
max-width: 32%;
}
#driver  .block-price .box-title-price {
    align-items: center;
    justify-content: start;
    margin-bottom: 5px;
}
#driver  .block-price .text-01 {
    width: 410px;
    color: #394E75;
    font-size: 53px;
    font-weight: 700;
    letter-spacing: 2px;
}
#driver  .block-price .text-02 {
    width: 102px;
    height: 102px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #394E75;
    font-weight: 500;
}


#driver  .block-price  .text-03 {
    font-size: 75px;
    padding-left: 15px;
    font-weight: 700;
    color: #394E75;
    letter-spacing: 2px;
}
#driver  .montserrat {
    font-weight: 700 !important;
}
#driver  .block-price  .small-price {
    font-size: 40px;
    font-weight: 700;
}

#driver  .block-price .text-04 {
    font-size: 24px;
    font-weight: 400;
    position: relative;
    padding-left: 30px;
    color: #394E75;
}
#driver  .block-price .text-04::after {
    position: absolute;
    content: ".";
    font-size: 34px;
    left: 10px;
    top: -17px;
    color: #394E75;
    font-weight: 700;
}
#driver  .block-price .text-05 {
    font-size: 18px;
    font-weight: 400;
    color: #394E75;
    position: relative;
    padding-left: 25px;
}

#driver  .block-price .text-05::after {
    position: absolute;
    content: "※";
    font-size: 18px;
    left: 10px;
    top: 0px;
    color: #394E75;
    font-weight: 700;
}
/* #driver categary */


#driver .list-categary {
    background: #0066F6;
    padding: 50px 0px 50px;
    text-align: center;
}
#driver .list-categary .tilte-categary {
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: white;
    font-weight: 700;
}

#driver .content-categary img {
    width: 100%;
}
#driver .box-way  .box-boder.mobi {
    display: none;
}

#driver .contact-driver {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
#driver .contact-driver .link-box {
    padding: 10px 40px 13px;
    background: #0066F6;
    border: 2px solid white;
    margin: auto;
    max-width: 306px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    display: block;
    margin-top: 20px;
    transition: 0.5s;
}
#driver .contact-driver .link-box:hover {
    background: white;
    color: #0066F6;
    opacity: 1 !important;
}


@media (max-width: 1200px) {
    #driver .h1-page {
        line-height: 25px;
    }
    #driver .samll-h1 {
        font-size: 40px;
        letter-spacing: 1px;
    }
    #driver .span-small {
        font-size: 40px;
    }
    #driver .big-h1 {
        color: #FFF000;
        font-size: 42px;
        letter-spacing: 2px;
    }
    #driver .note-title {
        font-size: 32px;
        letter-spacing: 2px;
    }
    #driver .box-notify .content-notify {
        font-size: 16px;
        line-height: 32px;
    }
    #driver .box-way .box-title-way .text-main {
        font-size: 14px;
        line-height: 32px;
    }

    #driver .box-list-way .title-list .text-line {
        font-size: 50px;
        text-align: center;
    }

    #driver .box-list-way .title-list .note-way {
        font-size: 22px;
        margin-top: 2px;
    }
    #driver .box-list-way .title-list .text-line::after {
        height: 10px;
        width: 92%;
        left: 4%;
    }
    #driver .list-way {
        padding: 0px 0px 0px 0px;
    }

    #driver .block-price .text-01 {
    width: 350px;
    font-size: 45px;
}
#driver .block-price .text-03 {
    font-size: 55px;
    padding-left: 15px;
}
#driver .block-price .small-price {
    font-size: 26px;
    font-weight: 700;
}
#driver .block-price .text-04 {
    font-size: 20px;
}
#driver .block-price .text-05 {
    font-size: 14px;
}
#driver .block-price .text-04::after {
    font-size: 30px;
    left: 15px;
    top: -17px;
}
#driver .block-price .text-05::after {
    font-size: 14px;
    left: 13px;
    top: 0px;
}
#driver .block-price .item-price .img-price.one {
    left: -17px;
    top: 7px;
    max-width: 30%;
}
#driver .block-price .item-price .img-price.two {
    left: -30px;
    top: 26px;
    max-width: 30%;
}
#driver .block-price .item-price .img-price.three {
    left: -20px;
    top: 36px;
    max-width: 29%;
}
}
  
@media (max-width: 768px) {
    #driver .block,#driver .box-list-way .title-list .text-line.destop {
        display: none;
    }
    #driver .mobi {
        display: block;
    }
    #driver .banner-page {
        background-image: url(../../images/driver/drive_bg_sp.png);
        padding: 65px 0px 25px;
    }
    #driver .h1-page {
        line-height: 17px;
        margin-bottom: 0px;
    }
    #driver .samll-h1 {
        font-size: 35px;
        letter-spacing: 1px;
    }
    #driver .span-small {
        font-size: 35px;
    }
    #driver .big-h1 {
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 45px;
    }
    #driver .note-title {
        font-size: 32px;
        letter-spacing: 0px;
        line-height: 34px;
    }
    #driver .banner-page .title-main {
        margin-bottom: 30px;
    }
    #driver .list-car {
        background-image: url(../../images/driver/drive_bgt_sp.png);
        padding: 20px 0px 20px;
    }
    /* #driver .list-car */
    #driver .list-car .item-car.three {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    #driver .list-car .item-car.one {
        width: 50%;
    }
    #driver .list-car .item-car.two {
        width: 50%;
    }
    #driver .list-car .img-banner.two {
    margin-top: 10px;
}
    #driver .list-car .text-title-car {
        font-size: 12px;
    }
    #driver .list-car .title-car::after {
        position: absolute;
        content: "";
        background-image: url(../../images/driver/driver_arow_sp.png);
        width: 8px;
        height: 12px;
        left: calc(50% - 4px);
        bottom: -10px;
    }
    #driver .list-car .img-banner {
        display: block;
        margin-top: 10px;
    }
    #driver .list-car .img-banner.three {
        display: block;
        margin-top: 20px;
    }
    #driver .box-notify .title-notify {
        font-size: 18px;
        padding: 2px 10px;
        top: -17px;
        letter-spacing: 1px;
        width: 193px;
    }
    #driver .box-notify .content-notify {
        font-size: 16px;
        line-height: 26px;
        text-align: left;
    }
    #driver .box-notify {
        padding: 25px 14px 17px;
    }


    /*  #driver .box-way */
    #driver .title-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;
    }
    #driver .box-way .box-title-way .img-title {
        width: 100px;
        height: 100px;
    }
    #driver .box-way .box-title-way .title-box-content {
        width:100%;
        padding-left: 0px;
        color: white;
    }
    #driver .box-way  .box-boder.mobi {
        display: flex;
        width: 103px;
        height: 103px;;
    }
    #driver .box-way .box-title-way .text-flex {
        width: calc(100% - 103px);
        padding-left: 12px;
        font-size: 24px;
        margin-bottom: 0px;
        letter-spacing: 2px;
    }
    #driver .box-way {
        padding: 20px 0px 25px;
    }
    #driver .box-way .box-title-way .text-main {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 15px;
    }
    #driver .box-list-way {
       padding: 4px 5px 23px 12px;
    }
    #driver .box-list-way .title-list .text-line {
        font-size: 26px;
        text-align: center;
    }
    #driver .box-list-way .title-list .note-way {
        font-size: 18px;
        margin-top: 2px;
        line-height: 26px !important
    }
    #driver .box-way .box-title-way .text-main.two {
        line-height: 30px;
    }
    
    #driver .list-way .item-way {
        width: 100%;
        margin-bottom: 2px;
    }
    #driver .box-title-way {
        margin-bottom: 13px;
    }
    #driver .box-list-way .title-list {
        margin-bottom: 7px;
    }
    #driver .list-way .item-way .img-way {
        width: 87px;
        padding-top: 5px;
    }
    #driver .list-way .item-way .dl-way {
        width: calc(100% - 87px);
    }
    #driver .block-price .box-title-price {
        flex-direction: column;
        align-items: start;
    }

    #driver .box-way  .box-boder {
        display: none;
    }

    #driver .block-price .text-01 {
        width: 100%;
        color: #394E75;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 14px;
        text-align: end;
        line-height: 38px;
    }
    #driver .block-price .text-01 .text-centerr {
        text-align: center;
        display: inline-block;
    }
    #driver .block-price .text-02 {
        width: 140px;
        height: 30px;
        border-radius: 23px;
        font-size: 14px;
        line-height: 31px;
        margin-bottom: -4px;
    }
    
    #driver .block-price .text-03 {
        padding-left: 7px;
        letter-spacing: 2px;
        font-size: 75px;
    }

    #driver .box-list-way .title-list .text-line::after {
        height: 7px;
        width: 142PX;
        left: calc(50% - 72px);
        bottom: 2px;
    }
    #driver .box-list-way .title-list .text-line.two::after {
        height: 7px;
        width: 300PX;
        left: calc(50% - 150px);
        bottom: 2px;
    }
    #driver .list-way .item-way .dt-way {
        font-size: 26px;
        margin-bottom: 6px;
    }
    #driver .list-way .item-way .dd-way {
        font-size: 16px;
        line-height: 22px;
    }

    #driver .block-price .title-price {
        font-size: 24px;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    #driver .block-price .item-price {
        border-radius: 10px;
        padding: 15px 10px 15px 10px;
        margin-bottom: 10px;
    }
    #driver .block-price {
        padding: 30px 0px 23px;
    }
    #driver .block-price .text-04 {
        font-size: 16px;
        font-weight: 400;
        display: block;
        padding-left: 20px;
    }
    #driver .block-price .text-04::after {
        content: ".";
        font-size: 27px;
        left: 7px;
        top: -16px;
    }
    #driver .block-price .text-05 {
        font-size: 14px;
        padding-left: 20px;
        line-height: 22px;
        margin-top: 5px;
    }
    #driver .block-price .text-05::after {
        font-size: 14px;
        left: 5px;
    }
    #driver .block-price .item-price .img-price.one {
        max-width: 100%;
        top: 2px;
        left: -7px;
    }
    #driver .block-price .item-price .img-price.two {
        max-width: 100%;
        top: 5px;
        left: -15px;
    }
    #driver .block-price .small-price {
        font-size: 40px;
}
    #driver .block-price .item-price .img-price.three {
        max-width: 100%;
        top: 7px;
        left: -10px;
    }
    #driver .note-price {
        margin-top: -10px;
    }
    #driver .list-categary {
        background: #0066F6;
        padding: 28px 0px 30px;
        text-align: center;
    }
    #driver .list-categary .tilte-categary {
        font-size: 24px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: white;
        font-weight: 700;
        text-align: center;
        line-height: 34px;
    }
  
}
  
  


/*contact-block*/


.contact-lp{
    background: #0022E4;
    padding: 100px 0px 50px;
}
.contact-lp input[type="checkbox"] {
    width: 0px;
    height: 0px;
}
.box-check {
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 0px 24px;
    background: #F7F7F7;
}
.box-check a {
    color: #0022E4;
}
#comfirmlp .contact-block .contact-form .btn-submit.show-lp.btn-send input {
    pointer-events:inherit !important;
    background: white !important;
    color: #B70000
}
#comfirmlp .box-check  {
    display: none;
}
.contact-lp input[type="checkbox"]{
	width: 0px;
	height: 0px;
}
.contact-lp input[type="checkbox"] + span {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.contact-lp  input[type="checkbox"] + span:before {
    position: absolute;
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 32px;
    height: 32px;
    border: 2px solid #0022E4;
    left: -53px;
    top: -4px;
    border-radius: 7px;
}
.contact-lp input[type="checkbox"]:checked + span:after {
	content: "";
    position: absolute;
    top: 8px;
    width: 19px;
    height: 13px;
    background-image: url(../../images/lp/check_form02.png);
  left: -43px;
}
.contact-lp input[type="checkbox"]:checked + span:before {
    background: #0022E4
}


.contact-lp .text-reque {
    display: inline-block;
    background: #FC6E02;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    padding: 0px 8px;
    height: 28px;
    margin-left: 20px;
}

.contact-block .contact-form{
    max-width: 810px;
    margin: auto;
    border: 1px solid rgba(56,77,116,.75);
    border-radius: 10px;
    background: white;
    padding: 66px 100px;
	box-shadow: 0px 2px 24px rgb(0 0 0 / 16%);
}
.contact-block .contact-form .heading{
    font-size: 35px;
    line-height: 40px;
    color: #145A8C;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 11px;
}
.contact-block .contact-form .sub-ttl{
    font-size: 18px;
    line-height: 26px;
    color: #145A8C;
    text-align: center;
    letter-spacing: 1px;
}
.contact-block .contact-form .sub-ttl.ttl-confirm{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .sub-ttl,
.contact-block .mw_wp_form_confirm .contact-form .heading{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .sub-ttl.ttl-confirm{
    display: block;
}
.contact-block .contact-form .form-heading{
    margin-bottom: 60px;
}
.contact-block .contact-form .field-input .ttl-field{
    font-size: 16px;
    line-height: 27px;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 600;
}
.contact-block .contact-form .field-input input{

    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    width: 100%;
    padding: 0px 10px;
    height: 62px;
    background-color: #E4E8F4;
    position: relative;
}
.contact-block .contact-form .field-input input.is-false{
    border-bottom: 1px solid #B70000;
}
.contact-block .contact-form .btn-submit input[name="submitConfirm"]{
    pointer-events: none;
}
.contact-block .contact-form .btn-submit input[name="submitConfirm"].is-submit{
    pointer-events: unset;
}
.contact-block .contact-form .field-input textarea{
    height: 160px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background-color: #E4E8F4;
    position: relative;
}
.contact-block .contact-form .field-input{
    margin-bottom: 30px;
}
.contact-block .contact-form .btn-submit{
    position: relative;
    cursor: pointer;
}
.contact-block .contact-form .btn-submit.show-lp.btn-send input{
    pointer-events: none;
    background: #333;
}
.contact-block .mw_wp_form_confirm .contact-form .btn-submit{
    margin: 0 8px;
}
.contact-block .contact-form .btn-submit.btn-back{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .btn-submit.btn-back{
    display: block;
}
.contact-block .contact-form .btn-submit input{
    font-size: 24px;
    line-height: 20px;
    width: 290px;
    height: 80px;
    border: 2px solid #CC1000;
    color: white;
    text-align: center;
    transition: .3s;
    background: #E83E28;
    border-radius: 80px;
    cursor: pointer;
	margin: auto;
    display: block;
}

.contact-block .contact-form .btn-submit:hover input{
    background: #E83E28;
    color: #fff;
}
.contact-block .contact-form .btn-submit.btn-send svg{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
.contact-block .contact-form .btn-submit.btn-back svg{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.contact-block .contact-form .btn-submit svg *{
    transition: .3s;
}
.contact-block .contact-form .btn-submit:hover svg line,
.contact-block .contact-form .btn-submit:hover svg path{
    stroke: #fff;
}
.contact-block .contact-form .form-submit{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-block .form-complete .title{
    font-size: 20px;
    line-height: 40px;
    color: #E83E28;
    font-weight: 500;
    text-align: center;
}
.contact-block .form-complete .title p{
    margin-top: 25px;
}

.contact-block .mw_wp_form_confirm .contact-form .field-input{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CC1000;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input .error{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input .ttl-field{
    width: 37.5%;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input .container{
    width: 62.5%;
    font-size: 16px;
    line-height: 24px;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input:first-child{
    border-top: 1px solid #CC1000;
    padding-top: 25px;
}

.contact-block .link-page{
    margin: 45px 0;
}
.contact-block .link-page a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 136px;
    height: 47px;
    border: 1px solid #CC1000;
    border-radius: 30px;
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    padding-right: 28px;
    color: #384D74;
    transition: .3s;
    position: relative;
    padding-top: 2px;
}
.contact-block .link-page a:hover{
    background: #E83E28;
    color: #fff;
}
.contact-block .link-page a svg{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.contact-block .link-page a svg *{
    transition: .3s;
}
.contact-block .link-page a:hover svg line,
.contact-block .link-page a:hover svg path{
    stroke: #fff;
}
.page-complete .contact-block{
    padding-top: 150px;
}
.page-confirm .heading-entry,
.page-complete .heading-entry{
    display: none;
}
.sp_br {
    display: none;
}
#comfirmlp {
    padding: 100px 0px 40px;
}
#comfirmlp .contact-block .contact-form .btn-submit input {
    width: 200px;
}



.contact-lp-info {
    background: white;
    padding: 40px 80px 40px 80px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 16%);
    max-width: 800px;
    margin: auto;
    margin-top:30px;
    
}

.contact-lp .left {
    width: 38%;
    border-right: 2px solid #D0D0D0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 33px;
    font-weight: 600;
}

.contact-lp .right{
    width: 60%;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}
.contact-lp .right .text-right {
    font-size: 14px;
    color: #FC6E02;
    font-weight: 600;
    width: 100px;
}






@media (max-width: 768px) { 
    .box-check a {
        display: block;
		margin-bottom:10px
    }
    .contact-lp {
        background: #0022E4;
        padding: 50px 20px 50px;
    }
    .contact-block .contact-form {
        padding: 40px 20px;
    }
    .sp_br {
        display: block;
    }
    .mwform-checkbox-field-text {
        max-width: 220px !important;
        display: block;
        margin: auto;
        margin-top: -20px;
    }
    .contact-lp input[type="checkbox"] + span:before {
        width: 20px;
        height: 20px;
        border: 2px solid #0022E4;
        left: -140px;
       top: 58px;
        border-radius: 4px;
    }
    .contact-lp input[type="checkbox"]:checked + span:after {
        left: -140px;
    }
    #footer-lp {
        padding: 25px 0px 25px;
        text-align: center;
    }
    .box-lp {
        display: block !important;
    }
    .box-lp img {
        width: 200px;
        display: block;
        margin: 10px 0px;
    }
    #footer-lp .text-lp {
        font-size: 14px;
        margin-right: 0px;
    }
    .contact-lp-info {
       padding: 15px 0px 15px 0px;
        max-width: 90%;
    }

    .contact-lp .left,.contact-lp .right,.contact-lp .right .text-right,.box-number {
        width: 100%;
        text-align: center;
		padding-left: 5px;
    }
    .br_pc {
        display: none;
    }
	.box-check {
		background:none
	}

    .contact-lp .left {
        font-size: 14px;
        padding-right: 0px;
        justify-content: center;
        border-right:none
    }
    .contact-lp .right {
        padding-left: 0px;
        justify-content: center;
    }
    .box-number .top {
        justify-content: center;
    }
	.banner-lp .title-top {
		width: 281px;
		font-size:16px;
		padding-top: 7px;
	}
}






@media (max-width: 768px) {


	.contact-block .contact-form .btn-submit input {
		font-size: 16px !important;
		line-height: 20px !important;
		width: 230px !important;
		height: 50px !important;
		transition: .3s !important;
	}

}

input::placeholder,textarea::placeholder {
	color: #A8ABB4;
	font-size: 14px;
}


.contact-block .hidden {
	visibility:hidden
}
.contact-block .mw_wp_form_confirm .contact-form .btn-submit input {
    font-size: 24px;
    line-height: 20px;
    width: 250px;
    height: 60px;
}
.mw_wp_form_confirm {
	background: #0022E4;
    padding: 50px 0px
}
.form-complete {
	background: #0022E4;
    padding: 150px 0px			
}

.contact-block .form-complete .title {
    font-size: 24px;
    line-height: 40px;
    color: white;
    text-align: center;
}

.title-page-lp {
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 45px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}

.title-page-lp .title-jp {
    font-size: 32px;
}
@media (max-width: 768px) {
    .title-page-lp {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
    }
	    .title-page-lp .title-jp {
        font-size: 18px;
        margin-bottom: 20px;
    }
}
  
  