body{
 margin-top: 0px!important;
}
/*----------banner-------------*/
#sidebar {
 display: none !important;
}
#homepage .link-page.mobi {
    display: none;
}

#mainBanner .item-slider{
    background-image: url(../../images/top_bg_banner_pc.png);
    background-size: cover;
    background-position: center;
    padding: 95px 0px 124px;
    color: white;
}
#mainBanner .item-slider:nth-child(1) {
    padding: 120px 0px 0px;
}
#mainBanner .top-banner {
    margin-bottom: 80px;
    position: relative;
}
#mainBanner .top-banner .message-banner{
    width: 78%;
    font-size: 60px;
    font-weight: 400;
}
#mainBanner .item-slider:nth-child(1) .top-banner .message-banner{
    width: 57%;
    font-size: 52px;
    font-weight: 400;
}
#mainBanner .top-banner .message-banner span {
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
#mainBanner .top-banner .img-banner{
    display: block;
    width: 55.7%;   
    position: absolute;
    right: -10%;
    top: 0px;
}
#mainBanner .down-top {
    position: relative;
    z-index: 99;
    padding: 20px 0px 55px;
}
#mainBanner .down-top::before {
    position: absolute;
    content: "";
    background: rgba(255, 255, 255, 0.22);
    z-index: -1;
    width: 100%;
    left: 0px;
    top:5px;
    height: 100%;
}

#mainBanner .down-top .title-down{
    font-size: 40px;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 20px;
}
#mainBanner .down-top .item-down {
    background: white;
    padding: 17px 10px 25px 10px;
    box-shadow: 0px 3px 6px;
    font-size: 22px;
    line-height: 40px;
    color: #0B54F7;
    font-weight: 600;
    width: calc(100%/3 - 10px);
    text-align: center;
    border-radius: 10px;
}
#mainBanner .slick-dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
    width: 100vw;
    position: absolute;
    margin-left: -50vw;
    left: 50%;
    bottom: -5%;
}
#mainBanner .slick-dots li {
    display: inline-block;
    width: 82px;
    height: 10px;
    background: #6892F5;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}
#mainBanner .slick-dots li button {
    font-size: 0px;
    border: 0px;
}

#mainBanner .slick-dots li.slick-active {
  background: white;
}
#mainBanner .slick-slide img {
    width: 100%;
}
#mainBanner .box-title {
    justify-content: center;
    position: relative;
    z-index: 99;
}
#mainBanner .title-page-sub {
    font-size: 45px;
    color: #0B54F7;
    font-weight: 500;
    text-align: center;
    background: white;
    position: relative;
    padding: 14px 70px;
    border-radius: 50px;
    margin-bottom: 10px;
    display: inline-block;
}
#mainBanner .box-title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    left: 0px;
    top: 47px;
    z-index: -1;
}
#mainBanner {
    background: #0B54F7;
}
#homepage .link-page {
    display: inline-block;
    position: relative;
    color: #0B54F7;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 130px 15px 20px;
    border: 1px solid #0B54F7;
    border-radius: 30px;
    background: white;
}
#homepage #mainBanner .link-page{
  margin-bottom: 0px;
}
#homepage .box-link-page {
    justify-content: center;
    margin-bottom: 80px;
}
#homepage #mainBanner .box-link-page {
    margin-bottom: 0px;
}

#homepage .link-page.new {
    padding: 15px 70px 15px 15px;
}
#homepage .link-page.new::after {
    right: 20px;
}
#homepage .link-page::after {
    content: "";
    position: absolute;
    background-image: url(../../images/arrow_home.png);
    right: 50px;
    width: 38px;
    height: 38px;
    top: 10px;
    transition: 0.8s;
}
#homepage .link-page:hover {
    background: #0B54F7;
    color: white;
    opacity: 1;
}
#homepage .link-page:hover:after{
    right: 15px;
    background-image: url(../../images/arrow_hover_home.png);
}
#mainBanner .item-slider:nth-child(2) .top-banner .img-banner {
   width:78%;
}
#mainBanner .item-slider:nth-child(2),
#mainBanner .item-slider:nth-child(3), 
#mainBanner .item-slider:nth-child(4),
#mainBanner .item-slider:nth-child(5){
    padding: 120px 0px 37px;
}
#mainBanner .item-slider:nth-child(5) .top-banner .img-banner {
    width: 52%;
    right: 0%;
    top: 100px;
}
#mainBanner .item-slider:nth-child(4) .top-banner .img-banner {
    width: 52%;
    right: 0%;
    top: 100px;
}
#mainBanner .item-slider:nth-child(3) .top-banner .img-banner {
    right: 4%;
    top: 50px;
}
.slick-track{
    display: flex !important;
}
.slick-slide{
    height: inherit !important;
}
/*----------service-------------*/
#allService {
   padding: 90px 0px 125px;
   background-image: url(../../images/common/home_bg_pc.png);
   background-size: cover;
   background-position: center;
}
#homepage .title-home {
    text-align: center;
    margin-bottom: 40px;
}
#homepage .title-home.service {
    margin-bottom: 100px;
}
#homepage .title-home span {
    display: block;
}
#homepage .title-home .text-es {
    font-size: 20px;
    color: #2E2E2E;
    letter-spacing: 2px;
}
#homepage .title-home .text-jp {
    font-size: 50px;
    color: #0B54F7;
    font-weight: 500;
    margin-bottom: 20px;
}
#homepage .title-home .text-des {
    font-size: 20px;
    color: #2E2E2E;
    white-space: nowrap;
    line-height: 40px;
}
#allService .title-home .text-es,
#allService  .title-home .text-jp,
#allService  .title-home .text-des {
    color: white
}
#allService .list-service .item-service {
    width: calc(50% - 10px);
    position: relative;
    background: white;
    padding: 43px 10px 13px 20px;
    border-radius: 10px;
    margin-bottom: 68px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
#allService .list-service .item-service:hover {
    opacity: 0.8;
}
#allService .list-service .item-service:hover .title-center {
    opacity: 1;
}
#allService .list-service .item-service a {
    opacity: 1;
}
#allService .list-service .item-service .title-center {
  justify-content: center;
}
#allService .list-service .item-service .title-service {
    display: inline-block;
    height: 51px;
    text-align: center;
    background: #0B54F7;
    border: 2px solid white;
    font-size: 22px;
    color: white;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 45px;
    margin-top: -70px;
    line-height: 45px;
    padding: 0px 38px;
}
#allService .list-service .item-service .box-img-down {
    padding: 0px 20px;
}
#allService .list-service .item-service  .box-top-service {
    margin-bottom: 20px;
}
#allService .list-service .item-service  .box-top-service .img-icon {
    display: block;
    width: 37%;
    text-align: center;
}
#allService .list-service .item-service  .img-icon.text {
  margin-top: 40px;
  display: block;
}
#allService .list-service .item-service  .box-top-service .text-item {
    display: block;
    width: 63%;
    font-size: 20px;
    line-height: 35px;
    padding-top: 10px;
}
#allService .list-service .item-service .item-text {
    font-size: 24px;
    color: #0B54F7;
    padding: 4px 10px 7px;
    border: 2px solid #0B54F7;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 17px;
}
#allService .list-service .item-service .item-text.left {
    width: 55%;

}
#allService .list-service .item-service .item-text.right {
    width: 42%;
}
#allService .list-service .item-service .item-text.three {
    width: calc(50% - 10px);
}
#allService .list-service .item-service .item-text.full {
    width: 100%;
}
#allService .list-service .item-service .box-text.two {
    padding: 0px 20px;
}
#allService .list-service .item-service .box-text.three {
    max-width: 390px;
    margin: auto;
}
#allService .list-service {
    margin-bottom: 45px;
}
#allService .list-service .item-service .box-img-down .img-icon.last {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}
#allService .about-gms {
    margin-bottom: 65px;
}
#allService .about-gms .dl-about {
    width: 40%;
    color: white;
}
#allService .about-gms .img-about{
    background: white;
    width: 60%;
    border-radius: 20px;
}
#allService .about-gms .img-about img {
    width: 100%;
}
#allService .about-gms .dl-about .dt-about {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
#allService .about-gms .dl-about .dt-about span {
    margin-left: 15px;
}
#allService .about-gms .dl-about .dd-about {
    font-size: 50px;
    line-height: 67px;
}
/* //// comnon page */
.box-contact {
    border-radius: 20px;
    border: 2px solid #F78C07;
    background: white;
    overflow: hidden;
}
.box-contact .left-contact {
    width: 50%;
    padding: 33px 35px 20px 30px;
}
.box-contact .left-contact .text-01 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 40px;
    margin-bottom: 15px;
}

.box-contact .left-contact .link-contact {
    background: #F78C07;
    border-radius: 30px;
    padding: 12px 0px 15px 0px;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.box-contact .left-contact .text-phone {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
}
.box-contact .left-contact .time {
    font-size: 12px;
    font-weight: 500;
}

.box-contact .left-contact .number-phone  {
    font-size: 48px;
    color: #F78C07;
    width: 65%;
    margin-top: -5px;
}

.box-contact .right-contact{
    width: 50%;
    border-radius: 10px;
}

.box-contact .right-contact img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .box-contact .left-contact .phone-left {
    width: 35%;
}
.box-contact .left-contact .phone-left .top {
    margin-bottom: 3px;
}

/*----------caseStudy-------------*/

#caseStudy {
    background: white;
    padding: 100px 0px 0px;
    margin-bottom: 80px;
}
#homepage .title-home.case {
    margin-bottom: 40px;
}
#caseStudy .list-case {
    margin-bottom: 20px;
}
#caseStudy .list-case .item-case {
    margin-bottom: 40px;
}

#caseStudy .list-case .item-case .title-case {
    background: white;
    border: 2px solid #0B54F7;
    border-radius: 30px;
    position: relative;
    padding: 35px 30px 48px 90px;
    margin-left: 35px;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
}
#caseStudy .list-case .item-case .title-case:hover {
    background: #F5F5F5;
}
#caseStudy .list-case .item-case .title-case:hover .more::after {
    bottom: -15px;
}
#caseStudy .list-case .item-case  .text-title {
    display: flex;
    position: absolute;
    top: 60px;
    left: -40px;
    background: #0B54F7;
    color: white;
    font-size: 22px;
    height: 82px;
    width: 82px;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
}

#caseStudy .list-case .item-case .q-case {
    width: 27%;
    font-size: 28px;
    line-height: 40px;
    color: #0B54F7;
    letter-spacing: 8px;
}
#caseStudy .list-case .item-case .q-case .text-q {
    width: 56%;
}
#caseStudy .list-case .item-case .a-case {
    width: 49%;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}
#caseStudy .list-case .item-case .more{
    width: 16%;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
#caseStudy .list-case .item-case .more::after {
    content: "";
    position: absolute;
    background-image: url(../../images/arrow_case.png);
    bottom: -4px;
    width: 41px;
    height: 41px;
    left: 64px;
    transition: 0.5s;
}
#caseStudy .list-case .item-case .open-block {
    display: none;
}
#caseStudy .list-case .item-case .answer-open {
    background: #0B54F7;
    color: white;
    padding: 40px 50px 0px 70px;
    position: relative;
    margin-left: 35px;
    border-radius: 30px;
}
#caseStudy .list-case .item-case .answer-open .dl-answer {
    width: 60%;
}
#caseStudy .list-case .item-case .answer-open .info-company {
    width: 32%;
}
#caseStudy .list-case .item-case .answer-open .info-company .box-img {
    display: flex;
    background: white;
    align-items: center;
    justify-content: center;
    width: 343px;
    height: 148px;
    margin-bottom: 30px;
    border-radius: 20px;
}
#caseStudy .list-case .item-case .answer-open .list-info {
    margin-bottom: 20px;
}
#caseStudy .list-case .item-case .answer-open .dl-info {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 28px;
}
#caseStudy .list-case .item-case .answer-open .dl-info .dt-info {
    width: 100px;
}
#caseStudy .list-case .item-case .answer-open .dl-info .dd-info {
    width: calc(100% - 100px);
    text-align: left;
}
#caseStudy .list-case .item-case .answer-open .text-title {
    top: 32px;
    left: -40px;
    background:white;
    color:#0B54F7;
    font-size: 22px;
    border: 1px solid #0B54F7;
}
#caseStudy .list-case .item-case .answer-open .text-title.open{
    left: unset;
    top: -26px;
    right: -20px;
    background: white;
    color: #0B54F7;
    font-size: 40px;
    width: 57px;
    height: 57px;
    cursor: pointer;
    font-weight: 400;
}
#caseStudy .list-case .item-case .answer-open .link-case {
    background: white;
    border-radius: 30px;
    padding: 10px 0px 12px;
    text-align: center;
    color: #0B54F7;
    display: block;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    border: 1.5px solid #0B54F7;
    letter-spacing: 1px;
}
#caseStudy .list-case .item-case .answer-open .dl-answer {
    margin-bottom: 30px;
}
#caseStudy .list-case .item-case .answer-open .dt-answer {
   font-size: 30px;
   margin-bottom: 45px;
}
#caseStudy .list-case .item-case .answer-open .line-down{
   display: inline-block;
   font-size: 30px;
   position: relative;
   letter-spacing: 3px;
}
#caseStudy .list-case .item-case .answer-open .line-down::after {
    position: absolute;
    content: "";
    background: white;
    width: 96%;
    height: 6px;
    left: 0px;
    bottom: -20px;
}
#caseStudy .list-case .item-case .answer-open .small-text {
    font-size: 25px;
}

#caseStudy .list-case .item-case .answer-open .dd-answer {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    padding-right: 45px;
}
#caseStudy .list-case .item-case .answer-open .dd-note {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    padding-right: 45px;
}
/*----------qa-------------*/
#qa {
    background: white;
    padding: 50px 0px 0px;
    margin-bottom: 80px;
}
#qa .list-faq {
    margin-bottom: 30px;
}
#qa .list-faq .item-faq {
    margin-bottom: 30px;
    background: #0B54F7;
    border-radius: 50px;
}
/* #qa .list-faq .item-faq .dl-faq {
     background: #0B54F7;
} */
#qa .list-faq .item-faq .dl-faq .dd-faq a {
     color: white
}
#qa .list-faq .item-faq .faq-title {
    position: relative;
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
    padding: 20px 85px 19px 85px;
    cursor: pointer;
    border-radius: 50px;
    background: white;
    border: 2px solid #0B54F7;
    font-weight: 500;
}
#qa .list-faq .item-faq .faq-title:hover {
    background: #F5F5F5;
}
#qa .list-faq .item-faq .faq-title.open {
    background: #0B54F7;
    color: white;
    text-align: justify;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#qa .list-faq .item-faq .faq-title .q-es {
    display: flex;
    height: 41px;
    width: 41px;
    background: #0B54F7;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#qa .list-faq .item-faq .faq-title .q-es.open {
    color: #0B54F7;
    background: white;
}
#qa .list-faq .item-faq .faq-title::after {
    position: absolute;
    content: "";
    border: solid #0B54F7;
    border-width: 0px 4px 4px 0;
    display: inline-block;
    padding: 12px;
    right: 45px;
    top: calc(50% - 24px);
    transform: rotate(45deg);
    z-index: 99;
    transition: 1s;
}
#qa .list-faq .item-faq .faq-title.open::after {
    border: solid white;
    border-width: 0px 4px 4px 0;
    display: inline-block;
    padding: 12px;
    right: 45px;
    top: calc(50% - 8px);
    transform: rotate(225deg);
    z-index: 99;
    transition: 1s;
}
#qa .list-faq .item-faq .dl-faq {
    position: relative;
    padding: 30px 85px 50px 85px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    display: none;
    text-align: justify;
}

#qa .list-faq .item-faq .dl-faq  .a-es {
    display: flex;
    height: 41px;
    width: 41px;
    background: #FF8D00;
    color: white;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 28px;
    left: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
/* #qa .list-faq .item-faq .dl-faq  .a-es.open {
    background: #FF8D00;
} */

#qa .list-faq .item-faq .dl-faq .dt-faq {
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 20px;
}
#qa .list-faq .item-faq .dl-faq .dd-faq {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}
#homepage #qa .box-contact .list-img .item-img {
  width: calc(100%/3);
}
#homepage #qa .box-contact .list-img .item-img.text {
    padding: 20px 10px 10px 20px;
    background: #FF8D00;
    color: white;
    font-size: 19px;
    line-height: 38px;
}
#homepage #qa  .box-contact .right-contact {
    width: 46%;
}
/*----------seminar-------------*/ 

#seminar {
    background: #F3F5F7;
    padding: 50px 0px 100px;
}
#seminar .post-seminar {
    margin-bottom: 50px;
	justify-content: left;
	gap: 15px;
}
#seminar .post-seminar .item-post-seminar {
    width: calc(100%/3 - 10px);
}
#seminar .post-seminar .item-post-seminar .box-title {
  justify-content: center;
} 
#seminar .post-seminar .box-title .title-seminar {
    background: #F78C07;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}
#seminar .post-seminar .post-new {
    box-shadow: 0px 5px 15px rgb(0 0 0 / 16%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
    cursor: pointer;
}
#seminar .post-seminar .post-new:hover {
    opacity: 0.7;
}
#seminar .post-seminar .post-new .box-img img{
    width: 100%;
    height: auto;
}
#seminar .post-seminar .post-new .box-img {
    display: block;
    height: 160px;
    overflow: hidden;
}

#seminar .post-seminar .post-new .content-post {
    padding: 10px 20px 20px;
}
#seminar .post-seminar .post-new .content-post .title-post {
    height: 70px;
    margin-bottom: 10px;
    font-size: 15.3px;
	font-weight: 600;
}
#seminar .post-seminar .post-new .content-post .box-time {
    color: #868686;
    font-size: 17px;
    margin-bottom: 10px;
}
#seminar .post-seminar .post-new .content-post .box-time .fa-light {
    margin-right: 7px;
    font-style: inherit;
}
#seminar .post-seminar .post-new  .list-cate {
    justify-content: flex-start;
}
#seminar .post-seminar .post-new  .list-cate .item-cate {
    background: white;
    margin-left: 10px;
    border: 2px solid #0B54F7;
    border-radius: 5px;
    padding: 2px 5px;
    color: #0B54F7;   
}   
#seminar .post-seminar .post-new  .list-cate .item-cate a {
    color: #0B54F7;
}

#seminar .post-seminar .post-new  .list-cate .item-cate:nth-child(1) {
    margin-left: 0px;
}
#homepage #seminar .box-contact .right-contact {
    padding: 20px 30px 10px 10px;
}
#homepage #seminar .box-contact .right-contact .title {
    font-size: 26px;
    color: #FF8D00;
    font-weight: 500;
    text-align: center;
}
#homepage #seminar .box-contact .right-contact img {
    height: 215px;
}
/*----------news-------------*/ 
#news {
    background: white;
    padding: 70px 0px 0px;
}

#news .content-news .box-title-news {
    width: 240px;
}
#news .content-news .new-content {
    width: calc(100% - 240px);
}
#news .content-news .item-news .date-cat {
    width: 250px;
    color: #0B54F7;
}

#news .content-news .item-news .date-cat  .cat {
    width: 130px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background: #0B54F7;
    border-radius: 20px;
    height: 38px;
    line-height: 38px;
}
#news .content-news .item-news .date-cat  .time {
    width: calc(100% - 130px);
    font-size: 17px;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 10px;
}
#news .content-news .item-news .text-content {
    font-size: 16px;
    line-height: 40px;
    font-weight: 500;
    width: calc(100% - 250px);
    padding-left: 10px;
} 
#news .content-news .item-news a {
    justify-content: start;
    margin-bottom: 20px;
}

#homepage #news .box-link-page {
    justify-content: start;
}
#homepage #news .title-home{
    text-align: left;
}
/*----------contact-------------*/  
#contact {
    background: #0B54F7;
    padding-bottom: 100px;
}

#contact .block-title {
    background: #F78C07;
    color: white;
    padding: 50px 0px 10px;
    position: relative;
}
#contact .block-title::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: -18px;
    left: calc(50% - 10px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F78C07;
}
#homepage #contact .title-home .text-es ,#homepage #contact .title-home .text-des,
#homepage #contact  .title-home .text-jp{
    color: white;
}
#contact .block-form {
    padding: 50px 0px 0px;
}
.info-contact {
    background: white;
    padding: 30px 20px 30px 30px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #F78C07;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.info-contact .title-contact {
    font-size: 26px;
    line-height: 40px;
    width: 30%;
    letter-spacing: 2px;
}
.info-contact  .middle {
    width: 25%;
    letter-spacing: 1px;
}
.info-contact  .middle .phone-left {
    margin-bottom: 4px;
}
.info-contact .middle img {
    width: 41px;
    height: auto;
}
.info-contact .text-phone {
    font-size: 20px;
    color: #F78C07;
}
.info-contact .time {
    font-size: 18px;
}

.info-contact .number-phone {
    font-size: 70px;
    color: #F78C07;
    width: 45%;
    margin-top: -5px;
}
/*----------Related-------------*/  
#homepage .related {
    padding: 50px 0px 70px;
}
/* code content add style.css common */
/*----------enDRelated-------------*/  
#allService .about-gms .dl-about {
    width: 40%;
    color: white;
}

#allService .img-about {
    width:56%;
    position: relative;
    overflow: hidden;
    z-index: 99;
    border-radius: 15px;
	max-height: 400px;
}
#allService .img-about .div-play {
	position: absolute;
	content: "";
background-image: url(../../images/bg_video_top.png);
	background-position: center;
	background-size: cover;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 99;
	height: 100%;
	width: 100%;
	cursor: pointer;
	transition: 0.5s;
}
#allService .img-about .div-play:hover {
	    background-image: url(../../images/bg_video_top_hover01.png);
}
#allService .img-about .div-play.open {
	display: none;
}
@media (max-width: 1280px){
    #homepage .title-home .text-jp {
        font-size: 40px;
        margin-bottom: 10px;
    } 
    #mainBanner .down-top .item-down {
        font-size: 18px;
        line-height: 32px;
    }
    #allService .about-gms .dl-about .dd-about {
        font-size: 40px;
        line-height: 60px;
    }
    #allService .list-service .item-service .box-top-service .text-item {
        font-size: 16px;
        line-height: 32px;
    }
    #allService .list-service .item-service .item-text {
        font-size: 18px;
    }
    /*----------box-contact-------------*/  
    .box-contact .left-contact .text-01 {
        font-size: 24px;
    }
    .box-contact .left-contact {
        padding: 33px 20px 20px 20px;
    }
    .box-contact .left-contact .text-phone {
        font-size: 11px;
    }
    .box-contact .left-contact .time {
        font-size: 10px;
    }
    .box-contact .left-contact .link-contact {
        font-size: 18px;
    }
    .box-contact .left-contact .number-phone {
        font-size: 40px;
    }

    #caseStudy .list-case .item-case .title-case {
        padding: 20px 20px 30px 60px;
    }

    #caseStudy .list-case .item-case .a-case {
        font-size: 16px;
        line-height: 34px;
    }
    #caseStudy .list-case .item-case .answer-open .dt-answer {
        font-size: 22px;
    }
    #caseStudy .list-case .item-case .more {
        font-size: 18px;
    }
    #caseStudy .list-case .item-case .q-case {
        font-size: 20px;
        line-height: 35px;
    }
    #caseStudy .list-case .item-case .q-case .box-img {
        display: block;
        width: 40%;
    }
    #caseStudy .list-case .item-case .answer-open .line-down {
        font-size: 24px;
    }
    #caseStudy .list-case .item-case .answer-open .dl-answer {
        width: 65%;
    }
    #caseStudy .list-case .item-case .answer-open .info-company .box-img {
        width: 300px
    }
    #caseStudy .list-case .item-case .answer-open .link-case {
        font-size: 16px;
    }
    .info-contact {
        padding: 20px 20px 20px 30px;
    }
    .info-contact .title-contact {
        font-size: 20px;
        line-height: 34px;
    }
    .info-contact .number-phone {
        font-size: 60px;
    }
    .info-contact .text-phone {
        font-size: 16px;
    }

    .info-contact .time {
        font-size: 14px;
    }
	 #homepage #qa .box-contact .list-img .item-img.text {
        font-size: 16px;
    }
}
@media (max-width: 1023px){
}
@media (max-width: 768px){
    /*----------banner-------------*/
    #mainBanner .item-slider{
        background: #0B54F7;
        background-image: url(../../images/top_bg_banner_sp.png);
        background-size: cover;
        background-position: center;
        position: relative;
    }
	#mainBanner .top-banner .message-banner,#mainBanner .item-slider:nth-child(1) .top-banner .message-banner {
        width: 100%;
        font-size: 30px;
        margin-bottom: -10px;
    }
    #mainBanner .item-slider .img-banner {
        width: 100%;
       text-align: center;
       position: relative;
       right: 0px;
    }
    #mainBanner .item-slider:nth-child(3) .top-banner .img-banner {
        right: 0px;
        top: 25px;
    }
    #mainBanner .top-banner .message-banner span {
        font-size: 18px;
        letter-spacing: 1px;
    }
    #mainBanner .down-top .title-down {
        font-size: 22px;
        margin-bottom: 10px;
        line-height: 32px;
    }
    #mainBanner .down-top {
        flex-direction: column;
        padding: 20px 0px 10px;
    }
    #mainBanner .down-top .item-down {
        width: 100%;
        margin: auto;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 26px;
        position: relative;
        padding: 10px 5px 10px 25px;
        text-align: center;
    }
    #mainBanner .top-banner {
        margin-bottom: 10px;
        position: relative;
    }
    #homepage .link-page.destop {
        display: none !important;
    }
    #homepage .link-page.mobi {
        display: flex;
        justify-content: center;
    }
    #homepage  #mainBanner .link-page.mobi  {
        width: 65%;
        margin: auto;
        padding: 7px 16% 8px 20px;
        background: #0B54F7;
        color: white;
    }
    #homepage  .link-page  {
        background: #0B54F7;
        color: white;
    }
    #homepage  #mainBanner .link-page.mobi::after {
        background-image: url(../../images/arrow_hover_home.png);
    }

    #homepage  .link-page::after {
        background-image: url(../../images/arrow_hover_home.png);
    }
    #mainBanner .slick-slide img {
        transform: scale(1.3);
    }
    #mainBanner .slick-track {
        display: block !important;
    }
    #mainBanner .down-top .item-down::before {
        position: absolute;
        content: "";
        height: 5px;
        width: 15px;
        left: 0px;
        top:20px;
        background: #0B54F7;
    }
    #mainBanner .slick-dots li {
        width: 40px;
        height: 5px;
    }
    #homepage .title-home .text-es {
        font-size: 14px;
    }
    #homepage .title-home .text-jp {
        font-size: 30px;
        margin-bottom: 10px;
    }
    #homepage .title-home .text-des {
        font-size: 16px;
        line-height: 30px;
        white-space:unset
    }

    #mainBanner .title-page-sub {
		font-size: 26px;
		line-height: 36px;
        padding: 12px 20px;
        width: 100%;
	}

	#mainBanner .item-slider:nth-child(2) {
		padding: 90px 0px 0px;
	}
    #mainBanner .item-slider:nth-child(3) {
		padding: 90px 0px 0px;
	}
    #mainBanner .item-slider:nth-child(4) {
		padding: 90px 0px 0px;
	}
    #mainBanner .item-slider:nth-child(5) {
		padding: 90px 0px 0px;
	}
    #mainBanner .box-title::after {
        display: none;
    }
    #mainBanner .item-slider:nth-child(1) {
        padding: 70px 0px 0px;
    }

    #mainBanner .item-slider .top-banner .message-banner {
        font-size: 35px;
        line-height: 46px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }
    #mainBanner .item-slider:nth-child(5)  .top-banner .message-banner {
       letter-spacing: -2px;
       margin-bottom: 8px;
    }

    #homepage #mainBanner .link-page::after {
        right: 18px;
        top: 1px;
    } 
    #homepage #mainBanner .link-page {
        margin-bottom: 0px;
        margin-top: 55px;
    }
    #mainBanner .slick-dots {
         bottom: 7px; 
        bottom: unset;
        position: relative;
        margin-left: auto;
        left: auto;
    }
    #mainBanner .item-slider:nth-child(4) .top-banner .img-banner {
        width: 100%;
        top: 0px;
        margin-bottom: 53px;
    }
    #mainBanner .item-slider:nth-child(5) .top-banner .img-banner{
        width: 100%;
        top: 0px;
        margin-bottom: 10px;
    }
    #mainBanner  .slick-slide.item-slider:nth-child(1) img {
        transform: scale(1.18) !important
    }
    #mainBanner  .slick-slide.item-slider:nth-child(3) img {
        transform: scale(1) !important
    }
    #mainBanner  .slick-slide.item-slider:nth-child(4) img {
        transform: scale(1) !important
    }
    #mainBanner  .slick-slide.item-slider:nth-child(5) img {
        transform: scale(1) !important
    }

    #mainBanner .item-slider:nth-child(2) .top-banner .img-banner{
        width: 100%;
    }

    #mainBanner  .slick-slide.item-slider:nth-child(3) .top-banner .message-banner {
        margin-bottom: 0px;
    }

    #homepage #mainBanner  .slick-slide.item-slider:nth-child(3) .link-page {
        margin-top: 47px;
    }

    /*----------service-------------*/
    #allService {
        background-image: url(../../images/common/home_bg_sp.png);
     }
    #homepage .title-home.service {
        margin-bottom: 70px;
    }
    #allService {
        padding: 70px 0px 40px;
    }
    #allService .list-service .item-service .title-service {
        font-size: 18px;
    }
    #allService .list-service .item-service {
        width: 100%;
    }
    #allService .list-service .item-service .box-top-service .img-icon {
        width: 100%;
    }
    #allService .list-service .item-service .box-top-service .text-item {
        width: 100%;
        font-size: 17px;
        line-height: 28px;
    }
    #allService .list-service .item-service .box-img-down .img-icon {
        width: calc(50% - 15px);
        text-align: center;
    }
    #allService .list-service .item-service .box-img-down .img-icon.last img {
        height: 30px;
        width: auto;
    }
    #allService .list-service .item-service .box-img-down .img-icon.last {
        margin-top: 15px;
    }
    #allService .list-service .item-service .box-img-down {
        padding: 0px 10px 0px 0px
    }
    #allService .list-service .item-service .box-img-down .img-icon.two img {
        height: 26px;
    }
    #allService .list-service .item-service .box-text.two {
        padding: 0px
    }
    #allService .list-service .item-service .item-text.left,
    #allService .list-service .item-service .item-text.right,
    #allService .list-service .item-service .item-text.three{
        width: 100%;
    }
    #allService .list-service .item-service .box-img-down .img-icon.text {
        width: 100%;
    }

    #allService .about-gms .dl-about {
        width: 100%;
    }
    #allService .about-gms .img-about {
        width: 100%;
        border-radius: 20px;
    }
    #allService .about-gms .dl-about .dt-about {
        font-size: 14px;
        text-align: center;
    }

    #allService .about-gms .dl-about .dd-about {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
        margin-bottom: 30px;
    }
    #allService .list-service {
        margin-bottom: 0px;
    }

    .box-contact .right-contact {
        width: 100%;
        order: 1;
    }
    .box-contact .left-contact {
        width: 100%;
        order: 2;
        padding: 15px 20px 20px 20px;
    }
    .box-contact .left-contact .text-01 {
        font-size: 17px;
        line-height: 30px;
        font-weight: 500;
    }
    .box-contact .left-contact .phone-left {
        width: 100%;
        text-align: center;
        line-height: 20px;
    }
    .box-contact .left-contact .number-phone {
        width: 100%;
        text-align: center;
        font-size: 30px;
        margin-top: 5px;
    }
    .box-contact .left-contact .link-contact {
        font-size: 17px;
        padding: 10px 0px 14px;
    }

    .box-contact .right-contact img {
        height: 180px;
    }
     .box-contact .left-contact .text-phone {
        font-size: 13px;
    }
    .box-contact .left-contact .time {
        font-size: 12px;
    }
    #homepage #qa .box-contact .right-contact {
        width: 100%;
    }
    #homepage #qa .box-contact .right-contact img {
        height: auto;
    }
    #homepage #qa .box-contact .list-img .item-img.text {
        padding: 10px 10px 10px 10px;
        font-size: 12px;
        line-height: 24px;
    }
    #qa {
        padding: 20px 0px 0px;
        margin-bottom: 80px;
    }
    /*----------caseStudy------------*/
    #caseStudy {
        padding: 50px 0px 0px;
        margin-bottom: 40px;
    }
    #caseStudy .list-case .item-case .title-case {
        padding: 20px 30px 30px 20px;
        margin-left: 0px;
    }
    #caseStudy .list-case .item-case .q-case {
        width: 100%;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 3px;
    }
    #caseStudy .list-case .item-case .a-case {
        width: 100%;
        text-align: justify;
        line-height: 30px;
    }
    #caseStudy .list-case .item-case .more {
        width: 100%;
        font-size: 16px;
    }
    #caseStudy .list-case .item-case .text-title {
        top: -30px;
        left: 15px;
        font-size: 18px;
        width: 58px;
        height: 58px;
    }
    #caseStudy .list-case .item-case .q-case .text-q {
        width: 71%;
        padding-top: 30px;
    }
    #caseStudy .list-case .item-case .q-case .box-img {
        width: 29%;
    }
    #caseStudy .list-case .item-case .q-case .box-img img {
        height: 85px;
        width: auto;
    }

    #caseStudy .list-case .item-case .more::after {
        transform: scale(0.7);
        bottom: -8px;
        left: unset;
    }

    #caseStudy .list-case .item-case .more {
        font-size: 16px;
        margin-top: 10px;
    }
    #caseStudy .list-case .item-case .answer-open {
        padding: 40px 20px 20px 20px;
        margin-left: 0px;
        border-radius: 30px;
    }

    #caseStudy .list-case .item-case .answer-open .text-title {
        top: -30px;
        left: 15px;
    }

    #caseStudy .list-case .item-case .answer-open .dl-answer {
        width: 100%;
    }
    #caseStudy .list-case .item-case .answer-open .info-company {
        width: 100%;
    }
    #caseStudy .list-case .item-case .answer-open .dd-answer {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 15px;
        letter-spacing: 1px;
        padding-right: 0px;
    }
    #caseStudy .list-case .item-case .answer-open .dd-note {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 1px;
        padding-right: 0px;
    }
    #caseStudy .list-case .item-case .answer-open .dt-answer {
        font-size: 22px;
        text-align: center;
        border-bottom: 5px solid #ffff;
        padding-bottom: 13px;
        margin-bottom: 20px;
    }
    #caseStudy .list-case .item-case .answer-open .small-text {
        font-size: 18px;
    }
    #homepage .link-page {
        font-size: 16px;
        padding: 15px 80px 15px 20px;
    }
    #homepage .link-page::after {
        transform: scale(0.7);
        top: 8px;
        right: 30px;
    }
    #homepage .box-link-page {
        margin-bottom: 50px;
    }
    #qa .list-faq .item-faq .faq-title {
        font-size: 14px;
        line-height: 22px;
        padding: 15px 50px 15px 50px;
        letter-spacing: 2px;
        border-radius: 20px;
    }
    #qa .list-faq .item-faq .faq-title .q-es {
        height: 27px;
        width: 27px;
        font-size: 14px;
        top: 19px;
        left: 10px;
    }
    #qa .list-faq .item-faq .faq-title::after {
        border-width: 0px 3px 3px 0;
        padding: 8px;
        right: 13px;
        top: calc(50% - 20px);
        transition: 1s;
    }
    #qa .list-faq .item-faq .faq-title.open::after{
        border-width: 0px 3px 3px 0;
        padding: 8px;
        right: 13px;
        top: calc(50% - 20px);
    }
    #qa .list-faq .item-faq .dl-faq {
        padding: 15px 20px 15px 20px;
    }
    #qa .list-faq .item-faq .dl-faq .dt-faq {
        font-size: 14px;
        line-height: 22px;
        padding: 15px 30px 15px 35px;
    }
    #qa .list-faq .item-faq .dl-faq .dd-faq {
        font-size: 14px;
        line-height: 26px;
    }
    #qa .list-faq .item-faq .dl-faq .a-es {
        height: 27px;
        width: 27px;
        font-size: 14px; 
        top: 33px;
        left: 13px;   
    }

    /*----------#seminar ------------*/
    #seminar .post-seminar {
        margin-bottom: 0px;
    }
    #seminar .post-seminar .item-post-seminar {
        width: 100%;
        margin-bottom: 30px;
    }
    #seminar .post-seminar .post-new .content-post .title-post {
        height: auto;
        line-height: 27px;
        letter-spacing: 1px;
    }
    #seminar .post-seminar .post-new .content-post .box-time {
        display: block;
    }

    #homepage #seminar .box-contact .right-contact .title {
        font-size: 18px;
        line-height: 28px;
    }
    #homepage #seminar .box-contact .right-contact img {
        height: 108px;
    }
    /*----------#news------------*/
    #news {
        padding: 70px 0px 0px;
    }
    #news .content-news .box-title-news {
        width: 100%;
    }
    #news .content-news .new-content {
        width: 100%;
        margin-bottom: 30px;
    }
    #homepage #news .title-home {
        text-align: center;
    }
    #news .content-news .item-news .text-content {
        width: 100%;
        padding-left: 0px;
        line-height: 28px;
    }
    #news .content-news .item-news .date-cat {
        align-items: center;
        width: 100%;
    }
    #news .content-news .item-news .date-cat .time {
        padding-top: 0px;
    }
    #homepage #news .box-link-page {
        justify-content: center;
        display: flex;
    }
    .info-contact{
        padding: 20px 10px 20px 10px;
        text-align: center;
    }
    .info-contact .title-contact {
        width: 100%;
        margin-bottom: 10px;
    }
    .info-contact .middle {
        width: 100%;
    }
   .info-contact .number-phone {
        width: 100%;
        font-size: 37px;
    }
    .info-contact .text-phone {
        font-size: 18px;
    }
    .info-contact .time {
        font-size: 17px;
        margin-bottom: 10px;
    }

    #homepage .related {
        padding: 50px 0px 40px;
    }
}
@media (max-width: 374px) {
    #homepage #qa .box-contact .list-img .item-img.text {
        padding: 1px;
        font-size: 10px;
        text-align: center;
    }
    .link-page ,#homepage .link-page.mobi{
        font-size: 14px;
    }
    #mainBanner .item-slider .top-banner .message-banner,#mainBanner .top-banner .message-banner, #mainBanner .item-slider:nth-child(1) .top-banner .message-banner {
        font-size: 26px;
    }
    #homepage #mainBanner .link-page::after {
        transform: scale(0.5);
        right: 8px;
        top: 1px;
    }
    #mainBanner .down-top .item-down {
        font-size: 16px;
        text-align: left;
    }
    #homepage .title-home .text-jp {
        font-size: 26px;
    }
    #mainBanner .down-top .title-down {
        font-size: 18px;
    }
    #mainBanner .title-page-sub {
        font-size: 20px;
        line-height: 30px;
        padding: 6px 20px;
    }
    #mainBanner .top-banner .message-banner span {
        font-size: 16px;
        letter-spacing: 1px;
    }
}






#allService .list-service .item-service {
    width: 100%;
    border: 2px solid #0B54F7;
    border-radius: 20px;
    padding: 35px 25px 13px 10px;
}
#allService .list-service .item-service .title-service {
    width: 325px;
    margin-top: -63px;
	padding: 0px 5px;
}
#allService .list-service .item-service a {
    display: flex;      
    justify-content: space-around;
}
#allService .list-service .item-service .box-top-service {
    margin-bottom: 20px;
    width: 60%;
}
#allService .list-service .item-service .box-img-down {
    padding: 0px 0px;
    width: 40%;
}
#allService .list-service .item-service .box-img-down .icon-left {
    width: 60%;
    text-align: center;
}
#allService .list-service .item-service .box-img-down .img-icon.last {
    width: 40%;
}

#allService .list-service .item-service .box-img-down .img-icon.one {
    margin-bottom: 20px;
    display: block;
}
#allService .list-service .item-service .box-text.two {
    padding: 0px 0px;
    width: 38.5%;
}
#allService .list-service .item-service .item-text {
    font-size: 20px;
    line-height: 45px;
    padding: 0px 0px;
}
#allService .list-service .item-service .box-text.three {
    max-width: 440px;
     margin: unset
}
#allService .list-service .item-service .box-top-service .text-item {
    padding-top: 5px;
    font-size: 20px;
    line-height: 35px;
    width: 53%;
    padding-left: 20px;
}
#allService .list-service .item-service .box-top-service .img-icon {
    width: 47%;
}


#caseStudy .list-case .item-case .q-case {
    justify-content: center;
}

#allService .list-service .item-service .img-icon.text {
    margin-top: 25px;
    display: block;
}


#homepage .camtech {
    background :#172C62;
    padding: 70px 0px 
}

#homepage .camtech .box-camtech .box-text, .camtech .box-camtech .img-camtech {
    width: 50%;
}
#homepage .camtech .box-camtech .img-camtech img {
    width: 100%;
}
#homepage .box-camtech .title-home .text-es {
    color: white;
    text-align: left;
}
#homepage .box-camtech .logo-camtech {
    display: block;
    margin-bottom: 20px;
}
#homepage .box-camtech .text {
    font-size:20px;
    line-height: 40px;
    margin-bottom: 20px;
    color: white;
}

#homepage .box-camtech .box-link-page {
    justify-content: left;
    margin-bottom: 0px;
}
#homepage .box-camtech .link-page {
    padding: 15px 90px 15px 20px;
}
#homepage .box-camtech .link-page::after {
    background-image: url(../../images/home_camtech_icon.png);
    width: 35px;
    height: 35px;
    right: 30px;
    top: 14px;
}

#homepage .box-camtech  .link-page:hover::after {
    background-image: url(../../images/home_camtech_icon_hover.png);
    width: 35px;
    height: 35px;
    right: 30px;
    top: 14px;
}
#homepage .box-link-page.mobi {
    display: none;
}
#homepage .box-camtech .logo-camtech.mobi {
    display: none;
}
#homepage .title-mobi {
    display: none;
}

@media (max-width: 1280px) {

    #allService .list-service .item-service .box-top-service .text-item {
        font-size: 16px;
        line-height: 32px;
    }
    #allService .list-service .item-service .item-text {
        font-size: 16px;
        line-height: 32px;
    }
    #homepage .box-camtech .text {
        font-size: 18px;
        line-height: 36px;
    }
    .box-contact .left-contact .text-01 {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .camtech .box-camtech .img-camtech.destop ,#homepage .box-camtech .logo-camtech.destop{
        display: none;
    }
    #homepage .box-camtech .logo-camtech.mobi {
        display: block;
    }
    #homepage .box-link-page.mobi {
        display: flex;
    }
    #allService .list-service .item-service {
        text-align: center;
        padding: 35px 20px 25px 20px;
    }
    #allService .list-service .item-service .box-top-service ,
    #allService .list-service .item-service .box-top-service .img-icon,
    #allService .list-service .item-service .box-top-service .text-item,
    #allService .list-service .item-service .box-img-down .img-icon,
    #allService .list-service .item-service .box-img-down,
    #allService .list-service .item-service .box-text.two,
    #homepage .camtech .box-camtech .box-text, .camtech .box-camtech .img-camtech
    {
        width: 100%;
    }
    #allService .list-service .item-service .box-top-service .img-icon {
        width: 240px;
        margin: auto;
    }
    #allService .list-service .item-service .box-top-service .text-item {
        padding: 0px;
    }
    #allService .list-service .item-service a {
        flex-direction: column;
    }
    #allService .list-service .item-service .box-top-service .text-item {
        font-size: 16px;
        line-height:32px;
        text-align: left;
    }
    #allService .list-service .item-service .box-img-down .img-icon.text {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    #allService .list-service .item-service .box-img-down .img-icon.last {
        margin-top: 10px;
        padding-left: 0px;
        width: 100%;
        margin-bottom: 20px;
    }
    #allService .list-service .item-service .box-img-down .img-icon.last img {
        height: auto;
        width: auto;
    }
    .camtech .box-camtech .img-camtech{
       display: block;
       margin-bottom: 10px;
    }
    #homepage .box-camtech .link-page::after {
        background-image: url(../../images/home_camtech_icon_hover.png);
        right: 20px;
       top: 4px
    }
    #homepage .box-camtech .text {
        font-size: 16px;
        line-height: 32px;

    }
    #homepage .box-camtech .box-link-page {
        justify-content: center;
    }
    #allService .list-service .item-service .box-img-down .icon-left {
        width: 100%;
    }


    #homepage .list-service .box-link-page {
        margin-bottom: 0px;
        width: 160px;
        margin: auto;
    }
    #homepage .list-service .link-page {
        padding: 7px 50px 7px 20px;
    }
    #homepage .list-service .link-page::after {
        transform: scale(0.7);
        top: 0px;
        right: 14px;
    }
    #homepage .camtech {
        text-align: center;
        padding: 30px 0px;
    }
    #homepage .box-camtech .title-home .text-es {
        text-align: center;
    }
    #homepage .title-mobi {
        font-size: 30px;
        display: block;
        text-align: center;
        color: white;
    }
    #homepage .text-mobi {
        font-size: 18px;
        display: block;
        text-align: center;
        line-height: 26px;
        color: white;
        margin-top: 15px;
    }

    #homepage .box-camtech .title-home {
        text-align: center;
        margin-bottom: 5px;
    }
    #homepage .box-camtech .link-page {
        padding: 8px 75px 8px 20px;
    }
    #news .content-news .box-title-news .box-link-page {
        margin-bottom: 0px;
    }
}

#qa .list-faq .item-faq .dl-faq {
	color: black;
}
#qa .list-faq .item-faq .dl-faq .dd-faq a {
	color: #0B54F7;
}
#qa .list-faq .item-faq {
	border-radius: 50px;
	background: white;
	color: black;
}
#qa .list-faq .item-faq.open {
	border: 2px solid #0B54F7;
}


