/* lp banner -------------*/
#cloudsystem .inner {
    max-width: 1120px;
    padding: 0px 20px;
    margin: auto;
}
#header-menu .inner-header.pc-menu {
    display: none;
}
.banner-lp .inner-banner {
    max-width: 1670px;
    margin: auto;
}
.banner-lp {
    position: relative;
    padding: 125px 0px 30px;
}

#header-menu.lp .inner-header {
    max-width: 1080px;
}
#header-menu {
    width: 100%;
    top: 22px !important;

}
#header-menu .header-logo {
    width: 100%;
}
#header-menu.lp .bg-nav {
    padding: 16px 20px 16px;
    border-radius: 60px;
	width: calc(100% - 230px);
	background: transparent;
	box-shadow: unset;
 
}
.contact-lp-link  {
    width: 285px;
    background: #E83E28;
  
    text-align: center;
    color: white;
    margin-left: 25px;
    border-radius: 50px;
   border: 2px solid #FFB680;
   position: relative;
   font-size: 18px;
}
.contact-lp-link::after {
    position: absolute;
    content: "";
    background: url(../../images/lp/contact_icon.svg);
    width: 16px;
    height: 12px;
    left: 32px;
    top: 29px;
}
.contact-lp-link.two::after {
	display:none;
}
.contact-lp-link a {
    color: white;
    font-weight: 600;
    width: 100%;
    height: 100%;
    display: block;
	padding: 22px 0px 22px 35px;
}
.banner-lp::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_left.png);
    background-size: cover;
    background-position: center;
    left: 0px;
    top:0px;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.banner-lp .title-top {
	width:342px;
	height:40px;
	text-align:center;
	font-size:20px;
	font-weight:600;
    background-image: url(../../images/lp/bg_text_banner_01.png);
	background-size: cover;
    background-position: center;
	margin: auto;
    padding-top: 5px;
	margin-bottom: 35px;
}
.banner-lp.onlinetrainning .title-top {
	width:281px;
	 margin-bottom: 20px;
}
.banner-lp::before {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_right.png);
    background-size: cover;
    background-position: center;
    right: 0px;
    top:0px;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.banner-lp .icon-img {
    width: 33%;
    position: relative;
    z-index: 99;
}
.banner-lp .icon-img::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot.svg);
    height: 123px;
    width: 123px;
    bottom: 50px;
    left: 5px;
    z-index: -1;
}

.banner-lp .icon-img.two::after {
    background-image: url(../../images/lp/lp_bg_dot.svg);
    top: -6px;
    right: 85px;
    left: unset;
    z-index: -1;
}


.banner-lp .icon-img.two {
    width: 31%
}
.banner-lp .box-text{
    width: 37%;
    margin-left: -20px;
    padding: 20px 0px;
}
.banner-lp .main-text {
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 35px;
}

.banner-lp .number {
    font-size: 48px;
}
.banner-lp .small01 {
    font-size: 28px;
}
.banner-lp .small02 {
    font-size: 43px;
}
.banner-lp .sub-text {
    font-size: 16px;
    font-weight: 600;
    margin-left: -20px;
}

.box-info {
    text-align: center;
}
.title-box {
    width: 175px;
    padding: 2px 0px;
    text-align: center;
    background: white;
    margin: auto;
    color: #F07011;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    margin-bottom: 10px;
}
.number-box {
    font-size: 25px;
    font-weight: 600;
    color: white;
    position: relative;
    width: 400px;
    margin: auto;
    margin-bottom: 27px;
}
.number-box::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_line_left.svg);
    width: 33px;
    height: 90px;
    left: -15px;
    top: -24px;
    z-index: 99;
}
.number-box::before {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_line_right.svg);
    width: 33px;
    height: 90px;
    right: 0px;
    top: -24px;
    z-index: 99;
}


.box-logo {
    justify-content: flex-start;
}
.box-logo .img-logo:nth-child(1) {
    width: 43%;
	margin-top:30px
}

.box-logo .img-logo:nth-child(2) {
    width: 37%;
    margin-left: 19%;
}
.box-logo .img-logo:nth-child(2) span {
	color:white;
	white-space: pre;
    font-size: 12px;
	display: block;
    margin-bottom: 15px;
}
#cloudsystem .box-logo .img-logo:nth-child(2) span {
	display:block;
	margin-bottom:30px
}
#cloudsystem .box-logo .img-logo:nth-child(1) {
    margin-top: 45px;
}


#cloudsystem  .box-logo.one {
	  margin-top: -15px;
}
#cloudsystem  .box-logo.two {
	  margin-top: -30px;
}

@media (max-width: 1580px) {

    .banner-lp .icon-img {
        width: 28%;
    }
    .banner-lp .icon-img.two {
        width: 26%;
    }
    .banner-lp .box-text {
        width: 47%;
        margin-left: -20px;
        padding: 55px 0px;
    }
    .banner-lp .icon-img::after {
        bottom: 125px;
        left: 5px;
        transform: scale(0.7);
    }
    .banner-lp .icon-img.two::after {
        top: -30px;
        right: 45px;
    }
}

@media (max-width: 1280px) {
    .banner-lp .main-text {
        font-size: 34px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .banner-lp .number {
        font-size: 38px;
    }
    .banner-lp .small01 {
        font-size: 18px;
    }
    .banner-lp .small02 {
        font-size: 33px;
    }
    .banner-lp .sub-text {
        font-size: 12px;
    }
    .banner-lp .icon-img::after {
        bottom: 169px;
        left: -16px;
    }
	#header-menu .header-logo {
        width: 180px;
    }
}


/* TROUBLE -------------*/

.block-trouble {
    background-image: url(../../images/lp/bg_content_01.png);
    background-position: center;
    background-size: cover;
    padding: 80px 0px 110px;
    position: relative;
}
.block-trouble::after {

}
.block-trouble > .inner {
    position: relative;
    z-index: 99
}
.block-trouble > .inner::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/icon_people.svg);
    width: 335px;
    height: 456px;
    bottom: -130px;
    left: -210px;
    z-index: -1;

}

.title-page-lp {
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 45px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}
.title-page-lp .title-jp {
    font-size: 32px;
}

.block-trouble .list-trouble {

}

.block-trouble .list-trouble .list-trouble {
    width: calc(100%/4 - 30px);
    background: white;
    border-radius: 20px;
    text-align: center;
    padding: 20px 10px 40px;
}

.block-trouble .list-trouble .dt-trouble {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    background: #05127E;
    color: white;
    font-weight: 600;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
 
.block-trouble .list-trouble .dd-trouble {
   font-size: 16px;
   line-height: 24px;
   font-weight: bold;
   min-height: 105px;
}

/* SOLUTION-------------*/

.block-solution {
    background-image: url(../../images/lp/bg_content_02.png);
    background-position: center;
    background-size: cover;
    padding: 90px 0px 97px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}
.block-solution::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    border-top: 32px solid #05127E;
    left: 50%;
    transform: translate(-50%,0%);
    top: 0px;
    z-index: 99;
}



.block-solution > .inner {
    position: relative;
} 

.block-solution > .inner::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot02.svg);
    height: 123px;
    width: 123px;
    top: -114px;
    left: 0px;
    z-index: -1;
}

.block-solution > .inner::before {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot02.svg);
    height: 123px;
    width: 123px;
    bottom: -45px;
    right: -18px;
    z-index: -1;
}

.block-solution .title-page-lp {
    color:#0022E4;
}
.block-solution .title-page-lp .title-jp {
    color: black;
}
.block-solution  .item-logo {
    width: calc(50% - 20px);
    text-align: center;
    color: white;
    font-weight: 600;
    padding: 30px 20px 30px;
    background: #F07011;
    border-radius: 20px;
    display: block;
    border: 2px solid #CC5700;
}
.block-solution  .item-logo.two {
    background: #05127E;
    border: 2px solid #031AA0
}
.block-solution  .item-logo .note {
    font-size: 18px;
    margin: 18px 0px 25px;
}



/* CAMCAT-------------*/

.box-camcat {
    background-image: url(../../images/lp/bg_content_03.png);
    background-position: center;
    background-size: cover;
    padding: 90px 0px 90px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}
.box-camcat > .inner {
    position: relative;
}
.box-camcat > .inner::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot03.svg);
    height: 123px;
    width: 123px;
    top: 8px;
    left: -133px;
    z-index: -1;
}

.box-logo-title {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}
 .page-dse {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 72px;
}
 .box-logo-title::after {
     position: absolute;
     content: "";
     background: #F07011 ;
     height: 4px;
     width: 100px;
     left: 50%;
     transform: translateX(-50%);
}
 .box-logo-title .note-title {
    font-size: 20px;
    font-weight: 600;
    margin: 27px 0px 32px;
}

/* merit */
.box-camcat  .title-page-lp {
    color: #F07011;
}
.box-camcat  .title-jp {
    color: black
}
.box-camcat .item-merit {
    width: calc(100%/3 - 25px);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
}
.box-camcat .list-merit {
    position: relative;
}
.box-camcat .list-merit::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot03.svg);
    height: 123px;
    width: 123px;
    top: -64px;
    right: -67px;
    z-index: -1;
}
.box-camcat .item-merit .title-merit {
    padding: 24px 0px 27px;
    background: #05127E;
    color: white;
    font-weight: 600;
	font-size:18px
}

.box-camcat .item-merit .content-merit {
    background: white;
    padding: 30px 20px 10px;
}
.box-camcat .item-merit .content-merit .img-box {
    display: block;
    position: relative;
    z-index: 99;
}
.box-camcat .item-merit .content-merit .img-box.one {
    margin-top: 15px;
    display: block;
    margin-bottom: 12px;
}
.box-camcat .item-merit .dl-title {
    min-height: 120px;
    color: #05127E;
}
.box-camcat .item-merit .dl-title .dt-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 20px;
}
.box-camcat .item-merit .dl-title .dt-title.two {
    font-size: 18px;
    line-height: 26px;
}
.box-camcat .item-merit .content-merit .img-box.three {
    margin-bottom: 10px;
}
.box-camcat .item-merit .dl-title .dd-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}
.box-camcat .item-merit .note-merit {
    padding: 20px 10px;
    background: #F0F4FF;
    border-radius: 30px;
    font-size: 14px;
    line-height: 20px;
    margin-top: -15px;
    z-index: -1;
    margin-bottom: 25px;
}

.box-camcat .item-merit .dl-check {
    min-height: 215px;
    padding: 0px 5px;
}

.box-camcat .item-merit .dt-check {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}
.box-camcat .item-merit .dd-check {
    position: relative;
    background: #FFF4EA;
    padding: 12px 20px 13px 38px;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 10px;
	font-size:14px
}
.box-camcat .item-merit .dd-check::after {
    position: absolute;
    content: "";
    background: #F07011;
    width: 16px;
    height: 16px;
    left: 15px;
    top: 15px;
    border-radius: 50%;
}

.box-camcat .item-merit .dd-check::before {
    position: absolute;
    content: "";
    background: url(../../images/lp/check.svg);
    width: 19px;
    height: 15px;
    left: 17px;
    top: 12px;
    z-index: 99;
}
.box-camcat .merit {
    margin-bottom: 60px;
}
.box-camcat .block-imgage .title-image{
    font-size: 20px;
    font-weight: 600;
    padding-left: 25px;
    position: relative;
}
.box-camcat .block-imgage .title-image::after {
    position: absolute;
    content: "";
    background: #F07011;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    left: 0px;
    top:10px
}
.box-camcat .block-imgage .bg-image {
    width: 845px;
    height: 405px;
    background: #FFC076;
    background-origin: padding-box;
    border-radius: 25px;
    position: relative;
    margin: auto;
    margin-top: 90px;
    position: relative;
    margin-bottom: 100px;
}
.box-camcat .block-imgage .bg-image::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot03.svg);
    height: 123px;
    width: 123px;
    bottom: -107px;
    left: -184px;
    z-index: -1;
}
.box-camcat .block-imgage .bg-image::before {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot03.svg);
    height: 123px;
    width: 123px;
    top: 27%;
    right: -185px;
    z-index: -1;
}
.box-camcat .block-imgage .bg-image .imgage-box01 {
    position: absolute;
    top: 45px;
    left: -130px;
    display: block;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
    z-index: 99;
    border-radius: 30px;
}
.box-camcat .block-imgage .bg-image .imgage-box02 {
    position: absolute;
    top: -58px;
    right: -120px;
    display: block;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
    border-radius: 30px;
}



#cloudsystem  .contact {
    display: block;
    border-radius: 40px;
    background: #E83E28;
    color: white;
    position: relative;
    padding: 20px 10px;
    width: 400px;
    height: 80px;
    font-size: 24px;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 90px;
    border: 2px solid #CC1000;
	box-shadow: 0px 2px 20px rgb(0 0 0 / 16%);
} 


#cloudsystem .contact.two::after {
	display:none;
}
#cloudsystem .block-inner {
	display: flex;
	justify-content: center;
	max-width: 880px;
	margin: auto;
}
#cloudsystem .contact.two {
	padding: 7px 10px;
	font-size: 20px;
	text-align: center;
	background: #fc6e02;
}

#cloudsystem .contact::after {
   position: absolute;
   content: "";
   background: url(../../images/lp/contact_icon.svg);
   width: 16px;
   height: 12px;
   left: 58px;
   top: 34px;
}

/* TREX-------------*/

.box-trex {
    background-image: url(../../images/lp/bg_content_04.png);
    background-position: center;
    background-size: cover;
    padding: 110px 0px 90px;
    position: relative;
    z-index: 99;
    overflow: hidden;
}
.page-dse.two {
    margin-bottom: 50px;
}
.box-trex > .inner {
    position: relative;
}
.box-trex > .inner::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot04.svg);
    height: 123px;
    width: 123px;
    top: 8px;
    left: -133px;
    z-index: -1;
}
.box-trex  .block-trex-one {
    position: relative;
    padding: 90px 30px 55px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
}

.box-trex  .block-trex-one::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot04.svg);
    height: 123px;
    width: 123px;
    top: -60px;
    right: -65px;
    z-index: -1;
}
.box-trex .block-trex-one.three::after {
    top: unset;
    left: -65px;
    bottom: -42px;
}



.box-trex  .block-trex-one .title-trex {
    width: 278px;
    height: 60px;
    background-image: url(../../images/lp/bg_crile01.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 13px;
}

.box-trex  .list-one, .box-trex  .list-two {
    text-align: center;
}

.box-trex  .list-one .icon-one,.box-trex .list-one .icon-two{
    width: 21%;
    background: #F7F7F7;
    border-radius: 20px;
    padding: 15px 10px 20px 10px;
}

.box-trex  .list-one .icon-two{
    width: calc(39% - 20px);
    background: #F7F7F7;
    border-radius: 20px;
}

.box-trex .list-one .img-box {
    display: block;
    min-height: 145px;
}
.box-trex .title-icon {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.box-trex .item-icon {
    width: calc(50% - 0px);
}
.box-trex .list-one .img-box.two {
    padding-top: 15px;
}

.box-trex .box-arrow {
    width: 196px;
    height: 48px;
    background: #0022E4;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    margin-top: -24px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 50px;
    z-index: 99;
}
.box-trex .box-arrow::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/arrow_down.svg);
    width: 28px;
    height: 69px;
    bottom: -64px;
    left: 50%;
    transform: translateX(-50%);
}

.box-trex .block-trex-two {
    position: relative;
    padding: 71px 73px 72px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%); 
    align-items: center;
    margin-bottom: 65px;
}
.box-trex .block-trex-two .box-icon-two .note-icon-two{
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}

.box-trex .block-trex-two .box-text {
    width: 28%;
}
.box-trex .block-trex-two .box-icon-two{
    width: 44%;
    text-align: center;
}
.box-trex .block-trex-two .text-item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background: #1799D9;
}
.box-trex .block-trex-one.three {
    padding: 50px 40px 90px;
    margin-bottom: 80px;
}

.box-trex .block-trex-one.three .title-trex {
    background-image: url(../../images/lp/bg_crile02.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    top: unset;
}



.box-trex .list-one .icon-one.three {
    width: 28%;
    padding: 52px 10px 30px;
    position: relative;
}


.box-trex .list-one .icon-two.three {
    width: calc(42% - 20px);
    padding: 42px 10px 30px;
    position: relative;

}
.box-trex .list-one.three .img-box {
    display: block;
    min-height: auto;
    margin-bottom: 30px;
}

.box-trex .note-icon {
    font-size: 16px;
    line-height: 24px;
}
.box-trex .box-arrow.three {
    width: 256px;
    position: absolute;
    top: -50px
}
.box-trex .list-one .icon-two.three {
    position: relative;
}
.box-trex .box-arrow.three.two {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.box-trex .box-arrow.three::after {
    background-image: url(../../images/lp/arrow_up.svg);
    bottom: unset;
    left: 50%;
    top:-55px
}

/* -----footer------*/


#footer-lp {
    background: white !important;
    padding:65px 0px 65px;

}
#footer-lp .inner {
    max-width: 1120px;
    margin: auto;
}


#footer-lp .copy-right {
    font-size: 12px;
    color: #AAAAAA;
}

#footer-lp .box-logo-lp {
    align-items: center;
}

#footer-lp .text-lp {
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}

@media (max-width: 768px) {
	
	#header-menu .header-logo{
		max-width: 180px;
	}
	#header-menu.lp{
		background: transparent;
	}
	.page-template-lponlinetrainning .outer,
	.page-template-lpcloudsystem .outer{
		margin-top: 0px;
	}
	#header-menu.lp .bg-nav{
		width: 100%;
	}

    .banner-lp .icon-img {
        display: none;
    }
    .banner-lp .box-text {
        width: 100%;
        margin-left: 0px;
        padding: 30px 15px;
    }
    .banner-lp .sub-text {
        margin-left: 0px;
    } 
    .banner-lp .main-text,.banner-lp .small02 {
        font-size: 18px;
    }
    .banner-lp .number {
        font-size: 22px;
    }
    .number-box .img-box {
        margin-left: 0px;
    }
    .number-box .img-box img {
        width: 120px;
    }
    .title-box {
        width: 120px;
        font-size: 14px;
    }
    .number-box {
        font-size: 14px;
        width: 360px;
    }
    .number-box::after { 
        left: 39px;
         top: -34px;
        transform: scale(0.8);  
    }
    .number-box::before { 
        right: 39px;
         top: -34px;
        transform: scale(0.8);  
    }

    .title-page-lp {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .title-page-lp .title-jp {
        font-size: 18px;
         margin-bottom: 20px;
    }
    .block-trouble .list-trouble .list-trouble {
        width: 75%;
        margin: auto;
        margin-bottom: 20px;
    }
    .block-trouble .list-trouble .list-trouble img {
        width: 130px;
    }
    .block-trouble .list-trouble .dd-trouble {
        font-size: 14px;
        min-height: auto;
        margin-bottom: 10px;
    }
    .block-trouble { 
        padding: 40px 0px 50px;
    }
    .block-solution > .inner::after,  .block-solution > .inner::before {
        display: none;
    }
    .block-solution {
        padding: 40px 0px 50px;
    }
    .block-solution .item-logo {
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        padding: 15px 20px 20px;
    }
    .block-solution .item-logo img {
        width: 140px;
    }
    .block-solution .item-logo img.arrow {
        width: 25px;
    }
    .block-solution .item-logo .note {
        font-size: 16px;
        margin: 18px 0px 25px;
    }
    .box-camcat .item-merit {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    .box-camcat .list-merit::after {
        display: none;
    }
    .box-camcat .block-imgage .bg-image .imgage-box02,  .box-camcat .block-imgage .bg-image .imgage-box01{
        position: relative;
        top: unset;
        right: unset;
        left: unset;
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
    }
    .box-camcat .block-imgage .bg-image {
        width: auto;
        height: auto;
        padding: 30px 0px;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    #cloudsystem .contact {
        padding: 15px 10px 15px 55px;
        width: 280px;
        height: 50px;
        font-size: 14px;
    }
    #cloudsystem .contact::after {
        left: 30px;
        top: 21px;
    }
    .box-camcat {
        padding: 50px 0px 40px;
    }

    .box-logo-title img {
        width: 150px;
    }

    .box-logo-title .note-title {
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0px 15px;
    }
    .box-logo-title {
        margin-bottom: 60px;
    }
    .page-dse {
        font-size: 13px;
        line-height: 22px;
        margin-bottom: 30px;
    }
    .box-camcat .item-merit .title-merit {
        padding: 15px 0px 15px;
    }

    .box-camcat .item-merit .dl-title .dt-title {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 5px;
    }
    .box-camcat .item-merit .content-merit {
        background: white;
        padding: 25px 10px 10px;
    }
    .box-camcat .item-merit .dl-check {
        min-height: auto;
    }
    .box-camcat .merit {
        margin-bottom: 25px;
    }
    .box-trex {
        padding: 50px 0px 40px;
    }
    .box-trex .block-trex-one .title-trex {
        width: 184px;
        height: 39px;
        background-image: url(../../images/lp/bg_crile01.svg);
        background-size: cover;
        background-position: center;
        font-size: 14px;
        padding-top: 8px;
    }
    .box-trex .list-one .icon-one, .box-trex .list-one .icon-two {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .box-trex .block-trex-one {
        padding: 60px 10px 25px;
        border-radius: 20px;
    }
    .box-trex .block-trex-one.three::after,.box-trex .block-trex-one::after {
        display: none;
    }
    .box-trex .block-trex-two {
        padding: 40px 20px 35px;
        border-radius: 20px;
    }
    .box-trex .block-trex-two .box-text ,.box-trex .block-trex-two .box-icon-two {
        width: 90%;
        margin: auto;
        margin-bottom: 15px;
    }
    .box-trex .block-trex-two .text-item {
        width: 80px;
        height: 80px;
        font-size: 14px;
    }
    .box-trex .block-trex-two .text-item:nth-child(1) {
        margin-right: 10px;
    }
    .box-trex .block-trex-two .text-item:nth-child(2) {
        margin-left: 10px;
    }
    .box-trex .block-trex-two .box-icon-two img {
       width: 170px;
    }

    .box-trex .block-trex-two .box-icon-two .note-icon-two {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
    }

    .box-trex .block-trex-two .box-text {
        justify-content: center;
    }

    .box-trex .box-arrow {
        width: 180px;
        height: 40px;
        font-size: 14px;
        padding-top: 9px;
    }

    .list-mobi {
        display: block;
    }

   .list-mobi li {
        margin-right: 20px;
        box-shadow: 0px 5px 5px rgb(0 0 0 / 15%);
    }
    .slick-list {
        padding-right: 20% !important;
        padding-left: 4px;
        margin-right: -20px;
    }
    .box-trex .list-one .icon-one.three,.box-trex .list-one .icon-two.three {
        width: auto;
        margin-left: 40px;
        min-height: 300px;
        padding: 24px 10px 30px;
    }
    .box-trex .box-arrow.three::after {
        display: none;
    }
    .box-trex .block-trex-two {
        position: relative;
        margin-bottom: 63px;
    }
    .box-trex .block-trex-two::after {
        position: absolute;
        content: "";
        background-image: url(../../images/lp/arrow_down.svg);
        width: 28px;
        height: 69px;
        bottom: -64px;
        left: 50%;
        transform: translateX(-50%);
    }
    .box-trex .box-arrow.three,.box-trex .box-arrow.three.two {
        position:static;
        transform: translateX(0%);
        width: 190px;
        margin-bottom: 25px;
        font-size: 12px;
        height: 30px;
        padding-top: 6px;
    }
    .box-trex .block-trex-one.three {
        padding: 0px 15px 40px;
        margin-bottom: 80px;
    }
    .slick-slide img {
        margin: auto;
    }

    #footer-lp .box-logo-lp {
        flex-direction: column;
    }
	#cloudsystem .block-inner {
	   flex-direction:column;
	}
	#cloudsystem .contact.two {
		padding: 4px 10px;
		font-size: 14px;
		margin-bottom:10px
	}
	#cloudsystem .contact {
		font-size:14px
	}

}




/*contact-block*/


.contact-lp{
    background: #0022E4;
    padding: 100px 0px 50px;
}
.contact-lp input[type="checkbox"] {
    width: 0px;
    height: 0px;
}
.box-check {
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 0px 24px;
    background: #F7F7F7;
}
.box-check a {
    color: #0022E4;
}
#comfirmlp .contact-block .contact-form .btn-submit.show-lp.btn-send input {
    pointer-events:inherit !important;
    background: white !important;
    color: #B70000
}
#comfirmlp .box-check  {
    display: none;
}
.contact-lp input[type="checkbox"]{
	width: 0px;
	height: 0px;
}
.contact-lp input[type="checkbox"] + span {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.contact-lp  input[type="checkbox"] + span:before {
    position: absolute;
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 32px;
    height: 32px;
    border: 2px solid #0022E4;
    left: -53px;
    top: -4px;
    border-radius: 7px;
}
.contact-lp input[type="checkbox"]:checked + span:after {
	content: "";
    position: absolute;
    top: 8px;
    width: 19px;
    height: 13px;
    background-image: url(../../images/lp/check_form02.png);
  left: -43px;
}
.contact-lp input[type="checkbox"]:checked + span:before {
    background: #0022E4
}


.contact-lp .text-reque {
    display: inline-block;
    background: #FC6E02;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    padding: 0px 8px;
    height: 28px;
    margin-left: 20px;
}

.contact-block .contact-form{
    max-width: 810px;
    margin: auto;
    border: 1px solid rgba(56,77,116,.75);
    border-radius: 10px;
    background: white;
    padding: 66px 100px;
	box-shadow: 0px 2px 24px rgb(0 0 0 / 16%);
}
.contact-block .contact-form .heading{
    font-size: 35px;
    line-height: 40px;
    color: #145A8C;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 11px;
}
.contact-block .contact-form .sub-ttl{
    font-size: 18px;
    line-height: 26px;
    color: #145A8C;
    text-align: center;
    letter-spacing: 1px;
}
.contact-block .contact-form .sub-ttl.ttl-confirm{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .sub-ttl,
.contact-block .mw_wp_form_confirm .contact-form .heading{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .sub-ttl.ttl-confirm{
    display: block;
}
.contact-block .contact-form .form-heading{
    margin-bottom: 60px;
}
.contact-block .contact-form .field-input .ttl-field{
    font-size: 16px;
    line-height: 27px;
    color: black;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 600;
}
.contact-block .contact-form .field-input input{

    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    width: 100%;
    padding: 0px 10px;
    height: 62px;
    background-color: #E4E8F4;
    position: relative;
}
.contact-block .contact-form .field-input input.is-false{
    border-bottom: 1px solid #B70000;
}
.contact-block .contact-form .btn-submit input[name="submitConfirm"]{
    pointer-events: none;
}
.contact-block .contact-form .btn-submit input[name="submitConfirm"].is-submit{
    pointer-events: unset;
}
.contact-block .contact-form .field-input textarea{
    height: 160px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    background-color: #E4E8F4;
    position: relative;
}
.contact-block .contact-form .field-input{
    margin-bottom: 30px;
}
.contact-block .contact-form .btn-submit{
    position: relative;
    cursor: pointer;
}
.contact-block .contact-form .btn-submit.show-lp.btn-send input{
    pointer-events: none;
    background: #333;
}
.contact-block .mw_wp_form_confirm .contact-form .btn-submit{
    margin: 0 8px;
}
.contact-block .contact-form .btn-submit.btn-back{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .btn-submit.btn-back{
    display: block;
}
.contact-block .contact-form .btn-submit input{
    font-size: 24px;
    line-height: 20px;
    width: 290px;
    height: 80px;
    border: 2px solid #CC1000;
    color: white;
    text-align: center;
    transition: .3s;
    background: #E83E28;
    border-radius: 80px;
    cursor: pointer;
	margin: auto;
    display: block;
}
/* .contact-block .contact-form .btn-submit.btn-back input{
    pointer-events: none !important;
} */
.contact-block .contact-form .btn-submit:hover input{
    background: #E83E28;
    color: #fff;
}
.contact-block .contact-form .btn-submit.btn-send svg{
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}
.contact-block .contact-form .btn-submit.btn-back svg{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.contact-block .contact-form .btn-submit svg *{
    transition: .3s;
}
.contact-block .contact-form .btn-submit:hover svg line,
.contact-block .contact-form .btn-submit:hover svg path{
    stroke: #fff;
}
.contact-block .contact-form .form-submit{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact-block .form-complete .title{
    font-size: 20px;
    line-height: 40px;
    color: #E83E28;
    font-weight: 500;
    text-align: center;
}
.contact-block .form-complete .title p{
    margin-top: 25px;
}

.contact-block .mw_wp_form_confirm .contact-form .field-input{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #CC1000;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input .error{
    display: none;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input .ttl-field{
    width: 37.5%;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input .container{
    width: 62.5%;
    font-size: 16px;
    line-height: 24px;
}
.contact-block .mw_wp_form_confirm .contact-form .field-input:first-child{
    border-top: 1px solid #CC1000;
    padding-top: 25px;
}

.contact-block .link-page{
    margin: 45px 0;
}
.contact-block .link-page a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 136px;
    height: 47px;
    border: 1px solid #CC1000;
    border-radius: 30px;
    margin: auto;
    font-size: 20px;
    line-height: 20px;
    padding-right: 28px;
    color: #384D74;
    transition: .3s;
    position: relative;
    padding-top: 2px;
}
.contact-block .link-page a:hover{
    background: #E83E28;
    color: #fff;
}
.contact-block .link-page a svg{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}
.contact-block .link-page a svg *{
    transition: .3s;
}
.contact-block .link-page a:hover svg line,
.contact-block .link-page a:hover svg path{
    stroke: #fff;
}
.page-complete .contact-block{
    padding-top: 150px;
}
.page-confirm .heading-entry,
.page-complete .heading-entry{
    display: none;
}
.sp_br {
    display: none;
}
#comfirmlp {
    padding: 100px 0px 40px;
}
#comfirmlp .contact-block .contact-form .btn-submit input {
    width: 200px;
}



.contact-lp-info {
    background: white;
    padding: 40px 80px 40px 80px;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 16%);
    max-width: 800px;
    margin: auto;
    margin-top:30px;
    
}

.contact-lp .left {
    width: 38%;
    border-right: 2px solid #D0D0D0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 33px;
    font-weight: 600;
}

.contact-lp .right{
    width: 60%;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
}
.contact-lp .right .text-right {
    font-size: 14px;
    color: #FC6E02;
    font-weight: 600;
    width: 100px;
}
.box-number {
    width: calc(100% - 100px);
    padding-left: 13px;
}
.box-number .top {
    display: flex;
    align-items: center;
}

.box-number .top  .number {
    font-size: 32px;
    color:#FC6E02;
    font-weight: 600;
    margin-left: 10px;
}

.box-number .time {
    font-size: 12px;
}





@media (max-width: 768px) { 
    .box-check a {
        display: block;
		margin-bottom:10px
    }
    .contact-lp {
        background: #0022E4;
        padding: 50px 20px 50px;
    }
    .contact-block .contact-form {
        padding: 40px 20px;
    }
    .sp_br {
        display: block;
    }
    .mwform-checkbox-field-text {
        max-width: 220px !important;
        display: block;
        margin: auto;
        margin-top: -20px;
    }
    .contact-lp input[type="checkbox"] + span:before {
        width: 20px;
        height: 20px;
        border: 2px solid #0022E4;
        left: -140px;
       top: 58px;
        border-radius: 4px;
    }
    .contact-lp input[type="checkbox"]:checked + span:after {
        left: -140px;
    }
    #footer-lp {
        padding: 25px 0px 25px;
        text-align: center;
    }
    .box-lp {
        display: block !important;
    }
    .box-lp img {
        width: 200px;
        display: block;
        margin: 10px 0px;
    }
    #footer-lp .text-lp {
        font-size: 14px;
        margin-right: 0px;
    }
    .contact-lp-info {
       padding: 15px 0px 15px 0px;
        max-width: 90%;
    }

    .contact-lp .left,.contact-lp .right,.contact-lp .right .text-right,.box-number {
        width: 100%;
        text-align: center;
		padding-left: 5px;
    }
    .br_pc {
        display: none;
    }
	.box-check {
		background:none
	}

    .contact-lp .left {
        font-size: 14px;
        padding-right: 0px;
        justify-content: center;
        border-right:none
    }
    .contact-lp .right {
        padding-left: 0px;
        justify-content: center;
    }
    .box-number .top {
        justify-content: center;
    }
	.banner-lp .title-top {
		width: 281px;
		font-size:16px;
		padding-top: 7px;
	}
}

/*---------------------------------------------onlinetrainning----------------------- */
.banner-lp.onlinetrainning .box-text {
    width: 30%;
    margin-left: -8px;
    padding: 20px 0px 40px 30px;
}
.banner-lp.onlinetrainning {
    position: relative;
    padding: 125px 0px 12px;
}
.banner-lp.onlinetrainning .icon-img {
    width: 34%;
    padding-top: 64px;
}
.banner-lp.onlinetrainning  .box-logo {
   padding: 0px 0px 0px 0px;
}
.banner-lp.onlinetrainning .icon-img.two {
   width: 35%;
    padding-right: 50px;
}
.banner-lp.onlinetrainning .inner-banner {
    max-width: 1745px;
    margin: auto;
}

.banner-lp.onlinetrainning .icon-img.two .note-icon {
    position: absolute;
    width: 140px;
    height: 140px;
    background-image: url(../../images/lp/bg_text_banner_02.png);
    top: 56px;
    left: -39px;
    padding-top: 42px;
    color: #F74C00;
    font-weight: 600;
    padding-left: 17px;
}
.banner-lp.onlinetrainning .icon-img::after {
	bottom: 120px;
}

.banner-lp.onlinetrainning .icon-img.two::after {
    top: 2px;
    right: 122px;
}




.block-solution .item-logo.onlinetrainning {
    padding: 15px 20px 15px;
}
.banner-lp.onlinetrainning .icon-img.two .note-icon h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}
.page-dse.two {
    margin: -20px 0px 40px;
}
.banner-lp.onlinetrainning .icon-img.two .note-icon .number {
    font-size: 35px;
}

.banner-lp.onlinetrainning .icon-img.two .note-icon .number-samll {
    font-size: 24px;
}


.banner-lp.onlinetrainning .main-text {
    line-height: 60px !important;
}

.title-page-lp .note-02 {
   font-size: 20px;
   font-weight: 600;
   color: black;
}


.box-camcat .item-solution .title-merit {
    padding: 30px 0px 35px;
    background: #05127E;
    color: white;
    font-weight: 600;
    font-size: 20px;
     min-height: 151px;
}

.box-camcat .item-solution {
    width: calc(100%/2 - 20px);
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
    background: white;
    padding-bottom: 35px;
}

.box-camcat .bock-bg {
    background: white;
}
.content-solution {
    align-items: center;
    max-width: 420px;
    margin: auto;
    padding-top: 18px;
}
.content-solution .img-box {
    width: 222px;
}
.text-solution {
    text-align: left;
    font-weight: 600;
	font-size: 18px;
}


#cloudsystem  .vieo-link {
    display: block;
    border-radius: 40px;
    background: #FC6E02;
    color: white;
    position: relative;
    padding: 18px 10px;
    width: 320px;
    height: 64px;
    margin: 13px auto 0px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 36px;
    border: 2px solid #CC5700;
} 
#cloudsystem .vieo-link.two {
    margin: -33px auto 0px;
}
#cloudsystem .vieo-link::after {
   position: absolute;
   content: "";
   background: url(../../images/lp/contact_icon.svg);
   width: 16px;
   height: 12px;
   left: 57px;
   top: 26px;
}
.content-solution.two {
    max-width: 475px;
    justify-content: flex-start;
    padding-top: 5px;
}
.content-solution.two .img-box {
    width: 270px;
}

.strong .list-ponit .li-ponit {
    width: calc(100%/3 - 23px);
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
    position: relative;
    text-align: center;
    padding: 88px 30px 30px;
    background: white;
}

.strong .list-ponit .note-ponit {
    position: absolute;
    width: 96px;
    height: 96px;
    background: #071786;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -23px;
    left: -23px;
    font-size: 18px;
    line-height: 26px;
    color: white;
    font-weight: 600;
    border-radius: 50%;
}

.strong .list-ponit .dt-ponit {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 28px;
    color: #0F0F12;
    font-weight: 600;
}

.strong .list-ponit .dd-ponit {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #0F0F0F;
}
.strong .list-ponit .li-ponit .img-box {
    display: block;
    margin-bottom: 97px;
}
.strong {
    margin-bottom: 83px;
}

.list-program .list-one .item-program {
    width: calc(100%/3 - 25px);
    background: white;
    padding: 20px 20px 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
    margin-bottom: 58px;
    text-align: center;
}

.list-program .list-two .item-program {
    width: calc(100%/2 - 20px);
    background: white;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    box-shadow: 0px 2px 24px rgb(121 37 0 / 16%);
    margin-bottom: 65px;
}

.list-program .box-flex {
    min-height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 27px;
}

.list-program .box-flex .text-program {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
}
.box-program .title-page-lp {
   color: #0022E4;
   margin: 76px 0px 44px;
}
.box-program .title-page-lp .title-jp {
    color: #0F0F0F;
}

.list-program {
    position: relative;
}
.list-program::after {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot04.svg);
    height: 123px;
    width: 123px;
    top: -60px;
    right: -65px;
    z-index: -1;
}
.list-program::before {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot04.svg);
    height: 123px;
    width: 123px;
    top: unset;
    left: -65px;
    bottom: 13px;
    z-index: -1;
}
.list-ponit {
    position: relative;
}
.list-ponit::before {
    position: absolute;
    content: "";
    background-image: url(../../images/lp/lp_bg_dot03.svg);
    height: 123px;
    width: 123px;
    top: unset;
    left: -41px;
    bottom: -45px;
    z-index: -1;
}







@media (max-width: 768px) {
	.box-logo .img-logo:nth-child(2) span {
		color: white;
		font-size: 10px;
	}
    .banner-lp {
        position: relative;
        padding: 70px 0px 18px;
    }
    .banner-lp.onlinetrainning .main-text {
        line-height: 28px !important;
    }
    .onlinetrainning .box-logo .img-logo:nth-child(1) {
        width: 32%;
    }

    .banner-lp.onlinetrainning .icon-img.two,
    .banner-lp.onlinetrainning .icon-img {
        display: none;
    }
    #header-menu.lp .btn-openMenu {
        display: none;
    }
    .banner-lp.onlinetrainning .box-text {
        width: 100%;
        margin-left: 0px;
        padding: 30px 15px;
    }
    #header-menu.lp {
        width: 100%;
        top: 0px !important;
        padding: 0px;
    }
    .box-camcat .item-solution {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    .box-camcat .item-solution .title-merit {
        padding: 15px 0px 20px;
        font-size: 16px;
    }
    .content-solution .img-box {
        width: 100%
    }
    .content-solution {
        max-width: 286px;
    }
    .text-solution {
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    #cloudsystem .vieo-link {
        padding: 14px 10px;
        width: 230px;
        height: 50px;
        margin: 13px auto 0px;
        font-size: 13px;
        padding-left: 30px;
    }
    #cloudsystem .vieo-link::after {
        left: 35px;
        top: 19px;
    }
    .content-solution.two .img-box {
        width: 220px;
    }
    .content-solution.two {
        justify-content: center;
    }
    .text-solution.two {
        margin-top: -30px;
        margin-bottom: 40px;
    }
    .strong .list-ponit .li-ponit {
        width: 90%;
        margin: auto;
        margin-bottom: 50px;
        padding: 40px 30px 20px;
    }
    .strong .list-ponit .li-ponit .img-box img {
        width: 130px;
    }
    .strong .list-ponit .li-ponit .img-box {
        margin-bottom: 30px;
    }
    .strong .list-ponit .dt-ponit {
        font-size: 16px;
        line-height: 24px;
    }
    strong .list-ponit .dd-ponit {
        font-size: 14px;
        line-height: 24px;

    }
    .strong .list-ponit .note-ponit {
        width: 60px;
        height: 60px;
        top: -22px;
        left: -23px;
        font-size: 13px;
        line-height: 20px;
    }
    .strong {
        margin-bottom: 0px;
    }

    .onlinetrainning .box-camcat .title-page-lp {
        margin-bottom: 50px;
    }
    .box-program .title-page-lp {
        color: #0022E4;
        margin: 20px 0px 36px;
    }
    .list-program .list-one .item-program,.list-program .list-two .item-program {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .list-program .box-flex .text-program {
        font-size: 14px;
        line-height: 22px;
    }
    .list-program .box-flex {
        min-height: 50px;
    }
	.contact-block .contact-form .btn-submit input {
		font-size: 16px !important;
		line-height: 20px !important;
		width: 230px !important;
		height: 50px !important;
		transition: .3s !important;
	}
	#header-menu.lp .inner-header {
      background: #0022E4;
    }
}

#cloudsystem .wpcf7-not-valid-tip {
    color: #C33D3D;
    margin-top: 7px;
    display: block;
}

.screen-reader-response {
	display:none !important
}
#cloudsystem .wpcf7-response-output {
	text-align: center;
   color: white;
    margin-top: 10px;
}
input::placeholder,textarea::placeholder {
	color: #A8ABB4;
	font-size: 14px;
}
.box-logo-title.line::after {
	background:#0022E4
}

#header-menu,#footer {
	display:none
}
#header-menu.lp {
	display:block !important
}
.contact-block .hidden {
	visibility:hidden
}
.contact-block .mw_wp_form_confirm .contact-form .btn-submit input {
    font-size: 24px;
    line-height: 20px;
    width: 250px;
    height: 60px;
}
.mw_wp_form_confirm {
	background: #0022E4;
    padding: 50px 0px
}
.form-complete {
	background: #0022E4;
    padding: 150px 0px			
}

.contact-block .form-complete .title {
    font-size: 24px;
    line-height: 40px;
    color: white;
    text-align: center;
}

/* .contact-block .mw_wp_form_confirm .contact-form .btn-submit.btn-back input {
    pointer-events:unset!important
} */
#cloudsystem .arrow {
	display:initial!important
}