.en,
.ttl-en {
  font-family: "Josefin Sans", serif;
}

#footer {
  background: #F3F3F3;
  padding-top: 80px;
}
#footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1120px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 78px;
}
#footer .footer-left {
  width: calc(100% - 596px);
  padding-right: 60px;
  padding-top: 4px;
}
#footer .footer-left .logo-footer {
  margin-bottom: 44px;
}
#footer .footer-left .info-company .ttl {
  font-size: 24px;
  line-height: 32px;
  color: #0F3745;
  font-weight: 600;
  margin-bottom: 14px;
}
#footer .footer-left .address {
  margin-bottom: 12px;
}
#footer .footer-left .address p {
  font-size: 16px;
  line-height: 28px;
  color: #0F3745;
  font-weight: 300;
}
#footer .footer-left .privacy p {
  font-size: 14px;
  line-height: 21px;
  color: #0F3745;
  font-weight: 300;
  margin-bottom: 3px;
}
#footer .footer-right {
  width: 596px;
}
#footer .footer-right .footer-link-page {
  margin-bottom: 83px;
}
#footer .footer-right .footer-link-page .footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  margin: 0 auto 13px 0;
  justify-content: space-between;
}
#footer .footer-right .footer-link-page .footer-menu-list a {
  font-size: 16px;
  line-height: 24px;
  color: #0F3745;
  font-weight: 600;
}
#footer .footer-right .footer-link-page .footer-menu-list a:hover {
  opacity: 0.7;
}
#footer .footer-right .footer-service {
  padding-left: 3px;
}
#footer .footer-right .footer-service .title {
  font-size: 25px;
  line-height: 30px;
  color: #0F3745;
  font-weight: 700;
  margin-bottom: 9px;
}
#footer .footer-right .footer-service .menu-service-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item {
  width: 33.33%;
  text-align: center;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item a {
  font-size: 16px;
  line-height: 24px;
  color: #0F3745;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #187B9F;
  left: 0;
  bottom: 0px;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(2) a:after {
  background: #28893E;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(3) a:after {
  background: #D34118;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(4) a:after {
  background: #D00914;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(5) a:after {
  background: #3164AA;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(6) a:after {
  background: #CB45B6;
}
#footer .copyright {
  padding-bottom: 7px;
}
#footer .copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #0F3745;
  text-align: center;
  font-weight: 300;
}