.en,
.ttl-en {
  font-family: "Josefin Sans", serif;
}

.banner-page {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1280' height='416.62' viewBox='0 0 1280 416.62'%3E%3Cg id='Group_616' data-name='Group 616' transform='translate(0 1)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='1280' height='415' fill='%23bedee8'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,10.477,520.646,415.62H0Z' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,10.477,247.517,415.911H824.23Z' transform='translate(455.77 -1)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E%0A");
  height: 415px;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .banner-page {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='964.323' height='416.62' viewBox='0 0 964.323 416.62'%3E%3Cg id='Group_617' data-name='Group 617' transform='translate(260.323 1)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='959' height='415' transform='translate(-255)' fill='%23bedee8'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,10.477,520.646,415.62H0Z' transform='translate(-260.323)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,10.477,247.517,415.911H824.23Z' transform='translate(-120.23 -1)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: 45.5%;
  }
}
.banner-page .banner-main {
  position: absolute;
  top: 55.5%;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .banner-page .banner-main {
    top: 60%;
  }
}
.banner-page .banner-main .inner {
  max-width: 1160px;
}
.banner-page .banner-main h1 {
  font-size: 40px;
  line-height: 60px;
  color: #2A4852;
  font-weight: 600;
}
@media (max-width: 767px) {
  .banner-page .banner-main h1 {
    text-align: center;
  }
}

#footer {
  background: #F3F3F3;
  padding-top: 80px;
}
#footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1120px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 78px;
}
@media (max-width: 767px) {
  #footer .footer-content {
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #footer .inner {
    padding: 0 32px;
  }
}
#footer .footer-left {
  width: calc(100% - 596px);
  padding-right: 60px;
  padding-top: 4px;
}
#footer .footer-left .logo-footer {
  margin-bottom: 44px;
}
#footer .footer-left .info-company .ttl {
  font-size: 24px;
  line-height: 32px;
  color: #0F3745;
  font-weight: 600;
  margin-bottom: 14px;
}
#footer .footer-left .address {
  margin-bottom: 12px;
}
#footer .footer-left .address p {
  font-size: 16px;
  line-height: 28px;
  color: #0F3745;
  font-weight: 300;
}
#footer .footer-left .privacy {
  display: flex;
  flex-direction: column;
}
#footer .footer-left .privacy a {
  font-size: 14px;
  line-height: 21px;
  color: #0F3745;
  font-weight: 300;
  margin-bottom: 3px;
  transition: 0.3s;
}
#footer .footer-left .privacy a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  #footer .footer-left .privacy a {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 1023px) {
  #footer .footer-left {
    width: 40%;
    padding-right: 40px;
  }
  #footer .footer-left .info-company .ttl {
    font-size: 18px;
    line-height: 1.3;
  }
  #footer .footer-left .address p {
    font-size: 14px;
    line-height: 1.75;
  }
}
@media (max-width: 767px) {
  #footer .footer-left {
    width: 100%;
    padding-right: 0;
    padding-top: 2px;
    margin-bottom: 39px;
  }
  #footer .footer-left .logo-footer {
    max-width: 314px;
    margin: 0 auto 44px;
  }
  #footer .footer-left .info-company .ttl {
    font-size: 24px;
    line-height: 32px;
  }
  #footer .footer-left .address p {
    font-size: 16px;
    line-height: 28px;
  }
  #footer .footer-left .privacy p {
    font-size: 14px;
    line-height: 21px;
  }
}
#footer .footer-right {
  width: 596px;
}
@media (max-width: 1023px) {
  #footer .footer-right {
    width: 60%;
  }
}
@media (max-width: 767px) {
  #footer .footer-right {
    width: 100%;
  }
}
#footer .footer-right .footer-link-page {
  margin-bottom: 83px;
}
@media (max-width: 1023px) {
  #footer .footer-right .footer-link-page {
    margin-bottom: 60px;
  }
}
@media (max-width: 767px) {
  #footer .footer-right .footer-link-page {
    margin-bottom: 28px;
  }
}
#footer .footer-right .footer-link-page .footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  margin: 0 auto 13px 0;
  justify-content: space-between;
}
#footer .footer-right .footer-link-page .footer-menu-list a {
  font-size: 16px;
  line-height: 24px;
  color: #0F3745;
  font-weight: 600;
}
@media (max-width: 1023px) {
  #footer .footer-right .footer-link-page .footer-menu-list a {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  #footer .footer-right .footer-link-page .footer-menu-list a {
    font-size: 16px;
    line-height: 24px;
  }
}
#footer .footer-right .footer-link-page .footer-menu-list a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  #footer .footer-right .footer-link-page .footer-menu-list {
    flex-direction: column;
    margin-bottom: 12px;
    row-gap: 12px;
  }
}
#footer .footer-right .footer-service {
  padding-left: 3px;
}
#footer .footer-right .footer-service .title {
  font-size: 25px;
  line-height: 30px;
  color: #0F3745;
  font-weight: 700;
  margin-bottom: 9px;
}
@media (max-width: 1023px) {
  #footer .footer-right .footer-service .title {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (max-width: 767px) {
  #footer .footer-right .footer-service .title {
    font-size: 25px;
    line-height: 30px;
  }
}
#footer .footer-right .footer-service .menu-service-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item {
  width: 33.33%;
  text-align: center;
}
@media (max-width: 767px) {
  #footer .footer-right .footer-service .menu-service-list .menu-service-item {
    width: 100%;
    text-align: left;
  }
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item a {
  font-size: 16px;
  line-height: 24px;
  color: #0F3745;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item a:before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg id='Group_459' data-name='Group 459' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19.028' height='17.897' viewBox='0 0 19.028 17.897'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_189' data-name='Rectangle 189' width='19.028' height='17.897' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_457' data-name='Group 457' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_192' data-name='Path 192' d='M11.478,52.968H2.444A2.446,2.446,0,0,1,0,50.525V41.491a2.446,2.446,0,0,1,2.444-2.444h9.034a2.446,2.446,0,0,1,2.444,2.444v9.034a2.446,2.446,0,0,1-2.444,2.444M2.444,40.88a.612.612,0,0,0-.611.611v9.034a.612.612,0,0,0,.611.611h9.034a.612.612,0,0,0,.611-.611V41.491a.612.612,0,0,0-.611-.611Z' transform='translate(0 -35.071)' fill='%23173c49'/%3E%3Cpath id='Path_193' data-name='Path 193' d='M60.282,11.852a.916.916,0,0,1-.613-1.6l9.373-8.422H65.857a.916.916,0,0,1,0-1.833h5.576a.916.916,0,0,1,.612,1.6L60.894,11.617a.913.913,0,0,1-.612.235' transform='translate(-53.321 0.001)' fill='%23173c49'/%3E%3Cpath id='Path_194' data-name='Path 194' d='M169.805,6.843a.916.916,0,0,1-.916-.916V.916a.916.916,0,1,1,1.833,0v5.01a.916.916,0,0,1-.916.916' transform='translate(-151.693)' fill='%23173c49'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 19px;
  height: 18px;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 4px;
  right: -24px;
}
@media (max-width: 1023px) {
  #footer .footer-right .footer-service .menu-service-list .menu-service-item a {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  #footer .footer-right .footer-service .menu-service-list .menu-service-item a {
    font-size: 16px;
    line-height: 24px;
  }
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #187B9F;
  left: 0;
  bottom: 0px;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(2) a:after {
  background: #28893E;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(3) a:after {
  background: #D34118;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(4) a:after {
  background: #D00914;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(5) a:after {
  background: #3164AA;
}
#footer .footer-right .footer-service .menu-service-list .menu-service-item:nth-child(6) a:after {
  background: #CB45B6;
}
@media (max-width: 767px) {
  #footer .footer-right .footer-service .menu-service-list {
    flex-direction: column;
    padding-left: 13px;
    row-gap: 17px;
  }
}
@media (max-width: 767px) {
  #footer .footer-right .footer-service {
    padding-left: 0;
  }
}
#footer .copyright {
  padding-bottom: 7px;
}
#footer .copyright p {
  font-size: 12px;
  line-height: 18px;
  color: #0F3745;
  text-align: center;
  font-weight: 300;
}