@charset "UTF-8";
.en,
.ttl-en {
  font-family: "Josefin Sans", serif;
}

#header-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}
#header-menu .header-nav {
  width: 100%;
  background: #fff;
}
#header-menu .header-nav.scroll-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transform: translate3d(0, -100%, 0);
  transition: none;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#header-menu .header-nav.site-header--opening {
  transform: translateZ(0);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#header-menu .header-inner {
  display: flex;
  flex-wrap: wrap;
}
#header-menu .header-inner .header-logo {
  width: 30%;
  padding-left: 32px;
  display: flex;
  align-items: center;
}
#header-menu .header-inner .right-header {
  width: calc(70% - 304px);
  padding-right: 22px;
}
#header-menu .header-inner #navList-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#header-menu .header-inner #navList-menu .menu-item.menu-item-has-children > a:before {
  width: calc(100% - 46px);
}
#header-menu .header-inner #navList-menu .menu-item.menu-item-has-children > a:after {
  content: "＞";
  position: relative;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #0F3745;
  transform: rotate(90deg);
  margin-left: 4px;
}
#header-menu .header-inner #navList-menu .menu-item a {
  font-size: 14px;
  line-height: 21px;
  color: #0F3745;
  font-weight: 600;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  position: relative;
}
#header-menu .header-inner #navList-menu .menu-item a:before {
  content: "";
  position: absolute;
  width: calc(100% - 32px);
  height: 3px;
  left: 16px;
  top: 63%;
  background: #E48121;
  opacity: 0;
  transition: 0.3s;
}
#header-menu .header-inner #navList-menu .menu-item > a:hover {
  opacity: 0.8;
}
#header-menu .header-inner #navList-menu .menu-item > a:hover:before {
  opacity: 1;
}
#header-menu .header-inner #navList-menu .menu-item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
#header-menu .header-inner #navList-menu .sub-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: calc(100% - 85px);
  top: 80%;
  left: 42.5px;
  background: #fff;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
#header-menu .header-inner #navList-menu .sub-menu .menu-item a {
  height: 78px;
  display: flex;
  flex-direction: column;
  padding: 4px 20px 0;
}
#header-menu .header-inner #navList-menu .sub-menu .menu-item a .icon {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
#header-menu .header-inner #navList-menu .sub-menu .menu-item a .t-link {
  width: 100%;
  display: block;
  line-height: 20px;
  text-align: center;
}
#header-menu .header-inner #navList-menu .sub-menu .menu-item a img {
  width: 30px;
  height: auto;
}
#header-menu .header-inner #navList-menu .sub-menu .menu-item a:before {
  display: none !important;
}
#header-menu .header-inner #navList-menu .sub-menu:before {
  content: "";
  position: absolute;
  width: 100vw;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 3px;
  background: #0F3745;
}
#header-menu .header-inner .header-action-right {
  width: 304px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#header-menu .header-inner .header-action-right a {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  font-weight: 600;
}
#header-menu .header-inner .header-action-right a.download-btn {
  background: #E48121;
}
#header-menu .header-inner .header-action-right a.contact-btn {
  background: #1AA1D5;
}