.en,
.ttl-en {
  font-family: "Josefin Sans", serif;
}

.banner-page {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1280' height='416.62' viewBox='0 0 1280 416.62'%3E%3Cg id='Group_616' data-name='Group 616' transform='translate(0 1)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='1280' height='415' fill='%23bedee8'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,10.477,520.646,415.62H0Z' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,10.477,247.517,415.911H824.23Z' transform='translate(455.77 -1)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E%0A");
  height: 415px;
  position: relative;
  background-size: cover;
  background-position: center;
}
@media (max-width: 767px) {
  .banner-page {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='964.323' height='416.62' viewBox='0 0 964.323 416.62'%3E%3Cg id='Group_617' data-name='Group 617' transform='translate(260.323 1)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='959' height='415' transform='translate(-255)' fill='%23bedee8'/%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,10.477,520.646,415.62H0Z' transform='translate(-260.323)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,10.477,247.517,415.911H824.23Z' transform='translate(-120.23 -1)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: 45.5%;
  }
}
.banner-page .banner-main {
  position: absolute;
  top: 55.5%;
  left: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .banner-page .banner-main {
    top: 60%;
  }
}
.banner-page .banner-main .inner {
  max-width: 1160px;
}
.banner-page .banner-main h1 {
  font-size: 40px;
  line-height: 60px;
  color: #2A4852;
  font-weight: 600;
}
@media (max-width: 767px) {
  .banner-page .banner-main h1 {
    text-align: center;
  }
}

.life-support-feature {
  padding-top: 102px;
}
.life-support-feature .feature-content {
  padding-bottom: 101px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-content {
    padding-bottom: 50px;
  }
}
.life-support-feature .feature-list {
  padding: 0 62px;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-list {
    padding: 0 0 0 40px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-list {
    padding: 0;
  }
}
.life-support-feature.edpoke .feature-item {
  background: #B93636;
}
.life-support-feature.edpoke .feature-item .feature-details .title span {
  background: #B93636;
}
.life-support-feature.edpoke .feature-item .feature-details .link-page a {
  color: #B95E05;
}
.life-support-feature.edpoke .feature-item .box-number {
  background: #E48121;
}
.life-support-feature .feature-item {
  background: #D05620;
  border-radius: 20px;
  position: relative;
  margin-bottom: 73px;
  min-height: 360px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item {
    border-radius: 27px;
  }
}
.life-support-feature .feature-item:last-child {
  margin-bottom: 0;
}
.life-support-feature .feature-item .box-number {
  position: absolute;
  width: 83px;
  height: 83px;
  background: #E48121;
  border-radius: 50%;
  top: 50%;
  left: -42px;
  transform: translateY(-50%);
  z-index: 1;
  text-align: center;
  padding-top: 15px;
}
.life-support-feature .feature-item .box-number .t1 {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 3px;
}
.life-support-feature .feature-item .box-number .t2 {
  font-size: 35px;
  line-height: 30px;
  color: #fff;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .box-number {
    width: 52px;
    height: 52px;
    top: -33px;
    padding-left: 3px;
    padding-top: 9px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 9;
  }
  .life-support-feature .feature-item .box-number .t1 {
    font-size: 7px;
    line-height: 10px;
    margin-bottom: 0;
  }
  .life-support-feature .feature-item .box-number .t2 {
    font-size: 20px;
    line-height: 21px;
  }
}
.life-support-feature .feature-item .feature-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-top {
    grid-template-columns: repeat(1, 1fr);
  }
}
.life-support-feature .feature-item .feature-top .info-content {
  color: #fff;
  padding-left: 42px;
  padding-right: 40px;
  padding-top: 83px;
  padding-bottom: 30px;
}
.life-support-feature .feature-item .feature-top .info-content .title {
  font-size: 40px;
  line-height: 44px;
  margin-bottom: 14px;
}
.life-support-feature .feature-item .feature-top .info-content .sub-title {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 29px;
  font-weight: 300;
}
.life-support-feature .feature-item .feature-top .info-content .text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
}
.life-support-feature .feature-item .feature-top .info-content .note {
  font-size: 16px;
  line-height: 24px;
  margin-top: 9px;
  font-weight: 300;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-item .feature-top .info-content {
    padding-top: 30px;
    padding-right: 20px;
  }
  .life-support-feature .feature-item .feature-top .info-content .title {
    font-size: 30px;
    line-height: 1.2;
  }
  .life-support-feature .feature-item .feature-top .info-content .sub-title {
    font-size: 20px;
    line-height: 1.4;
  }
  .life-support-feature .feature-item .feature-top .info-content .text {
    font-size: 16px;
    line-height: 24px;
  }
  .life-support-feature .feature-item .feature-top .info-content .note {
    font-size: 13px;
    line-height: 20px;
    margin-top: 9px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-top .info-content {
    padding: 34px 12px 15px;
  }
  .life-support-feature .feature-item .feature-top .info-content .title {
    font-size: 27px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .life-support-feature .feature-item .feature-top .info-content .sub-title {
    font-size: 16px;
    line-height: 24px;
  }
  .life-support-feature .feature-item .feature-top .info-content .text {
    font-size: 16px;
    line-height: 28px;
  }
}
.life-support-feature .feature-item .feature-top .info-content .see-more {
  margin-top: 22px;
  display: none;
}
.life-support-feature .feature-item .feature-top .info-content .see-more p {
  font-size: 18px;
  line-height: 28px;
  display: inline-block;
  position: relative;
  padding-right: 22px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 300;
}
.life-support-feature .feature-item .feature-top .info-content .see-more p:hover {
  text-decoration: underline;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-item .feature-top .info-content .see-more p {
    font-size: 16px;
  }
}
.life-support-feature .feature-item .feature-top .info-content .see-more .icon {
  position: absolute;
  transform: rotate(90deg);
  right: 0;
  top: 0;
  transition: 0.3s;
}
.life-support-feature .feature-item .feature-top .info-content .see-more.is-active .icon {
  transform: rotate(-90deg);
}
.life-support-feature .feature-item .feature-top .image-content {
  overflow: hidden;
  transition: 0.4s;
  border-radius: 20px;
  padding: 50px 30px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-top .image-content {
    padding: 40px 12px;
  }
}
.life-support-feature .feature-item .feature-top .image-content .video-inner {
  overflow: hidden;
  transition: 0.4s;
  border-radius: 20px;
}
.life-support-feature .feature-item .feature-top .image-content #eviry-poster_6,
.life-support-feature .feature-item .feature-top .image-content .eviry-screen {
  overflow: hidden;
  border-radius: 20px;
  background: transparent !important;
}
.life-support-feature .feature-item .feature-top .image-content img {
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-top .image-content img {
    border-radius: 0;
  }
  .life-support-feature .feature-item .feature-top .image-content img.img-radius {
    border-radius: 0 0 27px 27px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-top .image-content {
    border-radius: 0 0 27px 27px;
  }
  .life-support-feature .feature-item .feature-top .image-content.is-active {
    border-radius: 0;
  }
}
.life-support-feature .feature-item .feature-details {
  display: none;
  position: relative;
  z-index: 2;
}
.life-support-feature .feature-item .feature-details .details-content {
  color: #fff;
  padding: 0px 40px 31px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .details-content {
    padding: 23px 12px 40px;
  }
}
.life-support-feature .feature-item .feature-details .title {
  position: relative;
}
.life-support-feature .feature-item .feature-details .title:after {
  content: "";
  position: absolute;
  width: calc(100% - 20px);
  border-top: 1px solid #fff;
  top: 50%;
  right: 0;
}
.life-support-feature .feature-item .feature-details .title span {
  font-size: 24px;
  line-height: 36px;
  display: inline-block;
  background: #D05620;
  position: relative;
  z-index: 2;
  padding-right: 20px;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-item .feature-details .title span {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .title span {
    font-size: 21px;
    line-height: 32px;
    padding-right: 10px;
  }
}
.life-support-feature .feature-item .feature-details .sub-ttl {
  font-size: 16px;
  line-height: 24px;
  margin-top: 4px;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-item .feature-details .sub-ttl {
    font-size: 14px;
  }
}
.life-support-feature .feature-item .feature-details .details-list {
  margin-top: 28px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .details-list {
    margin-top: 40px;
  }
}
.life-support-feature .feature-item .feature-details .details-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.life-support-feature .feature-item .feature-details .details-item:last-child {
  margin-bottom: 0;
}
.life-support-feature .feature-item .feature-details .details-item .details-title {
  font-size: 18px;
  line-height: 28px;
  width: 25%;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-item .feature-details .details-item .details-title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .details-item .details-title {
    width: 100%;
    margin-bottom: 12px;
  }
}
.life-support-feature .feature-item .feature-details .details-item .details-info {
  width: 75%;
  padding-top: 4px;
}
.life-support-feature .feature-item .feature-details .details-item .details-info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
}
@media (max-width: 1280px) {
  .life-support-feature .feature-item .feature-details .details-item .details-info p {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .details-item .details-info p {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .details-item .details-info {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .details-item {
    margin-bottom: 26px;
  }
}
.life-support-feature .feature-item .feature-details .link-page {
  display: flex;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .link-page {
    margin-top: 56px;
  }
}
.life-support-feature .feature-item .feature-details .link-page a {
  font-size: 16px;
  line-height: 26px;
  color: #ADA60C;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  background: #fff;
  border-radius: 40px;
  padding: 0 20px 1px;
  border: 2px solid #fff;
  transition: 0.3s;
}
.life-support-feature .feature-item .feature-details .link-page a:hover {
  background: transparent;
  color: #fff;
}
.life-support-feature .feature-item .feature-details .info-list {
  display: flex;
  position: relative;
  margin-right: -40px;
  column-gap: 10px;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .info-list {
    flex-direction: column;
    margin: 0;
    padding-bottom: 0;
  }
}
.life-support-feature .feature-item .feature-details .info-list .info-item:nth-child(1) {
  width: 31.1%;
}
.life-support-feature .feature-item .feature-details .info-list .info-item:nth-child(2) {
  width: 33%;
}
.life-support-feature .feature-item .feature-details .info-list .info-item:nth-child(3) {
  width: calc(35.9% - 20px);
}
@media (max-width: 767px) {
  .life-support-feature .feature-item .feature-details .info-list .info-item {
    width: 100% !important;
  }
}