@use "../_var";

#footer{
  background: #F3F3F3;
  padding-top: 60px;

  @include var.xs{
    padding-top: 78px;
  }

  .footer-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 67px;

    @include var.xs{
      padding-bottom: 40px;
    }

  }

  @include var.xs{
    .inner{
      padding: 0 32px;
    }
  }

  .footer-left{

    width: calc(100% - 596px);
    padding-right: 60px;
    padding-top: 4px;

    .logo-footer{
      margin-bottom: 44px;
    }

    .info-company{
      .ttl{
        font-size: 24px;
        line-height: 32px;
        color: #0F3745;
        font-weight: 600;
        margin-bottom: 14px;
      }
    }

    .address{
      margin-bottom: 12px;

      @include var.xs{
        margin-bottom: 13px;
      }
      p{
        font-size: 16px;
        line-height: 28px;
        color: #0F3745;
        font-weight: 300;
      }
    }

    .privacy{
      display: flex;
      flex-direction: column;

      a{
        font-size: 14px;
        line-height: 21px;
        color: #0F3745;
        font-weight: 300;
        margin-bottom: 3px;
        transition: .3s;

        &:hover{
          text-decoration: underline;
        }

        @include var.xs{
          font-size: 14px;
          line-height: 21px;
        }

      }
    }

    @include var.sm{
      width: 40%;
      padding-right: 40px;

      .info-company{
        .ttl{
          font-size: 18px;
          line-height: 1.3;
        }
      }

      .address{
        p{
          font-size: 14px;
          line-height: 1.75;
        }
      }

    }

    @include var.xs{
      width: 100%;
      padding-right: 0;
      padding-top: 2px;
      margin-bottom: 39px;

      .logo-footer{
        max-width: 314px;
        margin: 0 auto 44px;
      }

      .info-company{
        .ttl{
          font-size: 24px;
          line-height: 32px;
        }
      }

      .address{
        p{
          font-size: 16px;
          line-height: 28px;
        }
      }

      .privacy{
        p{
          font-size: 14px;
          line-height: 21px;
        }
      }

    }

  }

  .footer-right{
    width: 596px;

    @include var.sm{
      width: 60%;
    }

    @include var.xs{
      width: 100%;
    }

    .footer-link-page{
      margin-bottom: 72px;

      @include var.sm{
        margin-bottom: 60px;
      }

      @include var.xs{
        margin-bottom: 16px;
      }

      .footer-menu-list{
        display: flex;
        flex-wrap: wrap;
        max-width: 520px;
        margin: 0;
        justify-content: space-between;

        a{
          font-size: 16px;
          line-height: 24px;
          color: #0F3745;
          font-weight: 600;

          @include var.sm{
            font-size: 14px;
            line-height: 1.5;
          }

          @include var.xs{
            font-size: 16px;
            line-height: 24px;
          }

          &:hover{
            text-decoration: underline;
          }

        }

        @include var.xs{
          flex-direction: column;
          margin-bottom: 0px;
          row-gap: 0px;

          .footer-menu-item{
            display: flex;
            margin-bottom: 12px;
          }
        }

        @include var.xs{
          &:nth-child(2){

            .footer-menu-item{

              &:nth-child(1){
                order: 1;
              }

              &:nth-child(2){
                order: 3;
              }

              &:nth-child(3){
                order: 2;
              }
            }

          }
        }

      }

    }

    .footer-service{
      padding-left: 3px;
      .title{
        font-size: 25px;
        line-height: 30px;
        color: #0F3745;
        font-weight: 700;
        margin-bottom: 9px;

        @include var.sm{
          font-size: 20px;
          line-height: 1.2;
        }

        @include var.xs{
          font-size: 25px;
          line-height: 30px;
          margin-bottom: 4px;
        }

      }

      .menu-service-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 18px;

        .menu-service-item{
          width: 33.33%;
          text-align: center;

          @include var.xs{
            width: 100%;
            text-align: left;
          }

          a{
            font-size: 16px;
            line-height: 24px;
            color: #0F3745;
            font-weight: 600;
            display: inline-block;
            position: relative;

            &.link-target:before{
              content: "";
              position: absolute;
              background-image: url("data:image/svg+xml,%3Csvg id='Group_459' data-name='Group 459' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='19.028' height='17.897' viewBox='0 0 19.028 17.897'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_189' data-name='Rectangle 189' width='19.028' height='17.897' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_457' data-name='Group 457' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_192' data-name='Path 192' d='M11.478,52.968H2.444A2.446,2.446,0,0,1,0,50.525V41.491a2.446,2.446,0,0,1,2.444-2.444h9.034a2.446,2.446,0,0,1,2.444,2.444v9.034a2.446,2.446,0,0,1-2.444,2.444M2.444,40.88a.612.612,0,0,0-.611.611v9.034a.612.612,0,0,0,.611.611h9.034a.612.612,0,0,0,.611-.611V41.491a.612.612,0,0,0-.611-.611Z' transform='translate(0 -35.071)' fill='%23173c49'/%3E%3Cpath id='Path_193' data-name='Path 193' d='M60.282,11.852a.916.916,0,0,1-.613-1.6l9.373-8.422H65.857a.916.916,0,0,1,0-1.833h5.576a.916.916,0,0,1,.612,1.6L60.894,11.617a.913.913,0,0,1-.612.235' transform='translate(-53.321 0.001)' fill='%23173c49'/%3E%3Cpath id='Path_194' data-name='Path 194' d='M169.805,6.843a.916.916,0,0,1-.916-.916V.916a.916.916,0,1,1,1.833,0v5.01a.916.916,0,0,1-.916.916' transform='translate(-151.693)' fill='%23173c49'/%3E%3C/g%3E%3C/svg%3E%0A");
              width: 19px;
              height: 18px;
              background-size: 100%;
              background-repeat: no-repeat;
              top: 4px;
              right: -24px;
            }

            @include var.sm{
              font-size: 14px;
              line-height: 1.5;
            }

            @include var.xs{
              font-size: 16px;
              line-height: 24px;
            }

            &:after{
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              background: #187B9F;
              left: 0;
              bottom: 0px;
            }

          }

          &:nth-child(2){
            a:after{
              background: #28893E;
            }
          }

          &:nth-child(3){
            a:after{
              background: #D34118;
            }
          }

          &:nth-child(4){
            a:after{
              background: #D00914;
            }
          }

          &:nth-child(5){
            a:after{
              background: #3164AA;
            }
          }

          &:nth-child(6){
            a:after{
              background: #CB45B6;
            }
          }


        }

        @include var.xs{
          flex-direction: column;
          padding-left: 13px;
          row-gap: 3px;
        }

      }

      @include var.xs{
        padding-left: 0;
      }

    }

  }

  .copyright{
    padding-bottom: 22px;
    p{
      font-size: 12px;
      line-height: 18px;
      color: #0F3745;
      text-align: center;
      font-weight: 300;
    }
  }

}


