@use "../_var";

#footer{
  background: #F3F3F3;
  padding-top: 80px;

  .footer-content{
    display: flex;
    flex-wrap: wrap;
    max-width: 1120px;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 78px;

    @include var.xs{
      padding-bottom: 50px;
    }

  }

  @include var.xs{
    .inner{
      padding: 0 32px;
    }
  }

  .footer-left{

    width: calc(100% - 596px);
    padding-right: 60px;
    padding-top: 4px;

    .logo-footer{
      margin-bottom: 44px;
    }

    .info-company{
      .ttl{
        font-size: 24px;
        line-height: 32px;
        color: #0F3745;
        font-weight: 600;
        margin-bottom: 14px;
      }
    }

    .address{
      margin-bottom: 12px;
      p{
        font-size: 16px;
        line-height: 28px;
        color: #0F3745;
        font-weight: 300;
      }
    }

    .privacy{
      p{
        font-size: 14px;
        line-height: 21px;
        color: #0F3745;
        font-weight: 300;
        margin-bottom: 3px;

        @include var.xs{
          font-size: 16px;
          line-height: 28px;
        }

      }
    }

    @include var.sm{
      width: 40%;
      padding-right: 40px;

      .info-company{
        .ttl{
          font-size: 18px;
          line-height: 1.3;
        }
      }

      .address{
        p{
          font-size: 14px;
          line-height: 1.75;
        }
      }

    }

    @include var.xs{
      width: 100%;
      padding-right: 0;
      padding-top: 2px;
      margin-bottom: 39px;

      .logo-footer{
        max-width: 314px;
        margin: 0 auto 44px;
      }

      .info-company{
        .ttl{
          font-size: 24px;
          line-height: 32px;
        }
      }

      .address{
        p{
          font-size: 16px;
          line-height: 28px;
        }
      }

      .privacy{
        p{
          font-size: 14px;
          line-height: 21px;
        }
      }

    }

  }

  .footer-right{
    width: 596px;

    @include var.sm{
      width: 60%;
    }

    @include var.xs{
      width: 100%;
    }

    .footer-link-page{
      margin-bottom: 83px;

      @include var.sm{
        margin-bottom: 60px;
      }

      @include var.xs{
        margin-bottom: 28px;
      }

      .footer-menu-list{
        display: flex;
        flex-wrap: wrap;
        max-width: 520px;
        margin: 0 auto 13px 0;
        justify-content: space-between;

        a{
          font-size: 16px;
          line-height: 24px;
          color: #0F3745;
          font-weight: 600;

          @include var.sm{
            font-size: 14px;
            line-height: 1.5;
          }

          @include var.xs{
            font-size: 16px;
            line-height: 24px;
          }

          &:hover{
            opacity: .7;
          }

        }

        @include var.xs{
          flex-direction: column;
          margin-bottom: 12px;
          row-gap: 12px;
        }

      }

    }

    .footer-service{
      padding-left: 3px;
      .title{
        font-size: 25px;
        line-height: 30px;
        color: #0F3745;
        font-weight: 700;
        margin-bottom: 9px;

        @include var.sm{
          font-size: 20px;
          line-height: 1.2;
        }

        @include var.xs{
          font-size: 25px;
          line-height: 30px;
        }

      }

      .menu-service-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 35px;

        .menu-service-item{
          width: 33.33%;
          text-align: center;

          @include var.xs{
            width: 100%;
            text-align: left;
          }

          a{
            font-size: 16px;
            line-height: 24px;
            color: #0F3745;
            font-weight: 600;
            display: inline-block;
            position: relative;

            @include var.sm{
              font-size: 14px;
              line-height: 1.5;
            }

            @include var.xs{
              font-size: 16px;
              line-height: 24px;
            }

            &:after{
              content: "";
              position: absolute;
              width: 100%;
              height: 3px;
              background: #187B9F;
              left: 0;
              bottom: 0px;
            }

          }

          &:nth-child(2){
            a:after{
              background: #28893E;
            }
          }

          &:nth-child(3){
            a:after{
              background: #D34118;
            }
          }

          &:nth-child(4){
            a:after{
              background: #D00914;
            }
          }

          &:nth-child(5){
            a:after{
              background: #3164AA;
            }
          }

          &:nth-child(6){
            a:after{
              background: #CB45B6;
            }
          }


        }

        @include var.xs{
          flex-direction: column;
          padding-left: 13px;
          row-gap: 17px;
        }

      }

      @include var.xs{
        padding-left: 0;
      }

    }

  }

  .copyright{
    padding-bottom: 7px;
    p{
      font-size: 12px;
      line-height: 18px;
      color: #0F3745;
      text-align: center;
      font-weight: 300;
    }
  }

}


