@use "../_var";

#header-menu{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);

  .header-nav {
    width: 100%;
    background: #fff;

    &.scroll-header{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      transform: translate3d(0,-100%,0);
      transition: none;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    &.site-header--opening{
      transform: translateZ(0);
      transition: transform .5s cubic-bezier(.165, .84, .44, 1);
    }

  }

  .header-inner{
    display: flex;
    flex-wrap: wrap;

    .header-logo{
      width: 30%;
      padding-left: 32px;
      display: flex;
      align-items: center;
    }

    .right-header{
      width: calc(70% - 304px);
      padding-right: 22px;
    }

    #navList-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .menu-item{

        &.menu-item-has-children{
          > a{

            &:before{
              width: calc(100% - 46px);
            }

            &:after{
              content: "＞";
              position: relative;
              font-size: 13px;
              line-height: 20px;
              font-weight: 600;
              color: #0F3745;
              transform: rotate(90deg);
              margin-left: 4px;
            }
          }
        }

        a{
          font-size: 14px;
          line-height: 21px;
          color: #0F3745;
          font-weight: 600;
          display: flex;
          height: 80px;
          align-items: center;
          justify-content: center;
          padding: 0 16px;
          position: relative;

          &:before{
            content: "";
            position: absolute;
            width: calc(100% - 32px);
            height: 3px;
            left: 16px;
            top: 63%;
            background: #E48121;
            opacity: 0;
            transition: .3s;
          }

        }

        >a:hover{
          opacity: .8;

          &:before{
            opacity: 1;
          }
        }

        &:hover{
          .sub-menu{
            display: flex;
          }
        }


      }

      .sub-menu{
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        width: calc(100% - 85px);
        top: 100%;
        left: 42.5px;
        background: #fff;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);

        .menu-item{
          a{
            height: 78px;
            display: flex;
            flex-direction: column;
            padding: 4px 20px 0;

            .icon{
              width: 100%;
              display: block;
              text-align: center;
              margin-bottom: 5px;
            }

            .t-link{
              width: 100%;
              display: block;
              line-height: 20px;
              text-align: center;
            }

            img{
              width: 30px;
              height: auto;
            }

            &:before{
              display: none !important;
            }
          }
        }


        &:before{
          content: "";
          position: absolute;
          width: 100vw;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          height: 3px;
          background: #0F3745;
        }

      }

    }

    .header-action-right{
      width: 304px;
      display: grid;
      grid-template-columns: repeat(2,1fr);

      a{
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        font-weight: 600;

        &.download-btn{
          background: #E48121;
        }

        &.contact-btn{
          background: #1AA1D5;
        }

      }

    }
  }
}

