@use "../_var";

#header-menu{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #FFF;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);

  .header-nav {
    width: 100%;
    background: #fff;

    &.scroll-header{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      transform: translate3d(0,-100%,0);
      transition: none;
      width: 100%;
      box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    &.site-header--opening{
      transform: translateZ(0);
      transition: transform .5s cubic-bezier(.165, .84, .44, 1);
    }

    @include var.sm{
      .toggle-menu{
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;

        @include var.xs{
          justify-content: flex-end;
          padding-right: 18px;
        }

        .icon{
          width: 33px;
          height: 26px;
          position: relative;

          &:before{
            content: "";
            position: absolute;
            width: 33px;
            border-top: 3px solid #173C49;
            top: 0;
            left: 0;
            transition: .3s;
          }

          &:after{
            content: "";
            position: absolute;
            width: 33px;
            border-top: 3px solid #173C49;
            bottom: 0;
            left: 0;
            transition: .3s;
          }

          span{
            position: absolute;
            width: 33px;
            border-top: 3px solid #173C49;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            transition: .3s;
          }

        }

        &.is-active{

          .icon{

            &:before{
              transform: rotate(45deg);
              top: 11px;
              left: 1px;
            }

            &:after{
              transform: rotate(-45deg);
              top: 9px;
              left: 5px;
            }

            span{
              display: none;
            }
          }
        }

      }
    }

  }

  .header-inner{
    display: flex;
    flex-wrap: wrap;

    .header-logo{
      width: min(20.7vw, 265px);
      padding-left: 25px;
      display: flex;
      align-items: center;
      min-height: 80px;

      .logo{
        display: flex;
        padding-top: 14px;

        @include var.xs{
          padding-bottom: 7px;
        }

        @include var.sm{
          padding-top: 0;
        }

      }

      @include var.sm{
        width: auto;
        max-width: 240px;
      }

      @include var.xs{
        padding-left: 16px;
        max-width: 256px;
      }

    }

    .right-header{
      width: calc(100% - min(20.7vw, 265px) - min(36.95vw,473px));
      padding-right: 22px;

      @include var.md{
        //width: calc(76.5% - min(36.95vw,473px));
        padding-right: min(1.72vw, 22px);
      }

      @include var.sm{
        position: absolute;
        width: 100%;
        top: 100%;
        background: rgba(255, 255, 255, .95);
        height: calc(100dvh - 80px);
        padding: 20px 0 40px;
        display: none;
        overflow: auto;
        z-index: 9;

        &.is-open{
          display: block;
        }

      }

    }

    #navList-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      @include var.sm{
        flex-wrap: unset;
        flex-direction: column;
      }

      .menu-item{

        &.menu-item-has-children{
          > a{

            &:before{
              width: calc(100% - 46px);

              @include var.sm{
                width: calc(100% - 80px);
              }

            }

            &:after{
              content: "ï¼ž";
              position: relative;
              font-size: 13px;
              line-height: 20px;
              font-weight: 600;
              color: #0F3745;
              transform: rotate(90deg);
              margin-left: 4px;
            }
          }
        }

        a{
          font-size: min(1.09vw, 14px);
          line-height: 1.5;
          color: #0F3745;
          font-weight: 600;
          display: flex;
          height: 80px;
          align-items: center;
          justify-content: center;
          padding: 0 min(1.25vw, 16px);
          position: relative;

          @include var.md{
            padding: 0 min(1.25vw, 16px);
          }

          &:before{
            content: "";
            position: absolute;
            width: calc(100% - 32px);
            height: 3px;
            left: 16px;
            top: 63%;
            background: #E48121;
            opacity: 0;
            transition: .3s;

            @include var.sm{
              width: calc(100% - 60px);
              left: 30px;
              top: 35px;
            }

          }

          @include var.sm{
            font-size: 16px;
            line-height: 1.5;
            justify-content: flex-start;
            padding: 0 30px;
            height: 52px;
          }

        }

        >a:hover{
          opacity: .8;

          &:before{
            opacity: 1;
          }
        }

        &:hover{
          .sub-menu{
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
        }

        @include var.sm{
          display: flex;
          flex-wrap: wrap;
        }


      }

      .sub-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        width: calc(100% - 85px);
        top: 80%;
        left: 42.5px;
        background: #fff;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
        opacity: 0;
        visibility: hidden;
        transition: .3s;

        @include var.sm{
          position: static;
          opacity: 1;
          visibility: visible;
          width: 100%;
          background: transparent;
          box-shadow: unset;
          display: flex;
          flex-direction: column;
        }

        .menu-item{
          a{
            height: 78px;
            display: flex;
            flex-direction: column;
            padding: 4px 20px 0;

            .icon{
              width: 100%;
              display: block;
              text-align: center;
              margin-bottom: 5px;

              @include var.sm{
                display: none;
              }

            }

            .t-link{
              width: 100%;
              display: block;
              line-height: 20px;
              text-align: center;

              @include var.sm{
                text-align: left;
                font-size: 15px;
                line-height: 20px;
                position: relative;

                &:after{
                  content: ">";
                  position: absolute;
                  font-size: 14px;
                  line-height: 20px;
                  color: #E48121;
                  top: 0;
                  right: 0;
                }

              }

            }

            img{
              width: 30px;
              height: auto;
            }

            &:before{
              display: none !important;
            }

            @include var.sm{
              height: 44px;
              padding: 0 40px;
              justify-content: center;
              width: 100%;
            }

          }
        }


        &:before{
          content: "";
          position: absolute;
          width: 100vw;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          height: 3px;
          background: #0F3745;

          @include var.sm{
            display: none;
          }

        }

        @include var.sm{
          padding: 0px 30px 10px;
        }

      }

    }

    .header-action-right{
      width: min(36.95vw, 473px);
      display: flex;
      flex-wrap: wrap;

      .contact{
        width: min(10.78vw, 138px);

        @include var.sm{
          width: auto;
        }
      }

      .foreigners{
        width: min(13.75vw, 176px);

        @include var.sm{
          width: auto;
        }
      }

      .download{
        width: min(12.42vw, 159px);

        @include var.sm{
          width: auto;
        }
      }

      a{
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
        font-size: min(1.09vw, 14px);
        line-height: 1.5;
        color: #fff;
        font-weight: 600;

        @include var.sm{
          height: 77px;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
        }

        &.download-btn{
          background: #2D799B;
        }

        &.foreigners-btn{
          background: #E48121;
        }

        &.contact-btn{
          background: #1AA1D5;
        }

      }

      @include var.md{
        width: min(36.95vw,473px);
      }

      @include var.sm{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        border-top: 3px solid #173C49;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

      }

    }
  }

}

.home {
  #header-menu{
    background: transparent;
    box-shadow: unset;

    .header-nav{
      background: transparent;

      @include var.sm{
        background: #fff;
      }

      &.scroll-header{
        background: #fff;

        .header-logo{
          .logo{
            padding-top: 0;
          }
        }
      }
    }
  }
}

body:not(.home) {
  #header-menu{
    .header-nav{
      .header-logo{
        .logo{
          padding-top: 0;
        }
      }
    }
  }
}