@use "../_var";

.life-support-feature{
  padding-top: 73px;

  .heading-entry{
    .heading-block{
      margin-bottom: 2px;
    }
  }

  .feature-content{
    padding-top: 34px;
    padding-bottom: 101px;

    @include var.xs{
      padding-top: 55px;
    }

  }

  .feature-list{
    padding: 0 62px;

    @include var.md{
      padding: 0 0 0 40px;
    }

    @include var.xs{
      padding: 0;
    }

  }

  &.edpoke{
    .feature-item{
      background: #B93636;

      .feature-details{
        .title{
          span{
            background: #B93636;
          }
        }

        .link-page{
          a{
            color: #B95E05;
          }
        }
      }

      .box-number {
        background: #E48121;
      }
    }
  }
  
  .feature-item{
    background: #D05620;
    border-radius: 20px;
    position: relative;
    margin-bottom: 73px;
    min-height: 360px;

    @include var.xs{
      border-radius: 27px;
    }

    &:last-child{
      margin-bottom: 0;
    }

    .box-number {
      position: absolute;
      width: 83px;
      height: 83px;
      background: #E48121;
      border-radius: 50%;
      top: 50%;
      left: -42px;
      transform: translateY(-50%);
      z-index: 1;
      text-align: center;
      padding-top: 15px;

      .t1{
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 3px;
      }

      .t2{
        font-size: 35px;
        line-height: 30px;
        color: #fff;
      }

      @include var.xs{
        width: 52px;
        height: 52px;
        top: -33px;
        padding-left: 3px;
        padding-top: 9px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9;

        .t1{
          font-size: 7px;
          line-height: 10px;
          margin-bottom: 0;
        }

        .t2{
          font-size: 20px;
          line-height: 21px;
        }

      }

    }

    .feature-top{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      align-items: flex-start;
      position: relative;
      z-index: 2;

      @include var.xs{
        grid-template-columns: repeat(1,1fr);
      }

      .info-content{
        color: #fff;
        padding-left: 42px;
        padding-right: 40px;
        padding-top: 83px;
        padding-bottom: 30px;

        .title{
          font-size: 40px;
          line-height: 44px;
          margin-bottom: 14px;
        }

        .sub-title{
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 29px;
        }

        .text{
          font-size: 18px;
          line-height: 28px;
          font-weight: 300;
        }

        .note{
          font-size: 16px;
          line-height: 24px;
          margin-top: 9px;
        }

        @include var.md{
          padding-top: 30px;
          padding-right: 20px;

          .title{
            font-size: 30px;
            line-height: 1.2;
          }

          .sub-title{
            font-size: 20px;
            line-height: 1.4;
          }

          .text{
            font-size: 16px;
            line-height: 24px;
          }

          .note{
            font-size: 13px;
            line-height: 20px;
            margin-top: 9px;
          }

        }

        @include var.xs{
          padding: 34px 12px 15px;

          .title{
            font-size: 27px;
            line-height: 36px;
            margin-bottom: 15px;
          }

          .sub-title{
            font-size: 16px;
            line-height: 24px;
          }

          .text{
            font-size: 16px;
            line-height: 28px;
          }

        }

        .see-more{
          margin-top: 22px;

          p{
            font-size: 18px;
            line-height: 28px;
            display: inline-block;
            position: relative;
            padding-right: 22px;
            cursor: pointer;
            transition: .3s;

            &:hover{
              text-decoration: underline;
            }

            @include var.md{
              font-size: 16px;
            }

          }

          .icon{
            position: absolute;
            transform: rotate(90deg);
            right: 0;
            top: 0;
            transition: .3s;
          }

          &.is-active{
            .icon{
              transform: rotate(-90deg);
            }
          }

        }

      }

      .image-content{
        overflow: hidden;

        img{
          width: 100%;
          border: 1px solid #707070;
          border-radius: 0 20px 20px 0;

          @include var.xs{
            border-radius: 0;

            &.img-radius{
              border-radius: 0 0 27px 27px;
            }

          }
        }

      }

    }

    .feature-details{
      display: none;
      position: relative;
      z-index: 2;

      .details-content{
        color: #fff;
        padding: 0px 40px 31px;
      }

      .title{
        position: relative;

        &:after{
          content: "";
          position: absolute;
          width: calc(100% - 20px);
          border-top: 1px solid #fff;
          top: 50%;
          right: 0;
        }

        span{
          font-size: 24px;
          line-height: 36px;
          display: inline-block;
          background: #D05620;
          position: relative;
          z-index: 2;
          padding-right: 20px;

          @include var.md{
            font-size: 20px;
            line-height: 30px;
          }

        }
      }

      .sub-ttl{
        font-size: 16px;
        line-height: 24px;
        margin-top: 4px;

        @include var.md{
          font-size: 14px;
        }

      }

      .details-list{
        margin-top: 28px;
      }

      .details-item{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        &:last-child{
          margin-bottom: 0;
        }

        .details-title{
          font-size: 18px;
          line-height: 28px;
          width: 25%;

          @include var.md{
            font-size: 16px;
            line-height: 24px;
          }

        }

        .details-info{
          width: 75%;
          padding-top: 4px;

          p{
            font-size: 16px;
            line-height: 26px;
            font-weight: 300;

            @include var.md{
              font-size: 14px;
              line-height: 22px;
            }

          }
        }

      }

      .link-page{
        display: flex;
        margin-top: 40px;

        a{
          font-size: 16px;
          line-height: 26px;
          color: #ADA60C;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 38px;
          background: #fff;
          border-radius: 40px;
          padding: 0 20px 1px;
          border: 2px solid #fff;
          transition: .3s;

          &:hover{
            background: transparent;
            color: #fff;
          }

        }
      }

      .info-list{
        display: flex;
        position: relative;
        margin-right: -40px;
        column-gap: 10px;
        padding-bottom: 24px;

        .info-item{
          &:nth-child(1){
            width: 31.1%;
          }

          &:nth-child(2){
            width: 33%;
          }

          &:nth-child(3){
            width: calc(35.9% - 20px);
          }

        }

      }

    }

  }

}









