@use "../_var" as *;

//SERVICE CLOUD TEMPLATE
//DUNG CHUNG - MAC DINH LA TRANG VIDEO STEP

.edpoke-banner-top{
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto 45px;

  .image-content{
    width: 31.5%;

    @include xs{
      width: 100%;
      text-align: center;
      margin-bottom: 30px;

      img{
        width: 100%;
        max-width: 260px;
        margin: auto;
      }

    }
  }

  .banner-info{
    width: 68.5%;
    padding-left: 18px;

    @include xs{
      width: 100%;
      padding-left: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

    .text{
      font-size: 16px;
      line-height: 28px;
      color: #2A4852;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .note{
      font-size: 14px;
      line-height: 23px;
      color: #2A4852;
      font-weight: 400;
    }

  }

}


.edpoke-program{
  background: #F3F3F3;
  padding-top: 65px;
  padding-bottom: 86px;

  @include xs{
    padding-bottom: 60px;
  }

  .heading-entry{
    margin-bottom: 40px;
  }

  .program-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
    color: #fff;
    max-width: 1040px;
    margin: auto;

    @include xs{
      grid-template-columns: repeat(1,1fr);
      row-gap: 30px;
    }
  }

  .program-item{
    background: #3164AA;
    border-radius: 40px;
    padding: 45px 30px;

    .title{
      font-size: 40px;
      line-height: 54px;
      font-weight: bold;
      margin-bottom: 16px;

      @include sm{
        font-size: 30px;
        line-height: 40px;
      }

    }

    .text{
      font-size: 18px;
      line-height: 28px;
      font-weight: 300;
      margin-bottom: 20px;

      @include sm{
        font-size: 16px;
        line-height: 24px;
      }

    }

    li{
      position: relative;
      font-size: 18px;
      line-height: 26px;
      font-weight: 300;
      margin-bottom: 18px;
      padding-left: 26px;

      @include sm{
        font-size: 16px;
        line-height: 24px;
      }

      &:before{
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.77' height='15.642' viewBox='0 0 18.77 15.642'%3E%3Cpath id='Path_149' data-name='Path 149' d='M19087.76,5515.623l5.547,7.3,10.906-12.284' transform='translate(-19086.564 -5509.647)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/svg%3E%0A");
        width: 19px;
        height: 16px;
        top: 5px;
        left: 0;
        background-repeat: no-repeat;
      }

      &:last-child{
        margin-bottom: 0;
      }

    }

  }
}


.edpoke-process{
  padding-top: 80px;
  padding-bottom: 100px;

  @include xs{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .heading-entry{
    margin-bottom: 105px;

    @include xs{
      margin-bottom: 70px;
    }
  }

  .process-step{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 40px;
    max-width: 1040px;
    margin: 0 auto 100px;

    @include sm{
      column-gap: 20px;
    }

    @include xs{
      grid-template-columns: repeat(1,1fr);
      row-gap: 60px;
      margin-bottom: 60px;
    }

  }

  .process-item{
    background: #3164AA;
    border-radius: 40px;
    color: #fff;
    position: relative;
    padding: 56px 30px 35px;

    @include sm{
      padding: 56px 20px 25px;
    }

    @include xs{
      padding: 40px 20px 30px;
    }

    .title{
      font-size: 27px;
      line-height: 36px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .text{
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }

    .box-number {
      position: absolute;
      width: 83px;
      height: 83px;
      background: #E48121;
      border-radius: 50%;
      top: -42px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      text-align: center;
      padding-top: 15px;

      .t1{
        font-size: 13px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 3px;
      }

      .t2{
        font-size: 35px;
        line-height: 30px;
        color: #fff;
      }

      @include xs{
        width: 52px;
        height: 52px;
        top: -33px;
        padding-left: 3px;
        padding-top: 9px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9;

        .t1{
          font-size: 7px;
          line-height: 10px;
          margin-bottom: 0;
        }

        .t2{
          font-size: 20px;
          line-height: 21px;
        }

      }

    }

  }

}


.trusted-program{
  background: #F3F3F3;
  padding-top: 100px;
  padding-bottom: 90px;

  @include xs{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .trusted-program-inner{
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
  }

  .content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #3164AA;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;
    margin-bottom: 40px;

    @include xs{
      grid-template-columns: repeat(1,1fr);
    }

    .info{
      padding: 30px 30px 30px 50px;

      @include sm{
        padding-left: 30px;
        padding-right: 20px;
      }

      @include xs{
        padding: 30px 20px;
      }

    }

    .t1{
      font-size: 20px;
      line-height: 27px;
      font-weight: 700;

      @include xs{
        font-size: 17px;
      }
    }

    .title{
      font-size: 40px;
      line-height: 54px;
      font-weight: bold;
      margin-bottom: 15px;

      @include xs{
        font-size: 28px;
        line-height: 1.4;
      }

    }

    .text{
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;

      @include xs{
        font-size: 16px;
        line-height: 24px;
      }

    }

    .image-content{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

  }

  .info-bottom{
    background: #fff;
    border: 1px solid #3164AA;
    border-radius: 20px;
    overflow: hidden;
    padding: 36px 30px 40px;
    display: flex;
    flex-wrap: wrap;

    @include xs{
      padding: 35px 20px 40px;
    }

    .image-content{
      width: 178px;

      @include xs{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }

      img{
        width: 100%;

        @include xs{
          max-width: 180px;
        }

      }
    }

    .info{
      width: calc(100% - 178px);
      padding-left: 10px;

      @include xs{
        width: 100%;
        padding: 0;
      }

      p{
        font-size: 18px;
        line-height: 28px;
        color: #2A4852;
        font-weight: 400;
        margin-bottom: 12px;

        &:last-child{
          margin-bottom: 0;
        }

      }
    }
  }

}


.pricing{
  padding-bottom: 108px;

  @include xs{
    padding-bottom: 60px;
  }

  .heading-entry{
    margin-bottom: 45px;
  }

  .pricing-content{
    .pricing-scroll{
      overflow: auto;
    }
    .list-style{
      display: flex;
      flex-wrap: wrap;
      width: 1040px;
      margin: auto;
      border: 1px solid #3164AA;
      border-radius: 20px;
      overflow: hidden;

      .item-style{
        width: calc(67.5% / 3);
        text-align: center;
        border-right: 1px solid #3164AA;
        font-size: 16px;
        line-height: 26px;
        font-weight: 700;
        color: #2A4852;

        &:nth-child(1){
          width: 32.5%;
        }

        &:nth-child(2){
          background: rgba(49,100,170,.10);
        }

        &:nth-child(3){
          background: rgba(49,100,170,.20);
        }

        &:nth-child(4){
          background: rgba(49,100,170,.45);
          border-right: 0;
        }

        .title-style-item{
          border-bottom: 1px solid #3164AA;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .title-style.one{
          height: 99px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .lq-style.flex-item{
          display: flex;
          flex-wrap: wrap;
          border-top: 1px solid #3164AA;

          .title-lq{
            border-right: 1px solid #3164AA;
            border-bottom: 1px solid #3164AA;
            width: 113px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .list-lq{
            width: calc(100% - 113px);
          }

        }

        .text-style,
        .item-lp{
          border-bottom: 1px solid #3164AA;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          &.last{
            border-bottom: 0;
            height: 80px;
          }

        }

      }

    }

    .note-style-02{
      max-width: 1040px;
      margin: 25px auto 0;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      color: #2A4852;
    }

  }
}


.edpoke-qa{
  background: #F3F3F3;
  padding-top: 90px;
  padding-bottom: 100px;

  @include xs{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .heading-entry{
    margin-bottom: 40px;
  }

  .qa-content{
    max-width: 850px;
    margin: auto;
  }

  .qa-item{
    margin-bottom: 30px;

    &:last-child{
      margin-bottom: 0;
    }

    .title{
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
      position: relative;

      &:after{
        content: "";
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21.654' height='15.066' viewBox='0 0 21.654 15.066'%3E%3Cpath id='Path_168' data-name='Path 168' d='M19961.465,8504.5l9.41,11.738,9.93-11.738' transform='translate(-19960.295 -8503.531)' fill='none' stroke='%232a4852' stroke-width='3'/%3E%3C/svg%3E%0A");
        width: 22px;
        height: 15px;
        background-repeat: no-repeat;
        top: calc(50% - 7.5px);
        right: 15px;
        transition: .2s;
      }

      &.is-open{
        &:after{
          transform: rotate(-180deg);
        }
      }

      .t1{
        background: #2A4852;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 17px;
        line-height: 20px;
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ttl{
        width: calc(100% - 50px);
        margin-left: 10px;
        font-size: 18px;
        line-height: 28px;
        font-weight: 400;
        padding-top: 8px;
        padding-bottom: 3px;
        border-bottom: 3px solid #fff;
        padding-right: 60px;
      }
    }

    .qa-answer{
      display: none;

      &.is-open{
        display: block;
      }

      .info{
        margin-left: 50px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 12px;
        padding-bottom: 20px;

        .t1{
          background: #2A4852;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          font-size: 17px;
          line-height: 20px;
          color: #fff;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        p{
          width: calc(100% - 50px);
          margin-left: 10px;
          font-size: 18px;
          line-height: 28px;
          font-weight: 400;
        }

      }
    }

  }

}


.banner-mid{
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  background: #F3F3F3;
  padding: 56px 0 60px;
  margin-bottom: 80px;

  @include xs{
    margin-bottom: 60px;
  }

  .banner-inner{
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 0 20px;
  }

  .left-content{
    width: calc(56% - 15px);
    padding-top: 30px;

    @include xs{
      width: 100%;
      margin-bottom: 30px;
      padding-top: 0;
    }

    .ttl{
      font-size: 40px;
      line-height: 44px;
      color: #2A4852;
      font-weight: bold;
      margin-bottom: 40px;
      letter-spacing: -1px;

      @include sm{
        font-size: 26px;
        line-height: 1.4;
      }

      @include xs{
        font-size: 22px;
        line-height: 1.5;
        margin-bottom: 25px;
        letter-spacing: 0;
      }

    }

    .text{
      font-size: 16px;
      line-height: 28px;
      color: #2A4852;
      font-weight: 400;

      @include sm{
        font-size: 14px;
        line-height: 24px;
      }

    }
  }

  .right-content{
    width: calc(44% - 15px);

    @include xs{
      width: 100%;

      img{
        max-width: 400px;
        margin: auto;
        width: 100%;
      }

    }

    .text{
      font-size: 14px;
      line-height: 23px;
      color: #2A4852;
      font-weight: 400;
    }

  }

}

.serviceCloudMaetra{
  .pc-br{
    display: inline;
  }
  .sp-br{
    display: none;
  }
  picture{
    display: block;
    width: 100%;
  }
  //picture img{
  //  width: 100%;
  //}
  
  .fl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .banner-service{
    overflow: hidden;
    picture{
      height: 100%;
    }

    .banner-info{
      .banner-inner{
        .sub-title{
          font-size: 40px;
          margin-bottom: 0;
        }
        .banner-logo{
          max-width: 413px;
          margin:13px 0 60px 0;
        }
        .heading{
          font-size: 60px;
          line-height: 1.48;
          position: relative;
          left: -11px;
        }
        position: relative;
        top: 0px;
      }
    }
  }
  .banner-top{

    .about-content{
      position: relative;
      .about-info{
        .heading-block span{
          margin-bottom: 3px;

          @include xs{
            letter-spacing: 0;
          }

        }
        .title{
          margin-bottom: 23px;
          margin-top: -9px;
        }
      }
    }
  }
  .solution {
    padding-bottom: 40px;
    background: #fff;
    position: relative;
    .link-page a {
      display: flex;
      width: 146px;
      height: 38px;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 40px;
      font-size: 16px;
      line-height: 26px;
      color: #3164AA;

      svg{
        position: relative;
        top: -1px;
        margin-left: 8px;
      }
    }
    .link-page {
      position: absolute;
      bottom: 26px;
      left: 42px;
    }
    .heading-entry{
      margin-bottom: 114px;
      .sub-ttl{
        letter-spacing: normal;
        margin-top: 4px;
        font-size: 40px;
        line-height: 1.5;
        font-weight: 700;
      }
    }
    .solution-item{
      a:hover{
        opacity: .8;
      }
      flex-direction: row-reverse;
      background: #3164AA;
      border-radius: 20px;
      margin-left: 0px;
      min-height: 449px;
      margin-bottom: 80px;
      .box-number{
        background: #E48121;
      }
      .image-content{
        border-radius: 0px 20px 20px 0px;
        width: 50%;
        position: relative;
        .play-button{
          position: absolute;
          width: 120px;
          height: 60px;
          display: block;
          left:50%;
          bottom:155px;
          transform: translateX(-50%);
          z-index: 1;
        }
      }
      .info-content{
        width: 50%;
        padding-top: 82px;
        padding-left: 40px;
        padding-bottom: 27px;
        padding-right: 0px;
        position: relative;

        &.edpoke-info{
          padding-top: 45px;

          @include sm{
            padding: 30px 20px 20px 25px !important;
          }

        }

        .title{
          font-size: 40px;
          line-height: 1.1;
          letter-spacing: normal;
        }
        .t1{
          font-size: 24px;
          line-height: 1.42;
          margin-bottom:14px;
        }
        .text {
          font-size: 18px;
          line-height: 1.56;
          font-weight: normal;
        }
      }
    }
    .solution-item.col-style{
      .info-content{
        width: 100%;
        padding:84px 40.5px 37px;
        .training-list{
          margin-top:42.5px;

          .training-item{
            border-top:1px solid #fff;
            padding:37.5px 0 38.5px 0;
            align-items: center;
            .box-text{
              width: 46.09%;
            }
            .box-img{
              width: calc(100% - 46.09% - 155px);
              picture{
                max-width: 286px;
              }
            }
          }
        }
        .edu-list{
          margin-top:33.5px;
          .edu-item{
            position: relative;
            width: 50%;
            padding-top: 33.5px;
            min-height: 457px;
            .edu-item-inner{
              position: relative;
              left: 10px;
            }
            .label{
              padding: 3px 11px 0px 19px;
              background-color: #fff;
              color: #212e62;
              width: fit-content;
              display: block;
              margin: 14px 0 4px;
              font-weight: 600;
            }
            .text.fl{
              justify-content: flex-start;
              column-gap: 25px;
              span{
                max-width: 53%;
              }
            }
            .link-page{
              bottom: 33px;
            }
          }
          .edu-item:first-child{
            border-right:1px solid #fff;
            .link-page{
              left: 10px;
            }
          }
          .edu-item:last-child{
            .edu-item-inner{
              position: relative;
              left: 42px;
            }
          }
        }
      }
    }
  }
  .step{
    background-color: #F3F3F3;
    padding:83px 0 144px 0;
    .inner{
      .heading-entry{
        text-align: center;
        margin-bottom: 34px;
        .heading-block{
          color:#fff;
          margin-bottom: 9px;
        }
        .sub-ttl{
          color: #2A4852;
          font-weight: 600;
          letter-spacing: normal;
        }
      }
      picture{
        max-width: 947px;
        margin:0 auto;
      }
    }
  }
  .banner-other{
    margin-bottom: 0;
  }
  //.support{
  //  padding-top: 74px;
  //  padding-bottom: 42px;
  //  margin-bottom: 118px;
  //  .reason-info {
  //    width: 44%;
  //  }
  //  .reason-image {
  //    width: 48%;
  //  }
  //}
}

//TRANG VR
#serviceCloudVR{
  //BANNER
  .banner-service{
    .banner-logo {
      margin: 0px 0 52px 0;
    }
  }
  //SOLUTION
  .solution{


    .heading-entry {
      margin-bottom: 120px;
    }
    .solution-item{
      .image-content{
        background: #F0F4FA;
        display: flex;
        align-items: center;

        &.edpoke-img{
          padding: 30px;

          @include xs{
            padding: 30px 20px;
          }
        }

        .image{
          max-width: 450px;
          margin:auto;
          height: auto;

          img{
            position: relative;
          }

        }

        .right-video{
          position: relative;
          padding-bottom: 56%;
          display: block;
          width: 100%;
          margin: auto;
          border-radius: 15px;
          overflow: hidden;

          .div-play{
            position: absolute;
            content: "";
            background-image: url("/wp/wp-content/themes/GMS/assets/css/../../images/service02/epoke_video.png");
            background-position: center;
            background-size: cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
            height: 100%;
            width: 100%;
            cursor: pointer;

            &.open{
              display: none;
            }
          }

          iframe{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }

      }
      .info-content{
        padding-right:40px;
        .note{
          font-size: 16px;
          line-height: 30px;
          margin-top: 20px;
          font-weight: 400;

          @include sm{
            font-size: 13px;
            line-height: 24px;
          }

        }
      }
    }
  }
  //VIDEO
  .step.video{
    padding: 83px 0 81px 0;
    .inner{
      .heading-entry{
        margin-bottom: 42px;
        .sub-ttl {
          font-size: 36px;
          position: relative;
          left: 11px;
          color:#E48121;
        }
      }
      picture {
        max-width: 1040px;
        position: relative;
        left: 0px;
        display: block;
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid #707070;
      }
    }

  }

  //WHY
  .support.why{
    background: #fff;
    padding-top: 97px;
    margin-bottom: 0;
    padding-bottom: 54px;
    .reason-content{
      max-width: 1045px;
      justify-content: space-between;
      .reason-info{
        width: calc(100% - 56.27% - 105px);
        padding-right:0;
        padding-top: 35px;
        .title{
          color: #000;
          letter-spacing: normal;
          margin-bottom: 0px;
        }
        .text{
          color:black;
          font-size:18px;
          letter-spacing: normal;
          margin: 11px 0 0 0;
        }
      }
      .reason-image{
        width: 56.27%;
        .why-list{
          .why-item{
            align-items: center;
            padding: 12.5px 0 12.5px 0;
            border-top: solid 1px #707070;
            .box-img{
              width: 118px;
            }
            .box-text{
              width: calc(100% - 118px - 20px);
              .ttl{
                font-size: 24px;
                line-height: 1.83;
                letter-spacing: normal;
                margin-bottom: 9px;
              }
              .text{
                font-weight: 400;
                font-size: 18px;
                line-height: 1.56;

              }
            }
          }
          .why-item:last-child{
            border-bottom: solid 1px #707070;
          }
        }
      }
    }

  }

  //STEP
  .step{
    padding: 83px 0 80px 0;
    .inner{
      .heading-entry{
        margin-bottom: 22px;
      }
      picture{
        max-width: 860px;
        position: relative;
        left: 10px;
      }
    }
  }
}

//page PARENT MAETRA
#serviceCloudMaetramain{


  .normal-qa{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1280' height='2088.172' viewBox='0 0 1280 2088.172'%3E%3Cg id='Group_1181' data-name='Group 1181' transform='translate(0 313.586)'%3E%3Cpath id='Path_77' data-name='Path 77' d='M37-750H1243c20.435,0,37,21.15,37,47.239v1917.62L0,1226.191V-702.761C0-728.85,16.565-750,37-750Z' transform='translate(0 436.414)' fill='%233164aa'/%3E%3Cpath id='Path_78' data-name='Path 78' d='M637.8-42.819l642.172,83.363V112c0,2.682-45.72,47.053-276.707,45.3S659.362,81.364,349.614,81.364,0,123.4,0,123.4V40.455Z' transform='translate(1280 1731.767) rotate(180)' fill='%233164aa'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: bottom center;
    background-repeat: repeat-x;
    padding-bottom: min(11.33vw, 145px);
    position: relative;

    .normal-qa-inner{
      max-width: 1090px;
      margin: auto;
      padding: 0 20px;
    }

    .about-info{
      margin-bottom: 62px;

      @include xs{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
      }

    }

    .heading-block{
      text-align: center;

      @include xs{
        order: 2;
        justify-content: center;
        display: flex;
      }

      span{
        font-size: min(3.52vw, 45px);
        line-height: 1;
        color: #fff;
        margin-bottom: 8px;

        @include xs{
          font-size: min(5.33vw, 20px);
          line-height: 1.4;
          text-align: center;
          letter-spacing: 0;
        }

      }
      span:after{
        bottom: 17px;
      }
    }
    .title{
      text-align: center;
      font-size:40px;
      color:#fff;

      @include sm{
        font-size: 24px;
      }

      @include xs{
        text-align: center;
        order: 1;
        font-size: min(8.53vw, 32px);
        line-height: 1.375;
        margin-bottom: 8px;
        padding: 0;
        margin-top: 0;
      }

    }
    .asked-question{
      margin-top: 71px;
    }

    .image-list{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 48px;

      @include sm{
        column-gap: 22px;
      }

      @include xs{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
        row-gap: 40px;
        max-width: min(70.4vw, 400px);
        margin: auto;
      }

    }

  }
  .solution{
    padding-top: 105px;
    padding-bottom: 22px;
    .heading-entry{
      margin-bottom: 104px;
      .sub-ttl{
        margin-top: -6px;
        padding-left: 0;
      }
    }
    .solution-item{
      .info-content{
        padding-right: 9px;
        .title{
          margin-bottom:19px;
        }
      }
    }
  }
}




@include md{
  .serviceCloudMaetra .banner-service .banner-info {
    top: calc(50% + 99px);
  }
}

//TABLET
@media(max-width: 1201px){
  .serviceCloudMaetra{
    .inner{
      padding: 0 50px;
    }
    .heading-entry .sub-ttl{
      font-size: 30px;
    }
    //BANNER
    .banner-service .banner-info {
      top: calc(50% + 49px);
    }
    .banner-service .banner-info .banner-inner .banner-logo{
      margin: 13px 0 30px 0;
    }

    //BANNER TOP
    .banner-top{
      padding-bottom: 80px;
      .about-content{
        .about-info{
          .title {
            font-size: 28px;
          }
        }
      }
    }

    //SOLUTION
    .solution{
      .heading-entry{
        margin-bottom: 55px;
        .sub-ttl{
          font-size: 30px;
        }
      }
      .solution-item{
        min-height: 280px;
        margin-bottom: 45px;
        .box-number {
          left:-47px;
        }
        .info-content{
          padding-top: 50px;
          .title {
            font-size: 24px;
            line-height: 1.4;
          }
          .t1 {
            font-size: 15px;
          }
          .text{
            font-size: 14px;
          }
        }
        .image-content .play-button{
          bottom: 115px;
        }
      }
      .solution-item.col-style{
        .info-content{
          padding: 44px 40px 27px;
          .training-list{
            margin-top: 26.5px;
            .training-item{
              padding: 20px 0;
              .box-text {
                width: 64.09%;
              }
              .box-img {
                width: calc(100% - 64.09% - 70px);
              }
            }
          }
          .edu-list{
            .edu-item{
              padding-bottom: 100px;
              padding-top: 10.5px;
              .edu-item-inner{
                left:0;
                .label{
                  margin: 20px 0 20px;
                }
              }
              .text.fl{
                flex-direction: column;
                span{
                  max-width: 253px;
                }
              }
            }
            .edu-item:first-child .edu-item-inner{
              padding-right: 40px;
            }
            .edu-item:first-child .link-page{
              left: 0px;
            }
            .edu-item:last-child .edu-item-inner{
              .text{
                font-size: 13px;
              }
              left: 42px;
              .link-page{
                left: 27px;
              }
            }
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }

    //STEP
    .step {
      padding: 40px 0 70px 0;
    }
  }
  #serviceCloudVR .support.why {
    padding-top: 7px;
    .reason-content{
      row-gap: 50px;
      flex-direction: column;
      .reason-info, .reason-image{
        width: 100%;
      }
    }
  }
  #serviceCloudMaetramain{
    .solution .solution-item {
      min-height: 375px;
    }
  }
}


//MOBILE
@include xs{
  .serviceCloudMaetra{
    .inner{
      padding:0 13px;
    }
    .pc-br{
      display: none;
    }
    .sp-br{
      display: inline;
    }
    //BANNER SERVICES
    .banner-service{
      .banner-info{
        top: unset;
        bottom: 0;
        transform: translateY(0);
        .banner-inner{
          padding: 0 24px 0 30px;
          .banner-logo{
            max-width: 314px;
            margin: 23px 0 181px 0;
          }
          .heading{
            font-size: 38px;
            line-height: 1.47;
            left:0;
            padding:0;
          }
        }
      }
    }

    //BANNER TOP
    .banner-top{
      padding-bottom: 60px;
      padding-top: 98px;
      .about-content{
        .about-info{
          width: 100%;
          margin-bottom: 0px;
          .title{
            font-size: 32px;
            line-height: 1.38;
            margin-bottom: 18px;
            margin-top: -14px;
          }
        }
        .about-image{
          //width: 100%;
        }
      }
    }

    //SOLUTION
    .solution{
      overflow: hidden;

      .inner{
        padding:0;
      }
      .link-page {
        bottom: 28px;
        left: 18px;
      }
      .heading-entry{
        margin-bottom: 60px;
        .sub-ttl{
          font-size: min(8.53vw, 32px);
          line-height: 1.44;
          padding-left: 0px;
          margin-top: 15px;

          @include xs{
            &.edpoke-ttl{
              font-size: 24px;
              margin-top: 0;
            }
          }

        }
      }
      .solution-content{
        .solution-list{
          max-width: calc(100% - 30px);
          margin:0 auto;
          .solution-item{
            margin-bottom: 56px;
            border-radius: 30px;
            flex-direction: column-reverse;
            .image-content{
              border-radius: 0 0px 30px 30px;
              position: relative;
              width: 100%;
              .image img{
                position: static;
              }
              .play-button {
                bottom: 130px;
                width: 80px;
                height: 41px;
              }
            }
            .box-number {
              left: 50%;
              transform: translateX(-50%);
              top: -29px;
              width: 52px;
              height: 52px;
              padding-top: 6px;
              .t1 {
                font-size: 7px;
              }
              .t2 {
                font-size: 21px;
                line-height: 1.2;
              }
            }
            .info-content{
              width: 100%;
              padding-top: 31.2px;
              padding-left: 14px;
              padding-right: 7px;
              padding-bottom: 88px;
              .title {
                font-size: 27px;
                line-height: 1.63;
                margin-bottom: 32px;
              }
              .t1 {
                font-size: 16px;
                line-height: 1.38;
              }
              .text{
                font-size: 16px;
                line-height: 1.75;
              }
            }
          }
          .solution-item.col-style{
            .title{
              line-height: 1.15;
            }
            .info-content{
              padding-bottom: 30px;
              .training-list{
                .training-item{
                  row-gap: 13px;
                  padding: 20px 0 42px 0;
                  .box-text {
                    width: 100%;
                    .t1{
                      margin-bottom: 22px;
                    }
                  }
                  .box-img {
                    width: 100%;
                    picture{
                      margin:0 auto;
                    }
                  }
                }
              }
              .edu-list{
                .edu-item{
                  width: 100%;
                  padding-bottom: 139px;
                  min-height: unset;
                  .t1 {
                    font-size: 20px;
                    line-height: 1.7;
                    margin-bottom: 10px;
                  }
                  .text {
                    font-size: 18px;
                    line-height: 1.56;
                  }
                  .label {
                    margin: 17px 0 5px;
                  }
                  .link-page {
                    bottom: 60px;
                  }
                }
                .edu-item:first-child{
                  border-bottom:1px solid #fff;
                  border-right:none;
                  .edu-item-inner {
                    padding-right: 0px;
                    .text.fl{
                      flex-direction: row;
                    }
                    .text.fl span {
                      max-width: 50%;
                    }
                  }
                }
                .edu-item:last-child{
                  padding-bottom: 72px;
                  .link-page{
                    left:0;
                    bottom: 16px;
                  }
                  .edu-item-inner{
                    left:0;
                    padding-top: 30px;
                    .t1{
                      font-size: 24px;
                    }

                  }

                }
              }
            }
          }
          .solution-item:last-child{
            margin-bottom:0 !important;
          }
        }
      }
    }

    //STEP
    .step{
      padding: 53px 0 69px 0;
      .inner{
        padding:0 13px;
        .heading-entry{
          margin-bottom: 73px;
          .heading-block{
            margin-bottom:3px;
          }
          .sub-ttl{
            line-height: 1.73;
            padding-left:0;
          }
        }
        picture {
          max-width: 285px;
        }
      }

    }
  }



  #serviceCloudVideostep{
    .solution .heading-entry{
      overflow: hidden;
    }
    .solution .heading-entry .sub-ttl{
      width: 384px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  #serviceCloudVR{
    .banner-service .banner-logo {
      margin: 0px 0 151px 0;
    }
    .solution {
      .heading-entry {
        margin-bottom: 69px;
      }
      .solution-content{
        .solution-list{
          .solution-item{
            margin-bottom: 58px;
            .info-content{
              padding-top: 59.2px;
              padding-left: 17px;
              padding-right: 7px;
              padding-bottom: 25px;
              .title{
                margin-bottom: 10px;
              }
            }
            .image-content{
              .image {
                max-width: 298px;
              }
            }
          }
        }
      }
    }

    .step.video{
      padding: 45px 0 81px 0;
      .inner{
        .heading-entry{
          margin-bottom: 80px;
          .sub-ttl{
            line-height: 44px;
            left:0;
          }
        }
        picture img{
          width: 100%;
        }
      }

    }

    .support.why{
      padding-bottom: 69px;
      .reason-content{
        row-gap: 23px;
        .reason-info{
          padding-top: 28px;
          padding-left: 15px;
        }
        .reason-image{
          .why-list{
            .why-item{
              padding: 37.5px 4px 37.5px 8px;
              row-gap: 20px;
              .box-img {
                width: 100%;
                img{
                  max-width: 118px;
                  margin:0 auto;
                  display: block;
                }
              }
              .box-text {
                width: 100%;
                .ttl {
                  font-size: 24px;
                  line-height: 44px;
                }
                .text {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 28px;
                }
              }
            }
          }
        }

      }
    }

    .step {
      padding: 64px 0 67px 0;
      .inner{
        .heading-entry{
          margin-bottom: 36px;
        }
        picture {
          max-width: 259px;
          left: 0;
        }
      }

    }

  }


  #serviceCloudMaetramain{
    .banner-service .banner-info .banner-inner .banner-logo {
      margin: 5px 0 118px 0;
    }
    .normal-qa{
      padding-top: 88px;
      padding-bottom: 122px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='376' height='1923.172' viewBox='0 0 376 1923.172'%3E%3Cg id='Group_1236' data-name='Group 1236' transform='translate(1 -280)'%3E%3Cpath id='Path_184' data-name='Path 184' d='M10.869,0H365.131C371.134,0,376,27.094,376,60.517V1799.741L.975,1813.961,0,60.517C0,27.094,4.866,0,10.869,0Z' transform='translate(-1 280)' fill='%233164aa'/%3E%3Cpath id='Path_185' data-name='Path 185' d='M189.254,0,375.005,83.3V153.74c0,2.682-8.767,48.136-77.307,46.381s-102.047-75.938-193.958-75.938S0,166.22,0,166.22V83.273Z' transform='translate(375 2203.172) rotate(180)' fill='%233164aa'/%3E%3C/g%3E%3C/svg%3E%0A");

      .heading-block span{
        letter-spacing: normal;
      }

      .asked-question {
        margin-top: 52px;
        max-width: calc(100% - 16px);
        margin-left: auto;
        margin-right: auto;
        img{
          width: 100%;
        }
      }
    }


    .solution {
      padding-top: 76px;
      padding-bottom: 60px;
      .heading-entry {
        margin-bottom: 61px;
        .sub-ttl {
          margin-top: 20px;
          padding-left: 0;
          padding-right: 0;
          line-height: 34px;
        }
      }
    }

  }

}


@media(max-width:350px){
  .serviceCloudMaetra{
    .banner-top .about-content .about-info .heading-block span {
      font-size: 40px;
    }
    .banner-service .banner-info .banner-inner {
      padding: 0 ;
    }
    .solution .solution-content .solution-list .solution-item .info-content .title {
      font-size: 22px;
    }
    .solution .solution-content .solution-list .solution-item.col-style .info-content .edu-list .edu-item:first-child .edu-item-inner .text.fl span {
      max-width: 100%;
    }

  }
  #serviceCloudVideostep{
    .solution .heading-entry .sub-ttl{
      width: 100%;
      font-size:25px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}