@use "../_var";

.heading-block{
  span{
    display: inline-block;
    position: relative;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    font-family: "Josefin Sans", serif;
    z-index: 1;
    color: #E48121;

    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 9px;
      background: #E48121;
      bottom: 7px;
      left: 0;
      z-index: -1;
      opacity: 0;
    }

    &.sp-br{
      display: none;
    }

    @include var.xs{
      &.sp-br{
        display: block;
      }

      &.pc-br{
        display: none;
      }
    }

  }

  @include var.sm{

    span{
      font-size: 36px;
      line-height: 1;
    }

  }

  @include var.xs{
    span{
      font-size: 45px;
      line-height: 50px;
    }
  }

}

body:not(.home){
  .banner-top{
    .heading-block{
      span{
        color: #fff;
        letter-spacing: -1px;

        @include var.xs{
          letter-spacing: 0;
        }

      }
    }
  }
}

.heading-entry{
  .sub-ttl{
    font-size: 32px;
    line-height: 43px;
    font-weight: 300;
    color: #173C49;
    text-align: center;
    letter-spacing: 1.6px;
    padding-left: 3px;

    @include var.sm{
      font-size: 22px;
      line-height: 1.34;
    }

    @include var.xs{
      font-size: 32px;
      line-height: 42px;
      padding: 0;
      letter-spacing: 0;
    }

  }
}

.homepage-banner{
  padding-top: 80px;
  background-color: #BEDEE8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1280' height='801.746' viewBox='0 0 1280 801.746'%3E%3Cg id='Group_356' data-name='Group 356' transform='translate(0 1)'%3E%3Crect id='Rectangle_111' data-name='Rectangle 111' width='1280' height='800' fill='%23bedee8'/%3E%3Cg id='Group_355' data-name='Group 355'%3E%3Cpath id='Path_23' data-name='Path 23' d='M0,0,220.875,10.477l464.184,790.27L0,800Z' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_24' data-name='Path 24' d='M824.23,0,558.484,10.477,0,800.746,824.23,800Z' transform='translate(455.77 -1)' fill='%23bedee8' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: bottom center;
  overflow: hidden;

  @include var.xs{
    padding-top: 160px;
    padding-bottom: 15px;
    background-image: url("../images/homepage_bg_main_sp.png");
  }

  .banner-content{
    position: relative;
    padding: 54px 20px 20px;
    max-width: 1224px;
    margin: auto;

    @include var.xs{
      padding: 0 10px;
    }

    .heading{
      position: absolute;
      font-size: 50px;
      line-height: 1.42;
      font-weight: 600;
      color: #2A4852;
      width: 100%;
      left: 0;
      padding: 0 20px 0 54px;
      top: 53.3%;
      transform: translateY(-50%);
      z-index: 2;

      @include var.md{
        font-size: 44px;
        padding-left: 30px;
      }

      @include var.sm{
        font-size: 32px;
      }

      @include var.xs{
        padding: 0;
        font-size: 38px;
        line-height: 51px;
        position: static;
        transform: unset;
        margin-right: -30px;
        width: calc(100% + 30px);
        max-width: calc(100% + 30px);
      }

    }

    .image-content{
      display: flex;
      justify-content: flex-end;
      padding-right: 0px;

      .image{
        display: block;
        width: 100%;
        max-width: 55.66%;

        img{
          width: 100%;
        }
      }

      @include var.xs{
        position: relative;
        padding-top: 6px;
        margin-right: -70px;
        margin-bottom: -2px;

        .image{
          max-width: 100%;
          img{

          }
        }
      }

    }
  }

}

.partners{
  position: relative;
  padding-top: 18px;
  padding-bottom: 10px;

  @include var.xs{
    padding-bottom: 23px;
  }

  .partners-logo{
    overflow: hidden;

    .partners-slider{
      background: url("../images/top_partners_pc.png") repeat-x 50%;
      height: 81px;
      width: 6390px;
      background-size: auto 100%;
      animation: bg-slider 68s linear infinite;
      display: inline-block;
    }

  }
}

@keyframes bg-slider{
  from { background-position: 0 0; }
  to { background-position: -6390px 0; }
}

.about-us{
  background-color: #BEDEE8;
  color: #2A4852;
  position: relative;
  border-radius: 40px 40px 0 0;
  padding-top: 70px;
  padding-bottom: 214px;
  background-image: url("../images/top_about_bg_pc.png");
  background-size: 100%;
  background-position: 100% calc(100% + 2px);
  background-repeat: no-repeat;

  @include var.sm{
    padding-bottom: 150px;
  }

  @include var.xs{
    border-radius: 12px 12px 0 0;
    padding-top: 9px;
    padding-bottom: 98px;
  }

  .about-content{
    max-width: 1030px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;

    @include var.xs{
      padding: 0 15px;
    }

  }

  .about-info{
    width: 60%;
    padding-right: 75px;
    padding-top: 20px;

    .heading-block{
      margin-bottom: 0px;
    }

    .title{
      font-size: 32px;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 5px;
    }

    .ttl{
      font-size: 23px;
      line-height: 1.65;
      font-weight: 600;
      margin-bottom: 9px;
    }

    .text{
      font-size: 16px;
      line-height: 28px;
      font-weight: 300;
    }

    @include var.sm{
      padding-right: 30px;

      .title{
        font-size: 28px;
      }

    }

    @include var.xs{
      width: 100%;
      padding: 0;
      margin-bottom: 66px;

      .title{
        font-size: 32px;
        line-height: 44px;
      }

    }

  }

  .about-image{
    width: calc(40% + 5px);
    position: relative;
    margin-right: -5px;

    img{
      width: 100%;
    }

    @include var.xs{
      width: 100%;
      max-width: 400px;
      margin: auto;
    }

  }

}

.feature{
  position: relative;
  padding-top: 102px;
  padding-bottom: 105px;

  .heading-block{
    text-align: center;
    margin-bottom: 3px;
  }

  .heading-entry{
    margin-bottom: 9px;
  }

  .feature-content{
    background: #BEDEE8;
    border-radius: 32px;
    padding: 34px 30px 31px;
    position: relative;
    z-index: 2;
  }

  @include var.xs{
    padding-top: 56px;
    padding-bottom: 85px;

    .heading-block{
      margin-bottom: 4px;
    }

    .heading-entry{
      margin-bottom: 21px;
    }

    .feature-content{
      border-radius: 20px;
      padding: 30px 30px 32px;
    }

  }

  .feature-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 74px;
    max-width: 932px;
    margin: auto;

    @include var.sm{
      column-gap: 30px;
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      row-gap: 23px;
    }

    .feature-item{
      .image{
        display: flex;
        margin-bottom: 8px;

        img{
          width: 100%;
        }

      }
      .number{
        font-size: 42px;
        line-height: 50px;
        font-weight: bold;
        color: #E48121;
        margin-bottom: 2px;
        text-align: center;
      }

      .text{
        font-size: 23px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        color: #2A4852;
      }

      @include var.sm{
        .text{
          font-size: 18px;
          line-height: 1.3;
        }
      }

      @include var.xs{
        .image{
          display: block;
          max-width: 264px;
          margin: 0 auto 10px;
          padding-left: 4px;
        }

        .text{
          font-size: 23px;
          line-height: 30px;
          font-weight: 600;
        }
      }

    }

  }

}

.line-up{
  background: #f3f3f3;
  position: relative;
  padding-top: 118px;
  padding-bottom: 100px;
  z-index: 2;

  &.assistant{
    margin-bottom: 174px;
    padding-bottom: 110px;

    @include var.xs{
      margin-bottom: 120px;
      padding-bottom: 60px;
    }

  }

  &:before{
    content: "";
    position: absolute;
    background-image: url("../images/bg01_pc.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 180px;
    top: -88px;
    left: 0;
  }

  &:after{
    content: "";
    position: absolute;
    background-image: url("../images/bg02_pc.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 135px;
    bottom: -69px;
    left: 0;
  }

  @include var.xs{
    padding-top: 37px;
    padding-bottom: 45px;

    &:before{
      background-image: url("../images/line_up_bg01_sp.png");
      height: 60px;
      top: -56px;
    }

    &:after{
      background-image: url("../images/line_up_bg02_sp.png");
      height: 60px;
      bottom: -56px;
    }

  }

  .inner{
    position: relative;
    z-index: 3;

    @include var.xs{
      padding: 0 8px;
    }

  }

  .heading-block{
    text-align: center;

    @include var.xs{
      margin-bottom: 3px;
    }

  }

  .heading-entry{
    margin-bottom: 32px;

    @include var.xs{
      margin-bottom: 35px;
    }

  }

  .lineUp-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 41px;
    row-gap: 31px;

    @include var.sm{
      grid-template-columns: repeat(2,1fr);
      column-gap: 30px;
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0px;
      row-gap: 28px;
    }

    .lineUp-item{
      position: relative;
      border-radius: 37px;
      overflow: hidden;
      color: #fff;
      padding-bottom: 61px;

      @include var.md{
        padding-bottom: 72px;
      }

      &:nth-child(1){
        background: #187B9F;

        .link-info{
          a{
            color: #187B9F;
          }
        }

      }

      &:nth-child(2){
        background: #28893E;

        .link-info{
          a{
            color: #28893E;
          }
        }

      }

      &:nth-child(3){
        background: #D05620;

        .link-info{
          a{
            color: #D05620;
          }
        }

      }

      &:nth-child(4){
        background: #B93636;

        .link-info{
          a{
            color: #B93636;
          }
        }

      }

      &:nth-child(5){
        background: #3164AA;

        .link-info{
          a{
            color: #3164AA;
          }
        }

      }

      &:nth-child(6){
        background: #CB468E;

        .link-info{
          a{
            color: #CB468E;
          }
        }

      }

      .image{
        position: relative;
        display: block;
        padding-bottom: 101.5%;

        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      .info{
        padding: 13px 16px 13px 23px;
        min-height: 182px;
      }

      .title{
        font-size: 27px;
        line-height: 36px;
        font-weight: 600;
        letter-spacing: 1.3px;
        margin-bottom: 8px;
      }
      .text{
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        letter-spacing: 0.8px;
      }

      .link-info{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 30px;
        text-align: center;

        a{
          display: flex;
          width: 148px;
          height: 38px;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          background: #fff;
          border-radius: 40px;
          margin: auto;
          padding-left: 2px;
        }

      }

      @include var.xs{
        padding-bottom: 85px;

        .title{
          letter-spacing: 0;
        }

        .text{
          letter-spacing: 0;
        }

        .info{
          padding-right: 20px;
          min-height: 190px;
        }

      }

    }

  }

}

.banner-block{
  padding-top: 75px;
  padding-bottom: 116px;
  position: relative;
  z-index: 3;

  @include var.xs{
    padding-top: 89px;
    padding-bottom: 68px;

    .inner{
      padding: 0 8px;
    }

  }

  .banner-list{
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    position: relative;
    z-index: 2;

    .banner-item{
      position: relative;
      border: 4px solid #0F3745;
      z-index: 2;

      a{
        display: block;
      }

      .image{
        display: block;
        position: relative;
        padding-bottom: 40.5%;
      }

      img{
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .title{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        font-size: 51px;
        line-height: 60px;
        text-align: center;
        color: #fff;
        font-weight: 600;
        letter-spacing: -4px;
        padding-right: 10px;
        padding-bottom: 13px;

        @include var.sm{
          font-size: 35px;
          line-height: 1.17;
          letter-spacing: -2.5px;
        }

        p{
          display: inline-block;
          position: relative;
          z-index: 1;

          &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 7.8px;
            background: #E48121;
            bottom: 2px;
            left: 0;
            z-index: -1;
          }

        }
      }
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0px;
      row-gap: 15px;
    }

  }
}

.reason{
  background-image: url("data:image/svg+xml,%3Csvg id='Group_358' data-name='Group 358' xmlns='http://www.w3.org/2000/svg' width='1280' height='480' viewBox='0 0 1280 480'%3E%3Cpath id='Path_81' data-name='Path 81' d='M0,0H1280V480H0Z' fill='%23e48121'/%3E%3Cpath id='Path_82' data-name='Path 82' d='M0,0H719L562.981,480H0Z' fill='%232a4852'/%3E%3C/svg%3E%0A");
  padding-top: 59px;
  padding-bottom: 66px;
  background-size: cover;
  background-position: center;

  .reason-content{
    max-width: 1030px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .heading-block{
    span{
      color: #fff;
    }
  }

  @include var.xs{
    padding-top: 36px;
    padding-bottom: 45px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='375' height='847.214' viewBox='0 0 375 847.214'%3E%3Cg id='Group_358' data-name='Group 358' transform='translate(10051 452) rotate(90)'%3E%3Cpath id='Path_122' data-name='Path 122' d='M0,0H786.214V375H0Z' transform='translate(-391 9676)' fill='%23e48121'/%3E%3Cpath id='Path_123' data-name='Path 123' d='M0,0H489L442.981,375H0Z' transform='translate(-452 9676)' fill='%232a4852'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: bottom;
    
    .inner{
      padding: 0 10px 0 18px;
    }


  }

  .reason-image{
    width: 41%;
    display: flex;
    justify-content: flex-end;

    @include var.xs{
      width: 100%;
      padding-right: 10px;

      .image{
        width: 100%;
        display: block;
      }

      img{
        width: 100%;
      }

    }

  }

  .reason-info{
    width: 59%;
    padding-right: 40px;
    padding-left: 27px;

    .title{
      font-size: 32px;
      line-height: 48px;
      color: #fff;
      font-weight: 600;
      margin-bottom: 6px;
    }

    .text{
      font-size: 23px;
      line-height: 38px;
      font-weight: 600;
      color: #fff;
    }

    .link-page{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 28px;

      a{
        display: flex;
        width: 240px;
        height: 40px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        font-weight: 600;
        position: relative;
        justify-content: center;
        align-items: center;
        background: #E48121;

        .icon{
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(2){
          background: #1AA1D5;
        }

      }
    }

    @include var.sm{
      padding-left: 0;
      padding-right: 20px;

      .title{
        font-size: 28px;
        line-height: 1.5;
      }

      .text{
        font-size: 18px;
        line-height: 1.65;
      }

    }

    @include var.xs{
      width: 100%;
      padding: 0;
      margin-bottom: 109px;

      .title{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 2px;
      }

      .text{
        font-size: 23px;
        line-height: 38px;
      }

      .link-page{
        margin-top: 12px;
        row-gap: 28px;
        padding-right: 4px;

        a{
          width: 100%;
          height: 58px;
          font-size: 25px;
          padding-right: 10px;

          .icon{
            right: 18px;
          }

        }

      }

    }

  }

}

.reference-qa{
  padding-top: 100px;
  padding-bottom: 105px;

  .heading-block{
    text-align: center;
  }
  .heading-entry{
    margin-bottom: 20px;
  }

  .qa-content{
    border: 1px solid #0F3745;
    border-radius: 32px;
    padding: 72px 40px 60px;
  }

  .qa-list{
    max-width: 996px;
    margin: auto;
  }

  @include var.xs{
    padding-top: 48px;
    padding-bottom: 65px;

    .heading-entry{
      margin-bottom: 18px;
    }

    .qa-content{
      padding: 53px 19px 30px 30px;
    }

  }

  .qa-item{
    border-bottom: 3px solid #0F3745;
    margin-bottom: 40px;

    @include var.xs{
      border-bottom-width: 1px;
    }

    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
    }

    .qa-question{

      .title{
        display: flex;
        //flex-wrap: wrap;
        column-gap: 2px;
        padding-left: 3px;
        padding-bottom: 32px;
        cursor: pointer;
        position: relative;
        padding-right: 50px;

        svg{
          #Line_4{
            transition: .3s;
          }
        }

        &.is-active{
          svg{
            #Line_4{
              opacity: 0;
              transform: translateY(50%);
            }
          }
        }

        .icon-toggle{
          position: absolute;
          right: 0;
          top: 1px;
        }

      }

      .en{
        font-size: 23px;
        line-height: 31px;
        color: #173C49;
        font-weight: 700;
        position: relative;
        bottom: -1px;
      }

      .ttl{
        font-size: 23px;
        line-height: 31px;
        font-weight: 600;
        color: #173C49;
        letter-spacing: 1.2px;
      }

      @include var.sm{

        .en{
          font-size: 18px;
          line-height: 1.4;
        }

        .ttl{
          font-size: 18px;
          line-height: 1.4;
        }
      }

      @include var.xs{

        .title{
          display: block;
          padding-left: 0;
          padding-right: 40px;
          padding-bottom: 26px;

          .icon-toggle{
            top: calc(50% - 19px);
            transform: translateY(-50%);
            right: 2px;
          }

        }

        .ttl{
          font-size: 23px;
          line-height: 38px;
          display: inline;
          letter-spacing: 0;

          .en{
            font-size: 23px;
            line-height: 38px;
            display: inline;
            position: relative;
            top: 0px;
            display: inline;
          }

        }

        .en{
          display: none;
        }

      }

    }

    .answer-content{
      display: none;

      &.is-active{
        display: block;
      }

      .qa-answer{
        display: flex;
        column-gap: 9px;
        border-top: 1px solid #0F3745;
        padding-left: 3px;
        padding-top: 24px;
        padding-bottom: 6px;

        .en{
          font-size: 23px;
          line-height: 31px;
          color: #173C49;
          font-weight: 700;
          position: relative;
          bottom: -1px;
        }

        .text{
          font-size: 23px;
          line-height: 38px;
          font-weight: 300;
          letter-spacing: 1.1px;
        }

        @include var.sm{

          .en{
            font-size: 18px;
            line-height: 1.4;
          }

          .text{
            font-size: 18px;
            line-height: 1.65;
          }

        }

        @include var.xs{
          padding-left: 0;
          padding-bottom: 33px;

          .en{
            font-size: 23px;
            line-height: 38px;
          }

          .text{
            font-size: 23px;
            line-height: 38px;
            letter-spacing: 0;
          }

        }

      }

    }

  }

  .link-page{
    padding-top: 20px;

    a{
      display: flex;
      width: 100%;
      max-width: 240px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background: #0F3745;
      border-radius: 40px;
      margin: auto;
      font-size: 18px;
      line-height: 30px;
      font-weight: 600;
      color: #fff;
      position: relative;
      border: 1px solid #0F3745;
      transition: .3s;

      .icon-arrow{
        position: absolute;
        right: 10px;
      }

      &:hover{
        background: #fff;
        color: #0F3745;
      }

    }
  }

}

.single,
.archive{
  .banner-other{
    margin-bottom: 0;
  }
}

.banner-other{
  background: #BEDEE8;
  padding-top: 79px;
  padding-bottom: 78px;
  margin-bottom: 104px;

  @include var.xs{
    padding-top: 56px;
    padding-bottom: 65px;
    margin-bottom: 0;
  }

  &.assistant{
    margin-bottom: 140px;

    @include var.xs{
      margin-bottom: 90px;
    }

  }

  &.translate{
    background: rgba(42,72,82,.5);
    margin-bottom: 0;
  }

  &.immigration{
    margin-bottom: 130px;
  }

  &.camcat,
  &.life-support,
  &.edpoke,
  &.qa,
  &.contact,
  &.confirm,
  &.download,
  &.seminar,
  &.confirm_download_seminar_movie{
    margin-bottom: 0;
  }

  .banner-list{
    max-width: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

    .banner-item{
      border: 4px solid #173C49;
      position: relative;
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0;
    }

    .info{
      position: absolute;
      width: 100%;
      top: 24px;
      left: 0;
      padding: 0 31px;

      @include var.sm{
        padding: 0 15px;
        top: calc(50% - 20px);
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 350px;
      }

      .title{
        font-size: 51px;
        line-height: 60px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        letter-spacing: -4px;
        padding-right: 5px;
        margin-bottom: 14px;

        span{
          display: inline-block;
          position: relative;
          z-index: 2;

          &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 7px;
            background: #E48121;
            bottom: 3px;
            left: 0;
            z-index: -1;
          }

        }

        @include var.sm{
          font-size: 28px;
          line-height: 1.2;

          span{
            &:after{
              height: 5px;
              bottom: 1px;
            }
          }

        }

        @include var.xs{
          font-size: 35px;
          line-height: 49px;
          letter-spacing: -3px;
          margin-bottom: 6px;

          span{
            &:after{
              bottom: 5px;
            }
          }

        }

      }

      p{
        font-size: 23px;
        line-height: 33px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1.1px;

        @include var.sm{
          font-size: 16px;
          line-height: 1.4;
        }

        @include var.xs{
          letter-spacing: 0;
          padding: 0 5px;
        }

      }

    }

    .link-page{
      position: absolute;
      bottom: 18px;
      right: 16px;

      a{
        display: flex;
        width: 146px;
        height: 38px;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 40px;
        font-size: 16px;
        line-height: 26px;
        color: #173C49;
      }

      @include var.sm{
        bottom: 10px;
        right: 15px;

        a{
          font-size: 14px;
          height: 32px;
        }

      }

      @include var.xs{
        right: 9px;

        a{
          height: 26px;
          width: 100px;
          font-size: 11px;
          line-height: 16px;
        }

      }

    }

  }

}

body:not(.home){
  .contact-bottom{
    margin-top: 130px;

    @include var.xs{
      margin-top: 60px;
    }

  }
}

.contact-bottom{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;

  .contact-info{
    background-color: #173C49;
    width: 45.4%;
    background-image: url("data:image/svg+xml,%3Csvg id='Group_357' data-name='Group 357' xmlns='http://www.w3.org/2000/svg' width='581.833' height='357.971' viewBox='0 0 581.833 357.971'%3E%3Cpath id='Path_72' data-name='Path 72' d='M0,0H581.833V357.637H0Z' fill='%23e48121'/%3E%3Cpath id='Path_27' data-name='Path 27' d='M0,0,98.741,4.684,306.253,357.97,0,357.637Z' transform='translate(0 0)' fill='%23e48121' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_28' data-name='Path 28' d='M368.469,0H250.417L0,357.97l368.469-.334Z' transform='translate(213.364 0)' fill='%23e48121' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: top center;
    position: relative;

    @include var.xs{
      width: 100%;
      padding-top: 74px;
      padding-bottom: 72px;
      background-image: url("data:image/svg+xml,%3Csvg id='Group_508' data-name='Group 508' xmlns='http://www.w3.org/2000/svg' width='375' height='357.971' viewBox='0 0 375 357.971'%3E%3Cpath id='Path_142' data-name='Path 142' d='M0,0H375V357.637H0Z' fill='%23e48121'/%3E%3Cpath id='Path_143' data-name='Path 143' d='M65,0H99.643l206.61,357.97L65,357.637Z' transform='translate(-65 0.001)' fill='%23e48121' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3Cpath id='Path_144' data-name='Path 144' d='M227.469,0h-.052L0,357.97l227.469-.334Z' transform='translate(147.365 0.001)' fill='%23e48121' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'/%3E%3C/svg%3E%0A");
    }

    .info-inner{
      position: absolute;
      width: 100%;
      max-width: 440px;
      top: 52%;
      left: calc(50% - 10px);
      transform: translate(-50%, -50%);
      padding-left: 20px;

      @include var.xs{
        position: static;
        transform: unset;
        padding-left: 15px;
      }

    }

    .info-text{
      p{
        font-size: 24px;
        line-height: 34px;
        color: #fff;
        font-weight: 600;
        letter-spacing: 1.1px;
        margin-bottom: 32px;
      }
    }

    .tel{
      font-size: 40px;
      line-height: 1.25;
      color: #fff;
      font-weight: 600;
    }

    .time{
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      font-weight: 300;
    }

    @include var.sm{
      .info-text{
        p{
          font-size: 18px;
          line-height: 1.4;
          margin-bottom: 24px;
        }
      }

      .tel{
        font-size: 30px;
      }

      .time{
        font-size: 15px;
        line-height: 1.6;
      }

    }

    @include var.xs{
      .info-text{
        p{
          font-size: 24px;
          line-height: 34px;
          letter-spacing: 0;
          margin-bottom: 36px;
        }
      }

      .tel{
        font-size: 40px;
        line-height: 1;
        margin-bottom: 5px;
      }

      .time{
        font-size: 18px;
        line-height: 1.6;
      }

    }

  }

  .box-btn{
    width: 27.3%;
    position: relative;

    img{
      width: 100%;
    }

    .title{
      position: absolute;
      top: 51%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      z-index: 2;
      text-align: center;
      font-size: 32px;
      line-height: 1.375;
      color: #fff;
      font-weight: 600;
      letter-spacing: -2.5px;
      padding-right: 3px;

      @include var.sm{
        font-size: 24px;
      }

      span{
        display: inline-block;
        position: relative;
        z-index: 2;

        &:after{
          content: "";
          position: absolute;
          width: 100%;
          height: 9px;
          bottom: 1px;
          left: 0;
          background: #E48121;
          z-index: -1;

          @include var.sm{
            height: 7px;
          }

        }

        &.blue{
          &:after{
            background: #1AA1D5;
          }

        }

      }

    }

    @include var.xs{
      width: 100%;

      .title{
        font-size: 34px;

        span{
          &:after{
            height: 9px;
          }
        }

      }

    }

  }

}


