@use "../_var";

.heading-block{
  span{
    display: inline-block;
    position: relative;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    font-family: "Josefin Sans", serif;
    z-index: 1;
    color: #E48121;

    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 9px;
      background: #E48121;
      bottom: 7px;
      left: 0;
      z-index: -1;
      opacity: 0;
    }

    &.sp-br{
      display: none;
    }

    @include var.xs{
      &.sp-br{
        display: block;
      }

      &.pc-br{
        display: none;
      }
    }

  }

  @include var.sm{

    span{
      font-size: 36px;
      line-height: 1;
    }

  }

  @include var.xs{
    span{
      font-size: 45px;
      line-height: 50px;
    }
  }

}

body:not(.home){
  .banner-top{
    .heading-block{

      span{
        color: rgba(255,255,255,.18);
        letter-spacing: 0px;
        font-size: min(4.3vw, 55px);
        line-height: 1.145;

        @include var.sm{
          font-size: min(4.6vw, 46px);
        }

        @include var.xs{
          letter-spacing: 0;
          font-size: min(7.47vw, 56px);
          line-height: 1.14;
        }

      }
    }
  }
}

.heading-entry{
  .sub-ttl{
    font-size: 32px;
    line-height: 43px;
    font-weight: 700;
    color: #173C49;
    text-align: center;
    letter-spacing: 1.6px;
    padding-left: 3px;

    @include var.sm{
      font-size: 22px;
      line-height: 1.34;
    }

    @include var.xs{
      font-size: 32px;
      line-height: 42px;
      padding: 0;
      letter-spacing: 0;
    }

  }
}

.homepageBanner-bg{
  background-image: url("data:image/svg+xml,%3Csvg id='Group_495' data-name='Group 495' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1280' height='1606.05' viewBox='0 0 1280 1606.05'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_204' data-name='Rectangle 204' width='1280' height='1606.05' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-2'%3E%3Crect id='Rectangle_203' data-name='Rectangle 203' width='1280' height='1606.051' transform='translate(0 -0.001)' fill='none'/%3E%3C/clipPath%3E%3CclipPath id='clip-path-3'%3E%3Crect id='Rectangle_201' data-name='Rectangle 201' width='1161.57' height='1606.05' fill='none'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_494' data-name='Group 494' clip-path='url(%23clip-path)'%3E%3Cg id='Group_493' data-name='Group 493'%3E%3Cg id='Group_492' data-name='Group 492' clip-path='url(%23clip-path-2)'%3E%3Cpath id='Path_199' data-name='Path 199' d='M0,0V1574.544s39.992-39.007,350.746-39.007,424.036,68.839,655.77,70.466S1280,1566.519,1280,1564.03V0Z' fill='%23bedee8'/%3E%3Cg id='Group_488' data-name='Group 488' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'%3E%3Cg id='Group_487' data-name='Group 487'%3E%3Cg id='Group_486' data-name='Group 486' clip-path='url(%23clip-path-3)'%3E%3Cpath id='Path_200' data-name='Path 200' d='M1006.516,1606c65.923.463,116.465-2.534,155.051-7.115L224.026,0H0V1574.544s39.992-39.007,350.746-39.007,424.036,68.839,655.77,70.466' fill='%23bedee8'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg id='Group_491' data-name='Group 491' opacity='0.293' style='mix-blend-mode: multiply;isolation: isolate'%3E%3Cg id='Group_490' data-name='Group 490'%3E%3Cg id='Group_489' data-name='Group 489' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_201' data-name='Path 201' d='M1009.742,0,0,1431.367v143.177s39.992-39.007,350.746-39.007,424.036,68.839,655.77,70.466S1280,1566.519,1280,1564.03V0Z' fill='%23bedee8'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #F3F3F3;
  padding-bottom: min(10vw, 128px);
  position: relative;
  z-index: 5;

  @include var.xs{
    background-image: url("../images/homepage_bg_main_sp.png");
  }

  .icon-pos{
    //pointer-events: none;
    position: absolute;
    z-index: 2;
  }
  .image-icon01{
    width: min(8.91vw, 114px);
    top: 116px;
    left: 47.7%;
    animation: moveDiagonalRight 2s infinite ease-in-out;

    @include var.xs{
      width: min(17.07vw, 128px);
      left: unset;
      right: 4%;
      top: 126px;
    }

  }
  .image-icon02{
    width: min(6.8vw, 87px);
    top: 123px;
    right: 4.3%;
    animation: spin 8s linear infinite;

    @include var.xs{
      width: min(15.2vw, 114px);
      top: 31.3%;
      right: max(-3.47vw, -26px);
      animation: spin 7s linear infinite;
    }

  }
  .image-icon03{
    width: min(10.7vw, 137px);
    top: 26.5%;
    right: 7.3%;
    animation: moveDiagonal 2s infinite ease-in-out;

    @include var.sm{
      right: 4%;
      top: 30%;
    }

    @include var.xs{
      left: max(-4.53vw, -34px);
      right: unset;
      top: 36.5%;
      width: min(22.4vw, 168px);
      animation: moveDiagonal 2s infinite ease-in-out;
    }
  }
  .image-icon04{
    width: min(13.67vw, 175px);
    top: 27.5%;
    left: 49%;
    animation: moveDiagonalTopLeft 2s infinite ease-in-out;

    @include var.xs{
      width: min(27.2vw, 204px);
      top: 17.4%;
      left: unset;
      right: max(-4.53vw, -34px);
    }

  }
  .image-icon05{
    width: min(25.08vw, 321px);
    top: 32%;
    left: max(-11.17vw, -143px);
    animation: moveDiagonal 2s infinite ease-in-out;

    @include var.sm{
      top: 38%;
    }

    @include var.xs{
      width: min(36.8vw, 276px);
      top: 9.3%;
      left: max(-17.87vw, -134px);
      animation: moveDiagonalRight 2s infinite ease-in-out;
    }

  }
  .image-icon06{
    width: min(12.27vw, 157px);
    top: 71%;
    right: max(-4.69vw, -60px);
    animation: moveDiagonalLeft 2s infinite ease-in-out;

    @include var.xs{
      width: min(15.2vw, 114px);
      top: 70.5%;
      right: unset;
      left: max(-3.47vw, -26px);
      animation: spin2 6s linear infinite;
    }

  }
  .image-icon07{
    width: min(5vw, 64px);
    bottom: min(5vw, 64px);
    right: min(8.28vw, 106px);
    animation: moveDiagonalTopLeft 2s infinite ease-in-out;

    .image{
      position: relative;
      display: block;
      transform: rotate(30deg);
    }

    @include var.xs{
      bottom: 56px;
      right: 14vw;

      .image{
        transform: rotate(0deg);
        width: min(14.4vw, 108px);
      }
    }

  }
  .image-icon08{
    width: min(9.22vw, 118px);
    bottom: 16px;
    left: 36.8%;
    animation: moveLeftToRight 2s infinite ease-in-out;

    @media (max-width: 1440px) {
      left: 28.8%;
    }

    @include var.xs{
      width: min(19.2vw, 144px);
      left: 12.5%;
      bottom: -24px;
    }

  }

}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveDiagonal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveDiagonalRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveDiagonalLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveDiagonalTopLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

@include var.xs{

  @keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(120deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes moveDiagonal {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDiagonalRight {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDiagonalLeft {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveDiagonalTopLeft {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes moveLeftToRight {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(15px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes moveRightToLeft {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }

}

.homepage-banner{
  padding-top: 80px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
  z-index: 3;

  @include var.xs{
    padding-top: 156px;
    padding-bottom: min(4vw, 15px);
    margin-bottom: min(8vw, 30px);
  }

  .banner-content{
    position: relative;
    padding: 54px 20px 20px;
    max-width: min(84.69vw, 1084px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    @include var.xs{
      padding: 0;
      max-width: 100%;
    }
  }

  .image-content{
    width: 58%;
    padding-left: min(3.67vw, 47px);

    @include var.sm{
      padding-left: 0;
    }

    @include var.xs{
      width: 100%;
      padding-left: min(15.47vw, 116px);
      margin-bottom: 6px;
    }

    .image{
      display: block;
      aspect-ratio: 558 / 452;
      //animation: zoomInOut 4s infinite ease-in-out;
    }

    img{
      width: min(43.59vw, 558px);

      @include var.xs{
        width: 100%;
      }

    }

    @keyframes zoomInOut {
      0% {
        transform: scale(1);
      }
      25% {
        transform: scale(1.05) translate(-15px, 15px);
      }
      50% {
        transform: scale(1);
      }
      75% {
        transform: scale(1.15) translate(-15px, -15px);
      }
      100% {
        transform: scale(1);
      }
    }

  }

  .banner-info{
    position: absolute;
    top: 43%;
    right: min(1.48vw, 19px);
    transform: translateY(-50%);

    @include var.xs{
      position: static;
      transform: unset;
      width: 100%;
      max-width: min(69.33vw, 260px);
      margin: auto;
    }

    p{
      font-size: min(1.56vw, 20px);
      color: #173C49;
      line-height: 1;
      font-weight: 600;
      margin-bottom: min(0.63vw, 8px);

      @include var.xs{
        font-size: min(5.33vw, 20px);
        line-height: 1.4;
        text-align: center;
        padding-left: 20px;
        text-indent: -20px;
        margin-bottom: 3px;
      }

    }

    h2{
      color: #173C49;
      font-size: min(4.3vw, 55px);
      line-height: 1.25;
      font-weight: 600;

      @include var.xs{
        font-size: min(10.93vw, 41px);
        line-height: 1.268;
        white-space: nowrap;
      }

    }
  }

}

.partners{
  position: relative;
  padding-top: 18px;
  padding-bottom: 10px;

  @include var.xs{
    padding-bottom: 23px;
  }

  .partners-logo{
    overflow: hidden;

    .partners-slider{
      background: url("../images/top_partners_pc.png") repeat-x 50%;
      height: 81px;
      width: 6390px;
      background-size: auto 100%;
      animation: bg-slider 68s linear infinite;
      display: inline-block;
    }

  }
}

@keyframes bg-slider{
  from { background-position: 0 0; }
  to { background-position: -6390px 0; }
}

.about-us{
  padding-top: min(6.72vw, 86px);
  position: relative;
  padding-bottom: 80px;
  z-index: 3;

  @include var.xs{
    padding-bottom: 65px;
  }

  .about-header{
    text-align: center;
    margin-bottom: min(6.33vw, 81px);

    @include var.xs{
      margin-bottom: 15px;
    }

    .heading{
      font-size: min(4.38vw, 56px);
      line-height: 1;
      color: rgba(255,255,255,.40);
      font-weight: 700;
      margin-bottom: 6px;

      @include var.xs{
        font-size: min(10.4vw, 39px);
        line-height: 1.15;
        max-width: 320px;
        margin: 0 auto 16px;
      }

    }

    .ttl{
      font-size: min(1.56vw, 20px);
      line-height: 1.35;
      color: #173C49;

      @include var.xs{
        font-size: 20px;
        line-height: 27px;
      }

    }
  }

  .text-info{
    position: absolute;
    top: max(-2.03vw, -26px);
    left: 20px;

    .text{
      font-size: min(1.25vw, 16px);
      line-height: 1.625;
      color: #173C49;
      font-weight: 600;
    }

    @include var.xs{
      position: static;
      top: unset;
      left: 0;
      margin-bottom: 32px;

      .text{
        font-size: min(4.27vw, 16px);
        line-height: 1.625;
      }

    }

  }

  .about-info{
    position: relative;
    max-width: 1186px;
    padding: 0 20px;
    margin: auto;

    @include var.xs{
      padding: 0 16px;
    }

  }

  .about-item{
    text-align: center;
    position: absolute;

    @include var.xs{
      position: static;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 322px;
      margin: 0 auto 18px;
      border-radius: 100px;
      overflow: hidden;
      background: rgba(255,255,255,.25);
      text-align: left;

      .info{
        width: calc(100% - 111px);
        padding-left: 17px;
      }

    }

    &.item01{
      top: 61.7%;
      left: min(7.11vw, 91px);

      @include var.xs{
        text-align: center;

        .info{
          padding-left: 0;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          padding-top: 2px;
          padding-right: 12px;
        }

        .t1{
          display: inline;
        }
        .t2{
          display: inline;
        }
      }

    }

    &.item02{
      top: max(-2.97vw, -38px);
      right: min(8.83vw, 113px);

      .image{
        margin-bottom: min(1.41vw, 18px);
      }

      .t1{
        margin-bottom: 5px;

        @include var.xs{
          margin-bottom: 0;
          display: block;
        }
      }

      .t2{
        font-size: min(1.72vw, 22px);
        line-height: 1.09;

        @include var.xs{
          font-size: 22px;
          line-height: 26px;
          display: block;
        }
      }
    }

    &.item03{
      top: 61.7%;
      right: min(8.83vw, 113px);
    }

    .image{
      display: block;
      margin-bottom: min(1.09vw, 14px);
      aspect-ratio: 201 / 201;
      width: min(15.7vw, 201px);

      img{
        width: min(15.7vw, 201px);
      }

      @include var.xs{
        width: 111px;
        margin: 0 !important;
        display: flex;

        img{
          width: 100%;
        }

      }
    }

    .t1{
      font-size: min(1.25vw, 16px);
      line-height: 1.15;
      color: #173C49;
      font-weight: 600;
      margin-bottom: 2px;

      @include var.xs{
        font-size: 16px;
        line-height: 20px;
      }

    }

    .t2{
      font-size: min(2.03vw, 26px);
      line-height: 1.15;
      color: #173C49;
      font-weight: 600;

      @include var.xs{
        font-size: 22px;
        line-height: 30px;
      }

    }
  }

  .about-image{
    text-align: center;
    padding-right: min(2.34vw, 30px);

    @include var.xs{
      padding: 0 2px;
      margin-bottom: 35px;
    }

    picture{
      aspect-ratio: 512 / 486;
      display: block;
      max-width: min(40vw, 512px);
      margin: auto;

      @include var.xs{
        max-width: 100%;
      }
    }

    img{
      width: min(40vw, 512px);

      @include var.xs{
        width: 100%;
      }
    }
  }

}

.feature{
  position: relative;
  padding-top: 102px;
  padding-bottom: 105px;

  .heading-block{
    text-align: center;
    margin-bottom: 3px;
  }

  .heading-entry{
    margin-bottom: 9px;
  }

  .feature-content{
    background: #BEDEE8;
    border-radius: 32px;
    padding: 34px 30px 31px;
    position: relative;
    z-index: 2;
  }

  @include var.xs{
    padding-top: 56px;
    padding-bottom: 85px;

    .heading-block{
      margin-bottom: 4px;
    }

    .heading-entry{
      margin-bottom: 21px;
    }

    .feature-content{
      border-radius: 20px;
      padding: 30px 30px 32px;
    }

  }

  .feature-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 74px;
    max-width: 932px;
    margin: auto;

    @include var.sm{
      column-gap: 30px;
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      row-gap: 23px;
    }

    .feature-item{
      .image{
        display: flex;
        margin-bottom: 8px;

        img{
          width: 100%;
        }

      }
      .number{
        font-size: 42px;
        line-height: 50px;
        font-weight: bold;
        color: #E48121;
        margin-bottom: 2px;
        text-align: center;
      }

      .text{
        font-size: 23px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        color: #2A4852;
      }

      @include var.sm{
        .text{
          font-size: 18px;
          line-height: 1.3;
        }
      }

      @include var.xs{
        .image{
          display: block;
          max-width: 264px;
          margin: 0 auto 10px;
          padding-left: 4px;
        }

        .text{
          font-size: 23px;
          line-height: 30px;
          font-weight: 600;
        }
      }

    }

  }

}

body:not(.home){
  .line-up{
    padding-top: 105px;
    padding-bottom: 85px;

    @include var.xs{
      padding-top: 62px;
      padding-bottom: 50px;
    }
  }
}

.line-up{
  background: #f3f3f3;
  position: relative;
  padding-top: 154px;
  padding-bottom: 63px;
  z-index: 2;

  @include var.sm{
    padding-top: 100px;
  }

  .heading-entry{
    .heading-block{
      margin-bottom: 9px;

      @include var.xs{
        margin-bottom: 14px;
      }
    }

    .sub-ttl{
      font-size: 20px;
      line-height: 1.625;
      letter-spacing: 0;

      @include var.xs{
        padding: 0 20px;
        line-height: 1.4;
      }
    }
  }

  @include var.xs{
    padding-top: 81px;
    padding-bottom: 45px;

    &:before{
      background-image: url("../images/line_up_bg01_sp.png");
      height: 60px;
      top: -56px;
    }

    &:after{
      background-image: url("../images/line_up_bg02_sp.png");
      height: 60px;
      bottom: -56px;
    }

  }

  .inner{
    position: relative;
    z-index: 3;

    @include var.xs{
      padding: 0;
    }

  }

  .heading-block{
    text-align: center;

    @include var.xs{
      margin-bottom: 3px;
    }

  }

  .heading-entry{
    margin-bottom: 62px;

    @include var.xs{
      margin-bottom: 45px;
    }

  }

  .lineUp-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 46px;
    row-gap: 45px;

    @include var.sm{
      column-gap: 18px;
    }

    @include var.xs{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      column-gap: 0px;
      row-gap: 28px;
    }

    .lineUp-item{
      position: relative;
      border-radius: 37px;
      overflow: hidden;
      color: #fff;
      padding-bottom: 56px;
      width: calc(33.33% - 30.7px);

      @include var.sm{
        width: calc(33.33% - 12px);
        padding-bottom: 65px;
      }

      @include var.xs{
        width: 100% !important;
        border-radius: 0;
        padding-bottom: 0;
      }

      &:nth-child(1){
        background: #2D799B;
        width: calc(50% - 23px);

        @include var.sm{
          width: calc(50% - 9px);
        }

        @include var.xs{
          background: transparent;

          .info{
            background: #2D799B;
          }
        }

        .image{
          padding-bottom: 51.5%;
        }

        .title{
          font-size: 38px;
          line-height: 50px;

          @include var.sm{
            font-size: 22px;
            line-height: 1.3;
          }

          @include var.xs{
            font-size: min(8.53vw, 32px) !important;
            line-height: 1.625 !important;
            text-align: center;
          }

        }

        .info{
          padding: 32px 50px;

          @include var.sm{
            padding: 32px 35px;
          }

        }

        .link-info{
          a{
            color: #2D799B;
          }
        }

      }

      &:nth-child(2){
        background: #369B4D;
        width: calc(50% - 23px);

        @include var.sm{
          width: calc(50% - 9px);
        }

        @include var.xs{
          background: transparent;

          .info{
            background: #369B4D;
          }
        }

        .image{
          padding-bottom: 51.5%;
        }

        .info{
          padding: 34px 40px 32px 45px;

          @include var.sm{
            padding: 32px 35px;
          }

          @include var.xs{
            padding: 15px 20px;
          }

        }

        .title{
          font-size: 38px;
          line-height: 50px;

          @include var.sm{
            font-size: 22px;
            line-height: 1.3;
          }

        }

        .link-info{
          a{
            color: #369B4D;
          }
        }

      }

      &:nth-child(3){
        background: #D05620;

        @include var.xs{
          background: transparent;

          .info{
            background: #D05620;
          }
        }

        .link-info{
          a{
            color: #D05620;
          }
        }

      }

      &:nth-child(4){
        background: #B93636;

        @include var.xs{
          background: transparent;

          .info{
            background: #B93636;
          }
        }

        .link-info{
          a{
            color: #B93636;
          }
        }

      }

      &:nth-child(5){
        background: #3164AA;

        @include var.xs{
          background: transparent;

          .info{
            background: #3164AA;
          }
        }

        .link-info{
          a{
            color: #3164AA;
          }
        }

      }

      &:nth-child(6){
        background: #CB468E;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;

        @include var.xs{
          background: transparent;

          .info{
            background: #CB468E;
          }
        }

        .title{
          margin-bottom: 16px;
        }

        .image{
          width: 58.8%;
          padding-bottom: 27.5%;

          @include var.xs{
            width: 100%;
          }

        }

        .info{
          width: 41.2%;
          position: relative;
          padding: 50px 50px 90px 60px;

          @include var.sm{
            padding: 30px 30px 90px;
          }

          @include var.xs{
            width: 100%;
            padding: 15px 20px;
            position: static;

            .title{
              font-size: 27px !important;
              line-height: 1.4 !important;
            }

          }

        }

        .link-info{
          padding: 0 60px;
          a{
            color: #CB468E;
            margin: 0;

            @include var.xs{
              margin: auto;
            }

          }
        }

      }

      .image{
        position: relative;
        display: block;
        padding-bottom: 86%;

        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @include var.xs{
          //padding-bottom: 80% !important;
          aspect-ratio: 375 / 300;

          img{
            object-position: top center;
          }

        }

      }

      .info{
        padding: 30px 30px 34px 30px;
        min-height: 182px;

        @include var.sm{
          padding: 15px 20px 13px;
        }

        @include var.xs{
          min-height: unset;
          width: calc(100% - 44px) !important;
          margin: -54px auto 0;
          position: relative;
          z-index: 2;
          border-radius: 20px;
          padding: 25px 26px 30px 24px !important;
        }

      }

      .title{
        font-size: 27px;
        line-height: 1.33;
        font-weight: 600;
        letter-spacing: 1.3px;
        margin-bottom: 8px;

        @include var.sm{
          font-size: 22px;
        }

      }
      .text{
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;

        @include var.sm{
          font-size: 14px;
        }

        @include var.xs{
          font-size: 16px;
          line-height: 1.5;
        }

      }

      .link-info{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 38px;
        text-align: center;

        @include var.sm{
          bottom: 26px;
        }

        @include var.xs{
          position: static;
          margin-top: 17px;
        }

        a{
          display: flex;
          width: 148px;
          height: 38px;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          background: #fff;
          border-radius: 40px;
          margin: auto;
          padding-left: 2px;

          &:hover{
            opacity: .7;
          }

          svg{
            margin-left: 8px;
            position: relative;
            top: -1px;
          }

        }

      }

      @include var.xs{

        .title{
          letter-spacing: 0;
          font-size: min(8.53vw, 32px) !important;
          line-height: 1.625 !important;
          text-align: center;
        }

        .text{
          letter-spacing: 0;
        }

      }

    }

  }

}

.banner-block{
  padding-top: 72px;
  padding-bottom: 62px;
  position: relative;
  z-index: 3;
  background: #BEDEE8;

  @include var.xs{
    padding-top: 38px;
    padding-bottom: 34px;

    .inner{
      padding: 0 10px;
    }

  }

  .banner-list{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 45px;
    position: relative;
    z-index: 2;

    @include var.sm{
      column-gap: 25px;
    }

    .banner-item{
      position: relative;
      z-index: 2;
      border-radius: 32px;
      overflow: hidden;

      a{
        display: block;
      }

      .image{
        display: block;
        position: relative;
        //padding-bottom: 46.2%;
        aspect-ratio: 548 / 252;

        @include var.xs{
          //padding-bottom: 42%;
          aspect-ratio: 355 / 149;
        }

      }

      img{
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .title{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        font-size: min(2.66vw, 34px);
        line-height: 1.35;
        text-align: center;
        color: #fff;
        font-weight: 600;
        letter-spacing: -4px;

        @include var.xs{
          font-size: min(5.87vw, 44px);
          letter-spacing: 1px;
          padding-right: 5px;
        }

        p{
          display: inline-block;
          position: relative;
          z-index: 1;
        }
      }
    }

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0px;
      row-gap: 30px;
    }

  }
}

.reason{
  background: #3A7184;
  padding-top: 82px;
  padding-bottom: 90px;

  .reason-content{
    max-width: 1030px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .heading-block{
    span{
      color: rgba(131,194,216,.20);
      font-size: min(6.09vw, 78px);
      line-height: 0.8;

      @include var.sm{
        font-size: min(7.09vw, 78px);
      }

      @include var.xs{
        font-size: 61px;
        line-height: 1.1;
      }
    }
  }

  @include var.xs{
    padding-top: 40px;
    padding-bottom: 42px;
    
    .inner{
      padding: 0 16px 0 16px;
    }


  }

  .reason-image{
    width: 59%;

    @include var.xs{
      width: 100%;
    }

    .reasonInfo-list{
      position: relative;

      &:before{
        content: "";
        position: absolute;
        width: 43%;
        height: 100%;
        background: rgba(131,194,216,.30);
        top: 0;
        left: 0;
        mix-blend-mode: multiply;

        @include var.xs{
          display: none;
        }
      }

    }

    .reasonInfo-item{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: #fff;
      border-top: 1px solid rgba(131,194,216,.50);
      position: relative;
      z-index: 2;

      @include var.xs{
        padding-top: 21px;
        padding-bottom: 10px;
      }

      &:last-child{
        border-bottom: 1px solid rgba(131,194,216,.50);
      }

    }
    .title{
      width: 43%;
      text-align: center;

      @include var.xs{
        width: 100%;
        margin-bottom: 3px;
      }

      .t1{
        font-size: min(2.11vw, 27px);
        line-height: 1;
        font-weight: 600;

        &.icon:after{
          content: "※";
          position: relative;
          font-size: min(0.94vw, 12px);
          line-height: 1;
          font-weight: 300;
          top: max(-0.63vw, -8px);
          margin-left: 10px;
        }

        @include var.xs{
          font-size: 27px;
          line-height: 1;

          &.icon:after{
            font-size: 12px;
            top: -8px;
          }
        }

      }

      .note{
        font-size: min(0.94vw, 12px);
        line-height: 1.2;
        margin-top: 6px;
        font-weight: 300;

        @include var.xs{
          display: none;
        }
      }
    }

    .number-info{
      width: 57%;
      padding: 21px 20px 9px 40px;

      p{
        font-size: min(2.73vw, 35px);
        line-height: 1.37;
      }
      span{
        font-size: min(5.94vw, 76px);
        line-height: 1;
        padding-right: 5px;
      }

      @include var.xs{
        width: 100%;
        padding: 0;
        text-align: center;

        span{
          font-size: 76px;
        }

        p{
          font-size: 35px;
        }

        .note{
          font-size: 12px;
          line-height: 15px;
          font-weight: 300;
          position: relative;
          margin-top: -8px;
        }

      }

    }

  }

  .reason-info{
    width: 41%;
    padding-right: 40px;
    padding-left: 13px;
    padding-top: 7px;

    .title{
      font-size: min(2.97vw, 38px);
      line-height: 1.315;
      color: #fff;
      font-weight: 600;
      margin-bottom: min(1.33vw, 17px);
    }

    .text{
      font-size: 16px;
      line-height: 1.625;
      font-weight: 600;
      color: #fff;
    }

    .link-page{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 28px;

      a{
        display: flex;
        width: 240px;
        height: 40px;
        border-radius: 40px;
        font-size: 18px;
        line-height: 30px;
        color: #173C49;
        font-weight: 600;
        position: relative;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: .3s;

        .icon{
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover{
          background: #173C49;
          color: #fff;
        }

      }
    }

    @include var.sm{
      padding-left: 0;
      padding-right: 20px;

      .title{
        font-size: 28px;
        line-height: 1.5;
      }

      .text{
        font-size: 14px;
      }

    }

    @include var.xs{
      width: 100%;
      padding: 0;
      margin-bottom: 44px;
      text-align: center;

      .title{
        font-size: 38px;
        line-height: 50px;
        margin-bottom: 5px;
      }

      .text{
        font-size: 16px;
        line-height: 26px;
      }

      .link-page{
        margin-top: 27px;
        row-gap: 20px;

        a{
          width: 100%;
          max-width: 240px;
          height: 40px;
          font-size: 18px;
          margin: auto;

          .icon{
            right: 10px;
          }

        }

      }

    }

  }

}

.reference-qa{
  padding-top: 100px;
  padding-bottom: 105px;

  .heading-block{
    text-align: center;
  }
  .heading-entry{
    margin-bottom: 20px;
  }

  .qa-content{
    border: 1px solid #0F3745;
    border-radius: 32px;
    padding: 72px 40px 60px;
  }

  .qa-list{
    max-width: 996px;
    margin: auto;
  }

  @include var.xs{
    padding-top: 48px;
    padding-bottom: 65px;

    .heading-entry{
      margin-bottom: 18px;
    }

    .qa-content{
      padding: 53px 19px 30px 30px;
    }

  }

  .qa-item{
    border-bottom: 3px solid #0F3745;
    margin-bottom: 40px;

    @include var.xs{
      border-bottom-width: 1px;
    }

    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
    }

    .qa-question{

      .title{
        display: flex;
        //flex-wrap: wrap;
        column-gap: 2px;
        padding-left: 3px;
        padding-bottom: 32px;
        cursor: pointer;
        position: relative;
        padding-right: 50px;

        svg{
          #Line_4{
            transition: .3s;
          }
        }

        &.is-active{
          svg{
            #Line_4{
              opacity: 0;
              transform: translateY(50%);
            }
          }
        }

        .icon-toggle{
          position: absolute;
          right: 0;
          top: 1px;
        }

      }

      .en{
        font-size: 23px;
        line-height: 31px;
        color: #173C49;
        font-weight: 700;
        position: relative;
        bottom: -1px;
      }

      .ttl{
        font-size: 23px;
        line-height: 31px;
        font-weight: 600;
        color: #173C49;
        letter-spacing: 1.2px;
      }

      @include var.sm{

        .en{
          font-size: 18px;
          line-height: 1.4;
        }

        .ttl{
          font-size: 18px;
          line-height: 1.4;
        }
      }

      @include var.xs{

        .title{
          display: block;
          padding-left: 0;
          padding-right: 40px;
          padding-bottom: 26px;

          .icon-toggle{
            top: calc(50% - 19px);
            transform: translateY(-50%);
            right: 2px;
          }

        }

        .ttl{
          font-size: 23px;
          line-height: 38px;
          display: inline;
          letter-spacing: 0;

          .en{
            font-size: 23px;
            line-height: 38px;
            display: inline;
            position: relative;
            top: 0px;
            display: inline;
          }

        }

        .en{
          display: none;
        }

      }

    }

    .answer-content{
      display: none;

      &.is-active{
        display: block;
      }

      .qa-answer{
        display: flex;
        column-gap: 9px;
        border-top: 1px solid #0F3745;
        padding-left: 3px;
        padding-top: 24px;
        padding-bottom: 6px;

        .en{
          font-size: 23px;
          line-height: 31px;
          color: #173C49;
          font-weight: 700;
          position: relative;
          bottom: -1px;
        }

        p{
          font-size: 23px;
          line-height: 38px;
          font-weight: 300;
          letter-spacing: 1.1px;
        }

        @include var.sm{

          .en{
            font-size: 18px;
            line-height: 1.4;
          }

          .text{
            font-size: 18px;
            line-height: 1.65;
          }

        }

        @include var.xs{
          padding-left: 0;
          padding-bottom: 33px;

          .en{
            font-size: 23px;
            line-height: 38px;
          }

          .text{
            font-size: 23px;
            line-height: 38px;
            letter-spacing: 0;
          }

        }

      }

      .link-page{
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-end;

        a{
          margin: 0;
          max-width: 170px;
        }
      }

    }

  }

  .link-page{
    padding-top: 20px;

    a{
      display: flex;
      width: 100%;
      max-width: 240px;
      height: 40px;
      align-items: center;
      justify-content: center;
      background: #0F3745;
      border-radius: 40px;
      margin: auto;
      font-size: 18px;
      line-height: 30px;
      font-weight: 600;
      color: #fff;
      position: relative;
      border: 1px solid #0F3745;
      transition: .3s;

      .icon-arrow{
        position: absolute;
        right: 10px;
      }

      &:hover{
        background: #fff;
        color: #0F3745;
      }

    }
  }

}

.single,
.archive{
  .banner-other{
    margin-bottom: 0;
  }
}

.banner-other{
  background: #3A7184;
  padding-top: 66px;
  padding-bottom: 63px;

  @include var.xs{
    padding-top: 62px;
    padding-bottom: 61px;
    margin-bottom: 0;
  }

  &.translate{
    background: rgba(42,72,82,.5);
    margin-bottom: 0;
  }

  &.camcat,
  &.life-support,
  &.edpoke,
  &.qa,
  &.contact,
  &.confirm,
  &.download,
  &.seminar,
  &.confirm_download_seminar_movie{
    margin-bottom: 0;
  }

  .banner-list{
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;

    @include var.xs{
      grid-template-columns: repeat(1,1fr);
      column-gap: 0;
      gap: 20px;
    }

    .banner-item{
      background: #fff;
      border-radius: 32px;
      overflow: hidden;
      padding: 26px 31px 64px;
      position: relative;

      @include var.xs{
        padding-bottom: 29px;
      }

      .image{
        display: block;
        text-align: center;
        margin-bottom: 5px;

        @include var.xs{
          margin-bottom: 12px;
        }
      }
    }

    .info{
      width: 100%;
      margin-bottom: 12px;

      .title{
        font-size: 30px;
        line-height: 40px;
        color: #173C49;
        font-weight: 600;
        text-align: center;
        margin-bottom: 14px;
        letter-spacing: 2px;

        span{
          display: inline-block;
          position: relative;
          z-index: 2;

          &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 7px;
            background: #E48121;
            bottom: 3px;
            left: 0;
            z-index: -1;
          }

        }

        @include var.sm{
          font-size: 28px;
          line-height: 1.2;

          span{
            &:after{
              height: 5px;
              bottom: 1px;
            }
          }

        }

        @include var.xs{
          font-size: 30px;
          line-height: 1;
          margin-bottom: 16px;

          span{
            &:after{
              bottom: 5px;
            }
          }

        }

      }

      p{
        font-size: 16px;
        line-height: 1.4;
        color: #173C49;
        font-weight: 300;
        text-align: center;

        @include var.sm{
          font-size: 16px;
          line-height: 1.4;
        }

        @include var.xs{
          font-size: min(4.27vw, 16px);
          line-height: 1.4375;
          letter-spacing: 0;
          padding: 0;
        }

      }

    }

    .link-page{
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
      bottom: 26px;
      left: 0;

      @include var.xs{
        position: static;
      }

      a{
        display: flex;
        width: 146px;
        height: 38px;
        align-items: center;
        justify-content: center;
        background: #CFE6EA;
        border-radius: 40px;
        font-size: 16px;
        line-height: 26px;
        color: #2C525F;

        &:hover{
          opacity: .7;
        }

      }

    }

  }

}


.home{
  .contact-bottom{
    padding-top: 5px;
    padding-bottom: 41px;

    @include var.xs{
      padding-top: 0;
    }

  }
}

.contact-bottom{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 3;
  background-color: #3a7184;
  padding-bottom: 66px;
  padding-top: 68px;

  @include var.xs{
    padding-bottom: 51px;
    padding-top: 45px;
  }

  .contact-info{
    width: 41%;
    position: relative;
    padding-right: 40px;

    @include var.sm{
      padding-right: 30px;
    }

    @include var.xs{
      width: 100%;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0;
      margin-bottom: 39px;
    }

    .info-text{
      border-bottom: 1px solid rgba(255,255,255,.30);
      padding-bottom: 16px;
      margin-bottom: 16px;

      @include var.xs{
        padding-bottom: 19px;
        margin-bottom: 18px;
      }

      p{
        font-size: 24px;
        line-height: 34px;
        color: #fff;
        font-weight: 600;
      }
    }

    .tel{
      font-size: 40px;
      line-height: 1.25;
      color: #fff;
      font-weight: 600;
    }

    .time{
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      font-weight: 300;
    }

    @include var.sm{
      .info-text{
        p{
          font-size: 16px;
          line-height: 1.4;
        }
      }

      .tel{
        font-size: 30px;
      }

      .time{
        font-size: 15px;
        line-height: 1.6;
      }

    }

    @include var.xs{
      .info-text{
        p{
          font-size: 22px;
          line-height: 31px;
          letter-spacing: 0;
          font-weight: 300;
        }
      }

      .tel{
        font-size: 38px;
        line-height: 1;
        margin-bottom: 5px;
      }

      .time{
        font-size: 17px;
        line-height: 1.6;
      }

    }

  }

  .inner{
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    align-items: center;

    @include var.xs{
      padding: 0 20px;
    }

  }

  .contact-btn-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 25px;
    width: 59%;
    padding-top: 3px;

    @include var.xs{
      grid-template-columns: repeat(1, 1fr);
      column-gap: 0;
      width: 100%;
      padding: 0 10px;
      row-gap: 16px;
    }

    a{
      width: 100%;
    }

    a:hover{
      img{
        transform: scale(1.1);
      }
    }

    picture{
      display: block;
      border-radius: 32px;
      overflow: hidden;
      margin-bottom: 18px;

      img{
        transition: .3s;
        width: 100%;
      }

      @include var.xs{
        margin-bottom: 10px;
      }
    }

    .title{
      font-size: 20px;
      line-height: 1.35;
      text-align: center;
      font-weight: 300;
      color: #fff;

      @include var.sm{
        font-size: 16px;
      }

      @include var.xs{
        font-size: 20px;
      }

    }

  }


}


